@{
    ViewBag.Title = "采购磅单>>补增";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script type="text/javascript">
    var KeyValue = GetQuery('KeyValue'); //主键
    var ModuleId = GetQuery('ModuleId'); //菜单主键
    var op = GetQuery('op'); //操作类型
    $(function () {

        if (!!KeyValue) {
            //信息
            InitControl();
        }
    })

    function SelectMyMaterial(txtname, txtid, txtspec, txtcode, title) {
        if (title == "") {
            title = "选取物料信息";
        }
        var url = "/Utility/SelectMaterial?type=5";
        openMyDialog(url, "Form11111", title, 800, 380,
             function (iframe) {
                 top.frames[iframe].SelectText4(txtname, txtid, txtspec, txtcode);
             }, function (iframe) {
                 top.frames[iframe].CloseDialog();
             });
    }
    //保存事件
    function SubmitOrderForm() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        confirmDialog('提示', '注：您确认要保存此操作吗？', function (r) {
            if (r) {
                Loading(true, "正在提交数据...");
                window.setTimeout(function () {
                    var postData = GetWebControls("#tb_OrderFrom");
                    postData["OrderEntryJson"] = GetTableDataJson("#gridTable");
                    AjaxJson("/WeightManager/WeightPDCBZ/SubmitOrderForm?KeyValue=" + KeyValue + "&ModuleId=" + ModuleId, postData, function (data) {
                        tipDialog(data.Message, 3, data.Code);
                        var tabframeid = "tabs_iframe_" + ModuleId;
                        top.frames[tabframeid].windowload();
                        ThisCloseTab();
                    });
                }, 200);
            }
        });
    }
    function GetRealTimeData() {
        var STATIONID = $("#STATIONID").val();
        var BeginDate = $("#BEGINDATE").val();
        var EndDate = $("#ENDDATE").val();
        AjaxJson("/WeightManager/WeightPDCBZ/GetRealTimeData", { STATIONID: STATIONID, BeginDate: BeginDate, EndDate: EndDate }, function (data) {
            $("#FACTAMOUNT").val(data.FACTAMOUNT);
        });
    }
</script>
<form id="form1" style="margin: 1px">
<div class="tools_bar" style="margin-top: 1px; margin-bottom: 1px;">
    <a id="lr-replace" class="tools_btn" title="刷新当前(Ctrl+Q)" onclick="Replace()"><span>
        <b style='background: url(@Url.Content("~/Content/Images/Icon16/arrow_refresh.png")) no-repeat 50% 4px;'>
            刷新</b></span></a> <a id="button_Commit_Save" title="保存单据" onclick="SubmitOrderForm()"
                class="tools_btn"><span><b style="background: url(@Url.Content("~/Content/Images/Icon16/disk.png")) 50% 4px no-repeat;">
                    保存</b></span></a> <a title="取数" onclick="GetRealTimeData()" class="tools_btn"><span><b style="background: url(@Url.Content("~/Content/Images/Icon16/ok.png")) 50% 4px no-repeat;">
                        取数</b></span></a><a title="关闭当前窗口(Esc)" onclick="ThisCloseTab()" class="tools_btn">
                            <span><b style="background: url(@Url.Content("~/Content/Images/Icon16/back.png")) 50% 4px no-repeat;">
                                离开</b></span></a>
</div>
<table id="tb_OrderFrom" class="form">
    <tr>
        <th class="formTitle">
            计量单号：
        </th>
        <td class="formValue">
            <input id="BILLNO" maxlength="50" type="text" class="txt readonly" datacol="yes" readonly=readonly
                    err="计量单号" checkexpession="NotNull"  value="@ViewBag.BillNo"/>
        </td>
        <th class="formTitle">
            发货单位：
        </th>
        <td class="formValue">
            <input id="PK_SENDUNITID" type="hidden" value="1001E510000000000A9L" />
            <input id="SENDUNITNAME" type="text" class="txt readonly" readonly="readonly" value="炼铁厂" />
        </td>
        <th class="formTitle">
            收货单位：
        </th>
        <td class="formValue">
            <input id="PK_ACCEPTUNITID" type="hidden" value="1001E510000000000A9L" />
            <input id="ACCEPTUNITNAME" type="text" class="txt readonly" readonly="readonly" value="炼铁厂" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            物料：
        </th>
        <td class="formValue">
            <input id="MTID" type="hidden" />
            <input id="MTNAME" maxlength="50" type="text" class="txt" datacol="yes" err="物料"
                checkexpession="NotNull" onclick='SelectMyMaterial("MTNAME","MTID","PK_MATERIALSPEC","MATERIALCODE","");' />
        </td>
        <th class="formTitle">
            物料内码：
        </th>
        <td class="formValue">
            <input id="MATERIALCODE" maxlength="50" type="text" class="txt readonly" readonly="readonly"
                datacol="yes" err="物料内码" checkexpession="NotNull" />
        </td>
        <th class="formTitle">
            规格：
        </th>
        <td class="formValue">
            <input id="PK_MATERIALSPEC" maxlength="50" type="text" class="txt readonly" readonly="readonly" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            发货仓库：
        </th>
        <td class="formValue">
            <input name="PK_SENDSTORE" id="PK_SENDSTORE" type="hidden" value="1001AA100000000P61RJ" />
            <input id="SENDSTORE" maxlength="50" type="text" class="txt readonly" readonly="readonly"
                value="炼铁厂新区原料库" />
        </td>
        <th class="formTitle">
            收货仓库：
        </th>
        <td class="formValue">
            <input id="PK_RECEIVESTORE" type="hidden" value="88888888888888888888" />
            <input id="RECEIVESTORE" type="text" class="txt readonly" readonly="readonly" value="内部直供仓" />
        </td>
        <th class="formTitle">
            实际重量：
        </th>
        <td class="formValue">
            <input id="FACTAMOUNT" type="text" class="txt" datacol="yes" err="实际重量" checkexpession="DoubleOrZero"
                onfocus="IsMoney(this.id);" maxlength="5" value="0" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            称重站点：
        </th>
        <td class="formValue">
            <input id="STATIONID" type="text" class="txt readonly" readonly="readonly" dbfield="true"
                value="H14" />
        </td>
        <th class="formTitle">
            称重人：
        </th>
        <td class="formValue">
            <input name="FIRSTWEIGHER" id="FIRSTWEIGHER" type="text" class="txt"  dbfield="true" value="@ViewBag.CreateUserName"/>
        </td>
        <th class="formTitle">
            班组：
        </th>
        <td class="formValue">
            <select id="CCLASS" class="txtselect" datacol="yes" err="班组" checkexpession="NotNull">
                <option value="">---请选择---</option>
                <option value="甲">甲</option>
                <option value="乙">乙</option>
                <option value="丙">丙</option>
                <option value="丁">丁</option>
            </select>
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            创建人：
        </th>
        <td class="formValue">
            <input id="CREATEUSER" type="text" class="txt readonly" readonly="readonly"  dbfield="true" value="@ViewBag.CreateUserName" />
        </td>
        <th class="formTitle">
            过磅时间：
        </th>
        <td class="formValue">
            <input id="CREATEDATE" type="text" class="txt Wdate"  
                        datacol="yes" err="过磅时间" checkexpession="NotNull" readonly="readonly"  value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")" onfocus="WdatePicker({startDate:'%y-%M-%d %H:%m:%s',dateFmt: &#39;yyyy-MM-dd HH:mm:ss&#39;})"/>
        </td>
        <th class="formTitle">
            班时间：
        </th>
        <td class="formValue">
            <input id="CCLASSTIME" type="text" class="txt Wdate" value="@DateTime.Now.ToString("HH:mm:ss")"
                          onfocus="WdatePicker({startDate:'%H:%m:%s',dateFmt: &#39;HH:mm:ss&#39;})" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            开始时间：
        </th>
        <td class="formValue">
            <input id="BEGINDATE" type="text" class="txt Wdate" value="@DateTime.Now.ToString("yyyy-MM-dd 00:00:00")"
                          onfocus="WdatePicker({startDate:'%y-%M-%d %H:%m:%s',dateFmt: &#39;yyyy-MM-dd HH:mm:ss&#39;})" />
        </td>
        <th class="formTitle">
            载止时间：
        </th>
        <td class="formValue">
            <input id="ENDDATE" type="text" class="txt Wdate" value="@DateTime.Now.ToString("yyyy-MM-dd 23:59:59")"
        onfocus="WdatePicker({startDate:'%y-%M-%d %H:%m:%s',dateFmt: &#39;yyyy-MM-dd HH:mm:ss&#39;})" />
        </td>
        <td colspan="2">
        </td>
    </tr>
</table>
</form>
