@{
    ViewBag.Title = "倒运磅单";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script src="~/Content/Scripts/Report/CreateControl.js" type="text/javascript"></script>
<script type="text/javascript">
    var ModuleId = GetQuery('ModuleId'); //菜单主键
    $(function () {

        BindAutocomplete("CarsName", "Cars", "Cars", "150", "150", "");
        GetGrid();

    })
    //搜索
    function btn_Search() {
        var StartTime = $("#StartTime").val();
        var EndTime = $("#EndTime").val();
        var CarsName = $("#CarsName").val();
        var BillNo = $("#BillNo").val();
        var Material = $("#Material").val();
        var Finish = $("#FINISH").val();
        $("#gridTable").jqGrid('setGridParam', {
            url: "@Url.Content("~/WeightManager/WeightZX/GetOrderList")?StartTime=" + StartTime + '&EndTime=' + EndTime + '&Cars=' + escape(CarsName) + "&BillNo=" + BillNo + "&MaterialName=" + escape(Material) + "&Finish=" + Finish, page: 1
        }).trigger('reloadGrid');
    }
    //加载表格
    function GetGrid() {
        var StartTime = $("#StartTime").val();
        var EndTime = $("#EndTime").val();
        var Finish = $("#FINISH").val();
        $("#gridTable").jqGrid({
            url: "@Url.Content("~/WeightManager/WeightZX/GetOrderList")?StartTime=" + StartTime + '&EndTime=' + EndTime + "&Finish=" + Finish,
            datatype: "json",
            height: $(window).height() - 150,
            autowidth: true,
            colModel: [
                { label: '过磅单号', name: 'BILLNO', width: 130, align: 'left' },
                {
                    label: '计量状态', name: 'FINISH', index: 'FINISH', width: 60, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == "0")
                            return "一次计量";
                        else
                            return "二次计量";
                    }
                },
     
                { label: '状态', name: 'STATUS', index: 'STATUS', width: 60, align: 'center' },
                { label: '车号', name: 'CARS', index: 'CARS', width: 100, align: 'center' },
                 { label: '发货单位', name: 'SENDORG', index: 'SENDORG', width: 150, align: 'left' },

               { label: '收货仓库', name: 'RECEIVESTORE', index: 'RECEIVESTORE', width: 120, align: 'left' },
                { label: '发货仓库', name: 'SENDSTORE', index: 'SENDSTORE', width: 150, align: 'left' },
                { label: '物料', name: 'MATERIAL', index: 'MATERIAL', width: 150, align: 'left' },
                {
                    label: '规格', name: 'MATERIALKIND', index: 'MATERIALKIND', width: 100, align: 'left',
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == null)
                            return "";
                        else
                            return cellvalue;
                    }
                },

                { label: '毛重', name: 'GROSS', index: 'GROSS', width: 60, align: 'center' },
                 { label: '皮重', name: 'TARE', index: 'TARE', width: 60, align: 'center' },
                { label: '净重', name: 'SUTTLE', index: 'SUTTLE', width: 60, align: 'center' },

                {
                    label: '重车时间', name: 'WEIGHTDATE', index: 'WEIGHTDATE', width: 120, align: 'left',
                    formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM-dd hh:mm:ss');
                    }
                },
                {
                    label: '轻车时间', name: 'LIGHTDATE', index: 'LIGHTDATE', width: 120, align: 'left',
                    formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM-dd hh:mm:ss');
                    }
                },
                 { label: '创建时间', name: 'CREATEDATE', index: 'CREATEDATE', width: 120, align: 'center' },
                  { label: '过磅员', name: 'INGBUSER', index: 'INGBUSER', width: 60, align: 'center' },


                  { label: '备注', name: 'MEMO', index: 'MEMO', width: 60, align: 'center' },
              { label: 'COMPUTERTYPE', name: 'COMPUTERTYPE', hidden: true },
              {
                  label: '操作状态', name: 'COMPUTERTYPENAME', index: 'COMPUTERTYPENAME', width: 60, align: 'center',
                  formatter: function (cellvalue, options, rowObject) {
                      if (cellvalue == "99")
                          return "作废";
                      else if (cellvalue == "12")
                          return "补增";
                      else
                          return "正常";
                  }
              },
                {
                    label: '业务类型', name: 'TYPE', index: 'TYPE', width: 60, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == "6")
                            return "厂内";
                        else if (cellvalue == "7")
                            return "厂际";
                        else
                            return "出厂物资";
                    }
                },
                {
                    label: '修改状态', name: 'ISEDIT', index: 'ISEDIT', width: 60, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == "0")
                            return "正常";
                        else if (cellvalue == null)
                            return "正常";
                        else
                            return "参照";
                    }
                }
            ],
            viewrecords: true,
            rowNum: 30,
            rowList: [30, 50, 100, 500, 1000],
            pager: "#gridPager",
            sortname: 'BillNo',
            sortorder: 'desc',
            shrinkToFit: false,
            rownumbers: true,
            gridview: true,
            subGrid: false

        });

    }
    //复制
    function btn_copy() {
        var KeyValue = GetJqGridRowValue("#gridTable", "BILLNO");
        if (IsChecked(KeyValue)) {
            AddTabMenu("WeightInForm", "@Url.Content("~/WeightManager/WeightZX/WeightZXForm")?op=copy&KeyValue=" + KeyValue + "&&ModuleId=" + ModuleId, "新增倒运计量单", "page_white_add.png", true, true, true);
        }
    }
    //新增
    function btn_add() {
        AddTabMenu("WeightInForm", "@Url.Content("~/WeightManager/WeightZX/WeightZXForm")?op=add&ModuleId=" + ModuleId, "新增出厂物资计量单", "page_white_add.png", true, true, true);
    }

    //编辑
    function btn_edit() {
        var KeyValue = GetJqGridRowValue("#gridTable", "BILLNO");
        if (IsChecked(KeyValue)) {
            AddTabMenu("WeightInForm", "@Url.Content("~/WeightManager/WeightZX/WeightZXForm")?op=edit&KeyValue=" + KeyValue + "&ModuleId=" + ModuleId, "编辑出厂物资计量单", "page_white_edit.png", true, true, true);
        }
    }

    //参照
    function CheckEdit() {
        var KeyValue = GetJqGridRowValue("#gridTable", "BILLNO");
        if (IsChecked(KeyValue)) {
            var title = "管理员验证";
            var url = "/WeightManager/WeightIn/SELECTCHECKUSER?op=edit";
            OpenWindows(url, title);
        }
    }
    //新增
    function CheckAdd() {
        var title = "管理员验证";
        var url = "/WeightManager/WeightIn/SELECTCHECKUSER?op=add";
        OpenWindows(url, title);
    }
    //复制
    function CheckCopy() {
        var KeyValue = GetJqGridRowValue("#gridTable", "BILLNO");
        if (IsChecked(KeyValue)) {
            var title = "管理员验证";
            var url = "/WeightManager/WeightIn/SELECTCHECKUSER?op=copy";
            OpenWindows(url, title);
        }
    }
    function OpenWindows(url, title) {
        openMyDialog(url, "SELECTCHECKUSER", title, 300, 100,
             function (iframe) {
                 top.frames[iframe].SelectText();
             }, function (iframe) {
                 top.frames[iframe].ClearText();
             });
    }
    //作废
    function btn_Invalid() {
        confirmDialog('提示', '注：您确认要作废此操作吗？', function (r) {
            if (r) {
                var KeyValue = GetJqGridRowValue("#gridTable", "BILLNO");
                if (IsChecked(KeyValue)) {
                    var parm = 'KeyValue=' + KeyValue;
                    AjaxJson('/WeightManager/WeightZX/InvalidOrder', parm, function (data) {
                        tipDialog(data.Message, 3, data.Code);
                        if (data.Code > 0) {
                            windowload();
                        }
                    });
                }
            }
        });
    }
    //详细
    function btn_detail() {
        var KeyValue = GetJqGridRowValue("#gridTable", "BILLNO");
        if (IsChecked(KeyValue)) {
            AddTabMenu("WeightZXDetail", "@Url.Content("~/WeightManager/WeightZX/WeightZXDetail")?KeyValue=" + KeyValue, "倒运计量单详细", "page_white_edit.png", true, true, true);
        }
    }
    function btn_query() {
        QueryDialog("/WeightManager/WeightZX/WeightZXQuery", "WeightZXQuery", "查询过滤", 350, 395, function (iframe) {
            top.frames[iframe].QueryClick(function (qurl) {
                $("#gridTable").jqGrid('setGridParam', {
                    url: "@Url.Content("~/WeightManager/WeightZX/GetOrderList")?action=query" + qurl + "&ModuleId=" + ModuleId, page: 1
                }).trigger('reloadGrid');
            });
        });
    }

    //打印条码
    function BDPrint() {
        KeyValue = GetJqGridRowValue("#gridTable", "BILLNO");
        if (IsCheckeds(KeyValue)) {
            Report.LoadDataFromURL("/WeightManager/WeightZX/BDPrintWeight?KeyValue=" + KeyValue);
            Report.PrintPreview(true);
        }
    }

    //刷新
    function windowload() {
        $("#gridTable").trigger("reloadGrid"); //重新载入
    }

</script>
<div class="leftline rightline" style="margin-left: 1px; margin-right: 1px;">
    <div class="tools_bar" style="margin-top: 1px; margin-bottom: 0px;">
        <div class="PartialButton">
            @Html.Partial("_PartialButton")
        </div>
    </div>
    @*<div style="margin-top: 1px; margin-bottom: 0px" class="tools_bar">
            <div class="PartialButton">
                <a id="lr-query" class="tools_btn" title="查找" onclick="btn_query()"><span><b style="background: url(../../Content/Images/Icon16/page_white_magnify.png) no-repeat 50% 4px">
                    查找</b></span></a> <a id="ai-replace" class="tools_btn" title="刷新当前(Ctrl+Q)" onclick="Replace()">
                        <span><b style="background: url(../../Content/Images/Icon16/arrow_refresh.png) no-repeat 50% 4px">
                            刷新</b></span></a>
                <div class="tools_separator">
                </div>
                <a id="lr-add" class="tools_btn" title="补增" onclick="CheckAdd()"><span><b style="background: url(../../Content/Images/Icon16/add.png) no-repeat 50% 4px">
                    补增</b></span> </a><a id="lr-copy" class="tools_btn" title="复制" onclick="CheckCopy()">
                        <span><b style="background: url(../../Content/Images/Icon16/add.png) no-repeat 50% 4px">
                            复制</b></span> </a><a id="lr-edit" class="tools_btn" title="参照" onclick="CheckEdit()">
                                <span><b style="background: url(../../Content/Images/Icon16/edit.gif) no-repeat 50% 4px">
                                    参照</b></span></a> <a id="lr-delete" class="tools_btn" title="作废(Ctrl+S)" onclick="btn_Invalid()">
                                        <span><b style="background: url(../../Content/Images/Icon16/DeleteRed.png) no-repeat 50% 4px">
                                            作废</b></span></a><a title="打印" class="tools_btn" id="ai-print" onclick="BDPrint()"
                                                ids="f8747178-2754-45fb-a61a-39116787dc92"><span><b style='background: url("../../Content/Images/Icon16/printer.png") no-repeat 50% 4px;'>
                                                    打印</b></span></a><a id="lr-detail" class="tools_btn" title="详细信息(Ctrl+X)" onclick="btn_detail()"><span><b
                                                        style="background: url(../../Content/Images/Icon16/application_view_detail.png) no-repeat 50% 4px">详细</b></span></a>
                <a id="lr-leave" class="tools_btn" title="关闭当前窗口(Esc)" onclick="btn_back()"><span><b
                    style="background: url(../../Content/Images/Icon16/back.png) no-repeat 50% 4px">
                    离开</b></span></a></div>
        </div>*@
    <div class="QueryArea">
        <table border="0" class="form-find" style="height: 45px;">
            <tr>
                <th>
                    过磅单号：
                </th>
                <td>
                    <input id="BillNo" type="text" class="txt" style="width: 120px" />
                </td>
                <th>
                    车号：
                </th>
                <td>
                    <input id="Cars" type="hidden" />
                    <input id="CarsName" type="text" class="txt" style="width: 120px" />
                </td>
                <th>
                    物料：
                </th>
                <td>
                    <input id="Material" type="text" class="txt" style="width: 120px" />
                </td>
                <th>
                    计量状态：
                </th>
                <td>
                    <select id="FINISH" name="FINISH" class="select" style="width: 120px;">
                        <option value="">---请选择---</option>
                        <option value="0">一次计量</option>
                        <option value="1" selected="selected">二次计量</option>
                    </select>
                </td>
                <th>
                    创建日期：
                </th>
                <td>
                    <input id="StartTime" type="text" class="txt Wdate" value="@EOS.Utilities.DateTimeHelper.GetDate(-2)" style="width: 120px" onfocus="WdatePicker({onpicked:function(){EndTime.focus();},maxDate:'#F{$dp.$D(\'EndTime\')}'})" />
                </td>
                <td>
                    -
                </td>
                <td>
                    <input id="EndTime" type="text" class="txt Wdate" value="@EOS.Utilities.DateTimeHelper.GetToday()" style="width: 120px" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'StartTime\')}'})" />
                </td>
                <td>
                    <input id="btnSearch" type="button" class="btnSearch" value="搜 索" onclick="btn_Search()" />
                </td>
            </tr>
        </table>
    </div>
    <div id="grid_List" class="topline">
        <table id="gridTable"></table>
        <div id="gridPager">
        </div>
    </div>
</div>
<style>
    .ui-widget-content {
        border-left: none;
    }
</style>
