@{
    ViewBag.Title = "汽运转序单》新增";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script type="text/javascript">
    var KeyValue = GetQuery('KeyValue'); //主键
    var ModuleId = GetQuery('ModuleId'); //菜单主键
    $(function () {
        CarsAutocomplete();
        InitControl();
    })

    function CarsAutocomplete() {
        var txtname = "CARSNAME";
        var $txtid = $("#CARS");
        var $txtname = $("#CARSNAME");
        var $txtcard = $("#RFCARD");
        var width = "";
        if (width == "") {
            width = $txtname.width();
        }
        var height = "";
        if (height == "") {
            height = "150";
        }
        $txtname.bind("keyup", function (e) {
            if (e.which != 13 && e.which != 40 && e.which != 38) {
                DataSource();
            }
        }).focus(function () {
            $(this).select();
            DataSource();
        });
        //上，下键盘回调
        autocompletekeydown(txtname, function (data) {
            $txtid.val(data.id);
            $txtname.val(data.name);
            $txtcard.val(data.epccode);
        });
        //获取数据源
        function DataSource() {
            AjaxJson("/AutoData/DCars", { keywords: $txtname.val() }, function (DataJson) {
                var html = "";
                $.each(DataJson, function (i) {
                    html += "<tr>";
                    html += '<td id="id" style="display: none;">' + DataJson[i].id + '</td>';
                    html += '<td id="name" style="width: 100%;">' + DataJson[i].name + '</td>';
                    html += '<td id="epccode" style="display: none;">' + DataJson[i].epccode + '</td>';
                    html += "</tr>";
                });
                //点击事件回调
                autocomplete(txtname, width + "px", height + "px", html, function (data) {
                    $txtid.val(data.id);
                    $txtname.val(data.name);
                    $txtcard.val(data.epccode);
                });
            });
        }
    }
 
 
    function DriversAutocomplete() {
        var txtname = "DRIVERSNAME";
        var $txtid = $("#DRIVERS");
        var $txtname = $("#DRIVERSNAME");
        var $txtpsd = $("#PSDNO");
        var width = "";
        if (width == "") {
            width = $txtname.width();
        }
        var height = "";
        if (height == "") {
            height = "150";
        }
        $txtname.bind("keyup", function (e) {
            if (e.which != 13 && e.which != 40 && e.which != 38) {
                DataSource();
            }
        }).focus(function () {
            $(this).select();
            DataSource();
        });
        //上，下键盘回调
        autocompletekeydown(txtname, function (data) {
            $txtid.val(data.id);
            $txtname.val(data.name);
            $txtpsd.val(data.idnum);
        });
        //获取数据源
        function DataSource() {
            AjaxJson("/AutoData/DDrivers", { keywords: $txtname.val() }, function (DataJson) {
                var html = "";
                $.each(DataJson, function (i) {
                    html += "<tr>";
                    html += '<td id="id" style="display: none;">' + DataJson[i].id + '</td>';
                    html += '<td id="name" style="width: 100%;">' + DataJson[i].name + '</td>';
                    html += '<td id="idnum" style="display: none;">' + DataJson[i].idnum + '</td>';
                    html += "</tr>";
                });
                //点击事件回调
                autocomplete(txtname, width + "px", height + "px", html, function (data) {
                    $txtid.val(data.id);
                    $txtname.val(data.name);
                    $txtpsd.val(data.idnum);
                });
            });
        }
    }


 

    //得到一个对象实体
    function InitControl() {
        if (!!KeyValue) {
            AjaxJson("/ExampleModule/QYCONVOPER/SetFormControl", { KeyValue: KeyValue, ModuleId: ModuleId }, function (data) {
                SetWebControls(data);
            });
        }
    }
    //保存事件
    function SubmitOrderForm() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        confirmDialog('提示', '注：您确认要保存此操作吗？', function (r) {
            if (r) {
                Loading(true, "正在提交数据...");
                window.setTimeout(function () {
                    var postData = GetWebControls("#form1");
                    AjaxJson("/ExampleModule/QYCONVOPER/SubmitOrderForm?KeyValue=" + KeyValue + "&ModuleId=" + ModuleId, postData, function (data) {
                        tipDialog(data.Message, 3, data.Code);
                        var tabframeid = "tabs_iframe_" + ModuleId;
                        top.frames[tabframeid].windowload();
                        ThisCloseTab();
                    });
                }, 200);
            }
        });
    }

    function SelectOrder() {
        var url = "/ExampleModule/QYCONVOPER/SELECTPOORDERS";
        Dialog(url, "SELECTPOORDERS", "选取采购订单信息（双击表格添加）", 900, 400);
    }
</script>
<form id="form1" style="margin: 1px">
<div class="tools_bar" style="margin-top: 1px; margin-bottom: 1px;">
    <a id="lr-replace" class="tools_btn" title="刷新当前(Ctrl+Q)" onclick="Replace()"><span>
        <b style='background: url(@Url.Content("~/Content/Images/Icon16/arrow_refresh.png")) no-repeat 50% 4px;'>
            刷新</b></span></a> <a id="button_Commit_Save" title="保存单据" onclick="SubmitOrderForm()"
                class="tools_btn"><span><b style="background: url(@Url.Content("~/Content/Images/Icon16/disk.png")) 50% 4px no-repeat;">
                    保存</b></span></a> <a title="关闭当前窗口(Esc)" onclick="ThisCloseTab()" class="tools_btn">
                        <span><b style="background: url(@Url.Content("~/Content/Images/Icon16/back.png")) 50% 4px no-repeat;">
                            离开</b></span></a>
</div>
<table class="form">
    <tr>
        <th class="formTitle">
            单据编号：
        </th>
        <td class="formValue">
            <input id="TASKNO" type="text"  class="txt readonly required" datacol="yes" err="任务单号" checkexpession="NotNull" value="@ViewBag.BillNo" />
        </td>
        <th class="formTitle">
            车号：
        </th>
        <td class="formValue">
            <input id="CARS" type="hidden" />
            <input id="CARSNAME" type="text" class="txt iconsearch" datacol="yes" err="车号" checkexpession="NotNull" />
        </td>
        <th class="formTitle">
            <span id="span_rfid">RFID：</span>
        </th>
        <td class="formValue">
            <input id="RFCARD" type="text" class="txt readonly" readonly="readonly" datacol="No"
                err="RFID" checkexpession="NotNull" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            开始时间：
        </th>
        <td class="formValue">
            <input id="StartTime" type="text" class="txt Wdate" value="@EOS.Utilities.DateTimeHelper.GetDate(-1)"  onfocus="WdatePicker({onpicked:function(){EndTime.focus();},maxDate:'#F{$dp.$D(\'EndTime\')}'})" />
        </td>
        <th class="formTitle">
            结束时间：
        </th>
        <td class="formValue">
            <input id="EndTime" type="text" class="txt Wdate" value="@EOS.Utilities.DateTimeHelper.GetToday()" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'StartTime\')}'})"  />
        </td>
        <th class="formTitle">
            备注：
        </th>
        <td class="formValue">
            <input id="MEMO" type="text" class="txt" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            提醒：
        </th>
        <td class="formValue" colspan="5">
            <span class="ck_span">
                <label id="lbl_msg">
                    无
                </label>
            </span>
        </td>
    </tr>
</table>
</form>
