@{
    ViewBag.Title = "原材采制样查询";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script type="text/javascript">
    var ModuleId = GetQuery('ModuleId'); //菜单主键
    var ICNO;
 
    $(function () {
  
        GetGrid();
        GetGrid2("");
   
    });


    //搜索
    function btn_Search() {
        var StartTime = $("#StartTime").val();
        var EndTime = $("#EndTime").val();
        var HANDBILLNO = $("#HANDBILLNO").val();
        var PRINTCODE = $("#PRINTCODE").val();
        var MATERIALNAME = $("#MATERIALNAME").val();
       
         var DEF6 = $("#DEF6").val();
           var DEF5 = $("#DEF5").val();
            var CARS = $("#CARS").val();

        $("#gridTable").jqGrid('setGridParam', {
            url: "@Url.Content("~/ZJManager/PCRawCY/GetPCRawList")?SUMKZ=0&StartTime=" + StartTime + '&EndTime=' + EndTime + '&HANDBILLNO=' + escape(HANDBILLNO) + '&MATERIALNAME=' + escape(MATERIALNAME)+'&CARS='+escape(CARS)+ '&PRINTCODE=' + escape(PRINTCODE) +'&DEF6='+DEF6+'&DEF5='+DEF5, page: 1
        }).trigger('reloadGrid');
    }

    //加载表格
    function GetGrid() {
        var StartTime = $("#StartTime").val();
        var EndTime = $("#EndTime").val();
      
        $("#gridTable").jqGrid({
            url: "@Url.Content("~/ZJManager/PCRawCY/GetPCRawList")?SUMKZ=0&StartTime=" + StartTime + '&EndTime=' + EndTime  ,
          datatype: "json",
            height: $(window).height() - 300,
            autowidth: true,
            colModel: [
                { label: 'ID', name: 'ID', index: 'ID',  hidden: true },
                { label: 'SUMKZ', name: 'SUMKZ', index: 'SUMKZ',  hidden: true }, 
                { label: '单据编号', name: 'BILLNO', index: 'BILLNO', width: 100, align: 'left', align: 'center' ,hidden: true },
                  { label: '采样单号', name: 'HANDBILLNO', index: 'HANDBILLNO', width: 100, align: 'left', align: 'center' },
                 { label: '制样单号', name: 'PRINTCODE', index: 'PRINTCODE', width: 110, align: 'left', align: 'center' },
                 { label: 'UPLOAD', name: 'UPLOAD', index: 'UPLOAD',   hidden: true },
                {
                          label: '状态', name: 'UPLOADNAME', index: 'UPLOADNAME', width: 60, align: 'center',
                          formatter: function (cellvalue, options, rowObject) {
                              if (cellvalue == "0")
                                  return "未推单";
                              else
                                  return "已推单";
                          }
                      },
                 { label: 'PCRAWTYPE', name: 'PCRAWTYPE', index: 'PCRAWTYPE',  hidden: true },
                {
                    label: '类型', name: 'PCRAWTYPENAME', index: 'PCRAWTYPENAME', width: 60, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == '0') return "汽运";
                        if (cellvalue == '3') return "火运";
                    }
                },
                 { label: 'TYPE', name: 'TYPE', index: 'TYPE',  hidden: true },
                {
                    label: '状态', name: 'TYPENAME', index: 'TYPENAME', width: 60, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == '1') return "<span style='color:red;font-size:18px'>采样</span>";
                        if (cellvalue == '2') return "<span style='color:blue;font-size:18px'>交样</span>";
                        if (cellvalue == '3') return "<span style='color:blue;font-size:18px'>接样</span>";
                        if (cellvalue == '4') return "<span style='color:black;font-size:18px'>制样</span>";
                    }
                },
                  { label: 'ISSEND', name: 'ISSEND', index: 'ISSEND',  hidden: true },
                {
                    label: '送检状态', name: 'ISSENDNAME', index: 'ISSENDNAME', width: 60, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == '0') return "<span style='color:red;font-size:18px'>未送检</span>";
                        if (cellvalue == '1') return "<span style='color:green;font-size:18px'>已送检</span>";
                        if (!IsNull(cellvalue)) return "<span style='color:red;font-size:18px'>未送检</span>";
                    }
                }, {
                    label: '制卡', name: 'ISZK', index: 'ISZK', width: 60, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                          if (cellvalue == '0') return "<span style='color:red;font-size:18px'>否</span>";
                        if (cellvalue == '1') return "<span style='color:blue;font-size:18px'>是</span>";
                    }
                },
               {  label: '创建日期', name: 'CRETIME', index: 'CRETIME', width: 110, align: 'center'  }, 
                   { label: 'SUPPLY', name: 'SUPPLY', index: 'SUPPLY',  hidden: true },
                 { label: '供应商', name: 'SUPPLYNAME', index: 'SUPPLYNAME', width: 150, align: 'center' },
                 { label: '承运商', name: 'DEF8', index: 'DEF8', width: 100, align: 'center' },
                { label: 'MATERIAL', name: 'MATERIAL', index: 'MATERIAL',  hidden: true },
                { label: '物料', name: 'MATERIALNAME', index: 'MATERIALNAME', width: 180, align: 'center' },
                { label: '采样车数', name: 'CARSNUM', index: 'CARSNUM', width: 60, align: 'center' },
                { label: '采样日期', name: 'CYDATE', index: 'CYDATE', width: 100, align: 'center' },
                 { label: '异型卡序号', name: 'DEF6', index: 'DEF6', width: 80, align: 'center' },
                 { label: '监督员', name: 'CYUSER', index: 'CYUSER', width: 80, align: 'center' },
                 { label: '采样人乙', name: 'CYUSER1', index: 'CYUSER1', width: 80, align: 'center' },
                { label: '化验项', name: 'DEF17', index: 'CARSNUM', width: 100, align: 'center' },
                   { label: '交样人甲', name: 'JYUSER', index: 'JYUSER', width: 80, align: 'center' },
                 { label: '交样人乙', name: 'JYUSER1', index: 'JYUSER1', width: 80, align: 'center' },
           { label: '接样人甲', name: 'SYUSER', index: 'SYUSER', width: 80, align: 'center' },
                { label: '接样人乙', name: 'SYUSER1', index: 'SYUSER1', width: 80, align: 'center' },
                     {
                         label: '交接日期', name: 'JYDATE', index: 'JYDATE', width: 110, align: 'center',
                         formatter: function (cellvalue, options, rowObject) {
                             return formatDate(cellvalue, 'yyyy-MM-dd hh:mm');
                         }
                     },
                { label: '创建人', name: 'CREUSER', index: 'CREUSER', width: 80, align: 'center' },
                  { label: '异型卡编号', name: 'DEF7', index: 'DEF7', width: 110, align: 'center' },
                     { label: 'ISTP', name: 'ISTP', index: 'ISTP',  hidden: true },
                { label: '备注', name: 'MEMO', index: 'MEMO', width: 200, align: 'left' }
            ],
             viewrecords: true,
            rowNum: 30,
            rowList: [30, 50, 100, 500, 1000],
            pager: "#gridPager",
            sortname: 'CRETIME',
            sortorder: 'desc',
            shrinkToFit: false,
            gridview: true,
            multiselect: true,//复选框 
             multiboxonly: true,  
            //单击事件
            onSelectRow: function (RowIndx) {
                var MAINID = GetJqGridRowValue("#gridTable", "ID");
                $("#gridTable2").jqGrid('setGridParam', {
                    url: "@Url.Content("~/ZJManager/PCRawCY/GetPCRawListItem")?MAINID=" + escape(MAINID), page: 1
                }).trigger('reloadGrid');
            },
            //双击
            ondblClickRow: function (RowIndx) {
                MadeCard();
            }
        });
        columnModelData("#gridTable");
    }

    function GetGrid2(MAINID) {
        $("#gridTable2").jqGrid({
            url: "@Url.Content("~/ZJManager/PCRawCY/GetPCRawListItem")?MAINID=" + escape(MAINID),
            datatype: "json",
            height: 100,
         autowidth: true,
            colModel: [
                { label: 'ID', name: 'ID', index: 'ID',  hidden: true },
                { label: '车号', name: 'CARSNAME', index: 'CARSNAME', width: 80, align: 'center' },
                         { label: 'UPLOAD', name: 'UPLOAD', index: 'UPLOAD',   hidden: true },
                {
                          label: '状态', name: 'UPLOADNAME', index: 'UPLOADNAME', width: 60, align: 'center',
                          formatter: function (cellvalue, options, rowObject) {
                              if (cellvalue == "0")
                                  return "未推单";
                              else
                                  return "已推单";
                          }
                      },
                      { label: '物料编号', name: 'MATERIAL', index: 'MATERIAL', width: 100, align: 'center' },
                { label: '物料', name: 'MATERIALNAME', index: 'MATERIALNAME', width: 120, align: 'center' },
                  { label: '检验批', name: 'DEF5', index: 'DEF5', width: 100, align: 'center' },
                 {
                    label: '外观质量', name: 'WGTYPE', index: 'WGTYPE', width: 60, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                          if (cellvalue == '1') return "合格";
                        else if (cellvalue == '2') return "让步扣杂";
                         else if (cellvalue == '3') return "让步接收";
                          else  if (cellvalue == '4') return "拒收";
                            else return "";
                    }
                }, { label: '扣杂', name: 'WGKZ', index: 'WGKZ', width: 80, align: 'center' },
                 { label: '采样时间', name: 'CRETIME', index: 'CRETIME', width: 120, align: 'center' },
                 { label: '供应商', name: 'SUPPLYNAME', index: 'SUPPLYNAME', width: 160, align: 'center' },
                { label: '承运商', name: 'DEF8', index: 'DEF8', width: 150, align: 'center' },
               { label: '计量委托', name: 'PCID', index: 'PCID', width: 120, align: 'center' },
                { label: '计量单号', name: 'PCITEMID', index: 'PCITEMID', width: 120, align: 'center' },
                   { label: '计划单号', name: 'DEF3', index: 'DEF3', width: 120, align: 'center' },
                    { label: '订单号', name: 'DEF4', index: 'DEF4', width: 100, align: 'center' },
                { label: '收货单位', name: 'ORGNAME', index: 'ORGNAME', width: 160, align: 'center' },
              
                { label: 'IC卡号', name: 'ICCARD', index: 'ICCARD', width: 120, align: 'center' },
                { label: '采样人甲', name: 'DEF14', index: 'DEF14', width: 150, align: 'center' },
                 { label: '采样人乙', name: 'DEF15', index: 'DEF15', width: 150, align: 'center' }
            ],
            viewrecords: true,
            rowNum: 100,
            rownumbers: true,
            pager: false,
            sortname: 'CRETIME',
            sortorder: 'asc',
            shrinkToFit: false,
            gridview: true,
            subGrid: false
        });
        columnModelData("#gridTable2");
    }

 

   

  
   
   
  
 
    //刷新
    function windowload() {
        $("#gridTable").trigger("reloadGrid"); //重新载入
        $("#gridTable2").trigger("reloadGrid"); //重新载入
    }

   //打开读卡器
    //res:1-打开读卡器失败,2-打开射频卡片失败,0-成功。
    var CardNumber = "";
    function CardOpen() {
        var res = 100;
        var version = MWRFATL.OpenReader();
        var iRet = MWRFATL.LastRet;
        //蜂鸣30
        MWRFATL.RF_Beep(30);
        if (iRet != 0) {
            res = 1;
            $('#msg').text('打开读卡器失败！');
            MWRFATL.CloseCard();
            iRet = MWRFATL.LastRet;
            MWRFATL.CloseReader();
            iRet = MWRFATL.LastRet;
        }
        else {
            $('#msg').text(version);
            CardNumber = MWRFATL.OpenCard(1);
            iRet = MWRFATL.LastRet;
            if (iRet != 0) {
                res = 1;
                $('#msg').text('IC卡没有放在读卡器上！');
            }
            else {
                res = 0;
                $('#msg').text(CardNumber);
            }
            MWRFATL.CloseReader();
            iRet = MWRFATL.LastRet;
        }
        return res;
    }

    function SetCardNo(CardNumber) {
        var arr = CardNumber.split('');
        var num = "";
        var len = arr.length - 1;
        for (i = len; i >= 0; i = i - 2) {
            num += arr[i - 1] + arr[i];
        }
        var cid = parseInt(num, 16);
        return cid;
    }

     function ReadCard() {
        CardOpen();
        var ICCard = "";
        if (IsNullOrEmpty(CardNumber)) {
            ICCard = SetCardNo(CardNumber);
            $("#DEF6").val(ICCard);
            btn_Search();
        }
        if (ICCard == "") {
            tipDialog("读IC卡失败，IC卡序号为空！", 3, "");
            return false;
        }
    }
</script>
<object id="MWRFATL" style="display: none; width: 0px; height: 0px" codebase="~/RFReader/MwRFReader.cab#version=1,0,0,2"
    data="data:application/x-oleobject;base64,VPpLUhUXNkSyudxeJIvBwwADAAAAAAAAAAAAAA=="
    classid="CLSID:524BFA54-1715-4436-B2B9-DC5E248BC1C3">
</object>
<div class="leftline rightline" style="margin-left: 1px; margin-right: 1px;">
    <div style="margin-top: 1px; margin-bottom: 0px" class="tools_bar">
        <div class="PartialButton">
            <a id="ai-replace" class="tools_btn" title="刷新当前" onclick="Replace()"><span><b style="background: url(../../Content/Images/Icon16/arrow_refresh.png) no-repeat 50% 4px">
                刷新 </b></span></a><a id="lr-leave" class="tools_btn" title="关闭当前窗口(Esc)" onclick="btn_back()">
                    <span><b style="background: url(../../Content/Images/Icon16/back.png) no-repeat 50% 4px">
                        离开 </b></span></a>
        </div>
    </div>
    <div class="QueryArea">
        <table border="0" class="form-find" style="height: 45px;">
            <tr>
                <th>
                    采样单号：
                </th>
                <td>
                    <input id="HANDBILLNO" type="text" class="txt" style="width: 120px" />
                </td>
                <th>
                    制样单号：
                </th>
                <td>
                    <input id="PRINTCODE" type="text" class="txt" style="width: 120px" />
                </td>
                <th>
                    检验批：
                </th>
                <td>
                    <input id="DEF5" type="text" class="txt" style="width: 120px" />
                </td>
                <th>
                    异型卡序号：
                </th>
                <td>
                    <input id="DEF6" type="text" class="txt" style="width: 120px" />
                </td>
                <td>
                    <input id="btnRead" type="button" class="btnSearch" value="读 卡" onclick="ReadCard()" />
                </td>
            </tr>
            <tr>
                <th>
                    物料：
                </th>
                <td>
                    <input id="MATERIALNAME" type="text" class="txt" style="width: 120px" />
                </td>
                <th>
                    车号：
                </th>
                <td>
                    <input id="CARS" type="text" class="txt" style="width: 120px" />
                </td>
                <th>
                    制单日期：
                </th>
                <td>
                    <input id="StartTime" type="text" class="txt Wdate" value="@EOS.Utilities.DateTimeHelper.GetDate(-1)" style="width: 120px" onfocus="var endDate=$dp.$('EndTime');WdatePicker({onpicked:function(){EndTime.focus();},maxDate:'#F{$dp.$D(\'EndTime\')}'})" />
                </td>
                <td>
                    -
                </td>
                <td>
                    <input id="EndTime" type="text" class="txt Wdate" value="@EOS.Utilities.DateTimeHelper.GetToday()" style="width: 120px" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'StartTime\')}'})" />
                </td>
                <td>
                    <input id="btnSearch" type="button" class="btnSearch" value="搜 索" onclick="btn_Search()" />
                </td>
            </tr>
        </table>
    </div>
    <div id="grid_List" class="topline">
        <table id="gridTable">
        </table>
        <div id="gridPager">
        </div>
        <table id="gridTable2">
        </table>
    </div>
</div>
<style>
    .ui-widget-content
    {
        border-left: none;
    }
</style>
