@{
    ViewBag.Title = "转序制样管理";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script type="text/javascript">
    var ModuleId = GetQuery('ModuleId'); //菜单主键 
    $(function () { 
        GetGrid();  
    })
     
    //搜索
    function btn_Search() {
        var StartTime = $("#StartTime").val();
        var EndTime = $("#EndTime").val();
        var BillNo = $("#NAME").val(); 
        var ISSEND = $("#ISSEND").val(); 
        $("#gridTable").jqGrid('setGridParam', {
            url: "@Url.Content("~/ZJJHManager/ZJJHZY/GetJHZYList")?StartTime=" + StartTime + '&EndTime=' + EndTime + '&BillNo=' + escape(BillNo)+"&ISSEND="+ISSEND, page: 1
        }).trigger('reloadGrid');
    }
    //加载表格
    function GetGrid() {
        var StartTime = $("#StartTime").val();
        var EndTime = $("#EndTime").val(); 
        var ISSEND = $("#ISSEND").val(); 
        $("#gridTable").jqGrid({
            url: "@Url.Content("~/ZJJHManager/ZJJHZY/GetJHZYList")?StartTime=" + StartTime + '&EndTime=' + EndTime+"&ISSEND="+ISSEND,
            datatype: "json",
            height: $(window).height() - 150,
            autowidth: true,
            colModel: [
                { label: 'ID', name: 'ID', index: 'ID', width: 180, align: 'left',align:'center',hidden:true }, 
                { label: '批号', name: 'BILLNO', index: 'BILLNO', width: 180, align: 'left',align:'center' }, 
                { label: '条码', name: 'PRINTCODE', index: 'PRINTCODE', width: 130, align: 'left',align:'center' }, 
                {
                    label: '状态', name: 'TYPE', index: 'TYPE', width: 100, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == '1') return "<span style='color:red;font-size:15px'>创建批号</span>";
                        if (cellvalue == '2') return "<span style='color:blue;font-size:15px'>组批中</span>";
                        if (cellvalue == '3') return "<span style='color:green;font-size:15px'>组批完成</span>";
                    }
                },
                {
                    label: '送检状态', name: 'ISSEND', index: 'ISSEND', width: 100, align: 'center',
                    formatter: function (cellvalue, options, rowObject) { 
                        if (cellvalue == '0') return "<span style='color:red;font-size:15px'>未送检</span>";
                        if (cellvalue == '1') return "<span style='color:green;font-size:15px'>已送检</span>";
                    }
                },
                { label: '物料', name: 'MATERIALNAME', index: 'MATERIALNAME', width: 120, align: 'center'  }, 
                { label: '发货单位', name: 'LEADERDEPAS', index: 'LEADERDEPAS', width: 150, align: 'center'  }, 
                { label: '采样车数', name: 'CARSNUM', index: 'CARSNUM', width: 100, align: 'center'  }, 
                { label: '合计扣重', name: 'SUMKZ', index: 'SUMKZ', width: 100, align: 'center'  }, 
                { label: '采样日期', name: 'CYDATE', index: 'CYDATE', width: 110, align: 'center' },
                { label: '创建人', name: 'CREUSER', index: 'CREUSER', width: 100, align: 'center' },
                {
                    label: '创建日期', name: 'CRETIME', index: 'CRETIME', width: 110, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM-dd hh:mm');
                    }
                },
                { label: '备注', name: 'MEMO', index: 'MEMO', width: 200, align: 'left' }
            ],
            multiselect: true,
            viewrecords: true,
            rowNum: 30,
            rownumbers:true,
            rowList: [30, 50, 100, 500, 1000],
            pager: "#gridPager",
            sortname: 'CRETIME',
            sortorder: 'desc',
            shrinkToFit: false,
            gridview: true,
            subGrid: false

        });
        
    }
      
    
    //送检
    function SendCheck(){
        var KeyValue = GetJqGridRowValue("#gridTable", "ID"); 
        if (IsNull(KeyValue)) { 
            var postData = jQuery.parseJSON('{\"DATA\":\"' + KeyValue + '\"}'); 
            AjaxJson("/ZJJHManager/ZJJHZY/CheckCYData", postData, function (data) {
                if(IsNull(data) && IsNull(data.Code)){
                    if(data.Code==-2){
                        KeyValue = data.Message;
                        var url = '@Url.Content("~/ZJJHManager/ZJJHZY/ZJJHZYSelect")?KeyValue=' + KeyValue;
                        openDialog(url, "ZJJHZYSelect", "送检自动匹配质检方案", 750,380, function (iframe) {
                            top.frames[iframe].AcceptClick(); 
                        }); 
                    } else{
                        tipDialog(data.Message, 3, data.Code);
                        windowload();
                    }
                } 
            });
        } else{
            tipDialog('请至少选择一个批次', 4, 'warning');
        }
    }

    //取消送检
     function UNSendCheck(){
        var KeyValue = GetJqGridRowValue("#gridTable", "ID"); 
        if (IsNull(KeyValue) && KeyValue.indexOf(',')<0) { 
            var postData = jQuery.parseJSON('{\"DATA\":\"' + KeyValue + '\"}'); 
            AjaxJson("/ZJJHManager/ZJJHZY/UNSendCheck", postData, function (data) {
                if(IsNull(data) && IsNull(data.Code)){
                    tipDialog(data.Message, 3, data.Code);
                    windowload();
                } 
            }); 
        } else{
            tipDialog('请选择一个批次', 4, 'warning');
        } 
     }
     
    //制样新增
    function btn_add() {
        var url = "/ZJJHManager/ZJJHZY/SelectCYData?FormID=@ViewBag.FormID";
        Dialog(url, "SelectCYData", "新增制样数据", 900, 400);
    }
    //制样新增回调
    function CallBackEvent(){
        windowload();
    }
    
    //批次新增
//    function btn_addCY(){
//        var url = "/ZJManager/PCRawZY/PCRawZYAddCY?FormID=@ViewBag.FormID";
//        Dialog(url, "PCRawZYAddCY", "批次新增数据", 900, 400);
//    }
    //批次新增回调
    function CallBackEventCY(){
        windowload();
    }

    //刷新
    function windowload() {
        $("#gridTable").trigger("reloadGrid"); //重新载入
    }
</script>
<div class="leftline rightline" style="margin-left: 1px; margin-right: 1px;">
    <div class="tools_bar" style="margin-top: 1px; margin-bottom: 0px;">
        <div class="PartialButton">
            @Html.Partial("_PartialButton")
        </div>
    </div>
    <div class="QueryArea">
        <table border="0" class="form-find" style="height: 45px;">
            <tr>
                <th>
                    批号：
                </th>
                <td>
                    <input id="NAME" type="text" class="txt" style="width: 120px" />
                </td>
                <th>
                    制单日期：
                </th>
                <td>
                    <input id="StartTime" type="text" class="txt Wdate" value="@EOS.Utilities.DateTimeHelper.GetDate(-3)" style="width: 120px" onfocus="var endDate=$dp.$('EndTime');WdatePicker({onpicked:function(){EndTime.focus();},maxDate:'#F{$dp.$D(\'EndTime\')}'})" />
                </td>
                <td>
                    -
                </td>
                <td>
                    <input id="EndTime" type="text" class="txt Wdate" value="@EOS.Utilities.DateTimeHelper.GetToday()" style="width: 120px" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'StartTime\')}'})" />
                </td>
                <th>
                    送检状态：
                </th>
                <td>
                    <select id="ISSEND" class="txtselect" style="width: 125px">
                        <option value="">全部</option>
                        <option value="0" selected="true">未送检</option>
                        <option value="1">已送检</option>
                    </select>
                </td>
                <td>
                    <input id="btnSearch" type="button" class="btnSearch" value="搜 索" onclick="btn_Search()" />
                </td>
            </tr>
        </table>
    </div>
    <div id="grid_List" class="topline">
        <table id="gridTable">
        </table>
        <div id="gridPager">
        </div>
    </div>
</div>
<style>
    .ui-widget-content
    {
        border-left: none;
    }
</style>
