@{
    ViewBag.Title = "WeightOutIndex";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script type="text/javascript">
var ModuleId = GetQuery('ModuleId'); //菜单主键
    $(function () {
            BindAutocomplete("CarsName", "Cars", "Cars", "200", "150", "");
        GetGrid();
    })
    //搜索
    function btn_Search() {
            var StartTime = $("#StartTime").val();
        var EndTime = $("#EndTime").val();
        var cars = $("#Cars").val();
        var BillNo=$("#BillNo").val();
        $("#gridTable").jqGrid('setGridParam', {
            url: "@Url.Content("~/WeightManager/WeightVoid/GetOrderList")?StartTime=" + StartTime + '&EndTime=' + EndTime + '&Cars=' +escape(cars)+"&BillNo="+BillNo, page: 1
        }).trigger('reloadGrid');
    }
    //加载表格
    function GetGrid() {
        var StartTime = $("#StartTime").val();
        var EndTime = $("#EndTime").val();
        $("#gridTable").jqGrid({
            url: "@Url.Content("~/WeightManager/WeightVoid/GetOrderList")?StartTime=" + StartTime + '&EndTime=' + EndTime  ,
            datatype: "json",
            height: $(window).height() - 150,
            autowidth: true,
            colModel: [
                { label: '过磅单号', name: 'BILLNO', width: 130, align: 'left' },
                { label: '车号', name: 'CARS', index: 'CARS', width: 100, align: 'center' },
                { label: '司机', name: 'DRIVERS', index: 'DRIVERS', width: 100, align: 'center' },
                  { label: 'IC卡号', name: 'ICCARD', index: 'ICCARD', width: 100, align: 'center' },
                { label: '发货单位', name: 'SENDORG', index: 'SENDORG', width: 120, align: 'left' },
                { label: '收货单位', name: 'RECEIVEORG', index: 'RECEIVEORG', width: 150, align: 'left' },
                 { label: '物料', name: 'MATERIAL', index: 'MATERIAL', width: 150, align: 'left' },
                  { label: '规格', name: 'MATERIALKIND', index: 'MATERIALKIND', width: 100, align: 'left' },
                { label: '毛重', name: 'GROSS', index: 'GROSS', width: 60, align: 'center' },
                 { label: '皮重', name: 'TARE', index: 'TARE', width: 60, align: 'center' },
                { label: '净重', name: 'SUTTLE', index: 'SUTTLE', width: 60, align: 'center' },
                { label: '订单编号', name: 'PK_CONTRACT_B', width: 130, align: 'center' },
                { label: '合同号', name: 'PK_CONTRACT', width: 100, align: 'center' },
                { label: '通知单号', name: 'PK_ORDER', width: 120, align: 'center' },
                {
                    label: '重车时间', name: 'WEIGHTDATE', index: 'WEIGHTDATE', width: 120, align: 'left',
                    formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM-dd hh:mm:ss');
                    }
                },
                {
                    label: '轻车时间', name: 'LIGHTDATE', index: 'LIGHTDATE', width: 120, align: 'left',
                    formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM-dd hh:mm:ss');
                    }
                }, 
                 { label: '仓库', name: 'RECEIVESTORE', index: 'RECEIVESTORE', width: 120, align: 'left' },
                 { label: '接收组织', name: 'DEPARTMENTNAME', index: 'DEPARTMENTNAME', width: 120, align: 'left' },
                  { label: '接收公司', name: 'COMPANYNAME', index: 'COMPANYNAME', width: 120, align: 'left' }
            ],
            viewrecords: true,
            rowNum: 30,
            rowList: [30, 50, 100, 500, 1000],
            pager: "#gridPager",
            sortname: 'BillNo',
            sortorder: 'desc',
            shrinkToFit: false,
            gridview: true,
            subGrid: false
 
        });
        
    }
   
     //作废
    function btn_Invalid1(){
     confirmDialog('提示', '注：您确认要作废此操作吗？', function (r) {
            if (r) {
               var KeyValue = GetJqGridRowValue("#gridTable", "BILLNO");
        if (IsChecked(KeyValue)) {
           var PK_ORDER = GetJqGridRowValue("#gridTable", "PK_ORDER");
            var  parm = 'KeyValue=' + KeyValue+'&PK_ORDER='+PK_ORDER;
            AjaxJson('/WeightManager/WeightVoid/InvalidOrder', parm, function (data) {
                tipDialog(data.Message, 3, data.Code);
                if (data.Code > 0) {
                    windowload();
                }
           });
        }
            }
          });
    }


       function btn_Invalid (){
        confirmDialog('提示', '注：您确认要作废此操作吗？', function (r) {
            if (r) {
       
             var KeyValue = GetJqGridRowValue("#gridTable", "BILLNO");
        if (IsChecked(KeyValue)) {
           var url = "/WeightManager/WeightVoid/InvalidForm?ModuleId="+ModuleId+ '&KeyValue=' + KeyValue;
            openDialog(url, "WeightInInvalidForm", "一次计量单作废", 650, 380, function (iframe) {
                top.frames[iframe].AcceptClick()
            });
        }
           }
          });
    }

  function btn_query() {
        QueryDialog("/WeightManager/WeightVoid/WeightVoidQuery", "WeightVoidQuery", "查询过滤",350, 395, function (iframe) {
            top.frames[iframe].QueryClick(function (qurl) {
                $("#gridTable").jqGrid('setGridParam', {
                    url: "@Url.Content("~/WeightManager/WeightVoid/GetOrderList")?action=query" + qurl + "&ModuleId=" + ModuleId, page: 1
                }).trigger('reloadGrid');
            });
        });
    }
    //刷新
    function windowload() {
        $("#gridTable").trigger("reloadGrid"); //重新载入  
    }
    
</script>
<div class="leftline rightline" style="margin-left: 1px; margin-right: 1px;">
    @*  <div class="tools_bar" style="margin-top: 1px; margin-bottom: 0px;">
        <div class="PartialButton">
            @Html.Partial("_PartialButton")
        </div>
    </div>*@
    <div style="margin-top: 1px; margin-bottom: 0px" class="tools_bar">
        <div class="PartialButton">
            <a id="lr-query" class="tools_btn" title="查找" onclick="btn_query()"><span><b style="background: url(../../Content/Images/Icon16/page_white_magnify.png) no-repeat 50% 4px">
                查找</b></span></a> <a id="ai-replace" class="tools_btn" title="刷新当前(Ctrl+Q)" onclick="Replace()">
                    <span><b style="background: url(../../Content/Images/Icon16/arrow_refresh.png) no-repeat 50% 4px">
                        刷新</b></span></a>
            <div class="tools_separator">
            </div>
            <a id="lr-delete" class="tools_btn" title="作废(Ctrl+S)" onclick="btn_Invalid()"><span>
                <b style="background: url(../../Content/Images/Icon16/DeleteRed.png) no-repeat 50% 4px">
                    作废</b></span></a> <a id="lr-leave" class="tools_btn" title="关闭当前窗口(Esc)" onclick="btn_back()">
                        <span><b style="background: url(../../Content/Images/Icon16/back.png) no-repeat 50% 4px">
                            离开</b></span></a></div>
    </div>
    <div class="QueryArea">
        <table border="0" class="form-find" style="height: 45px;">
            <tr>
                <th>
                    过磅单号：
                </th>
                <td>
                    <input id="BillNo" type="text" class="txt" style="width: 120px" />
                </td>
                <th>
                    车号：
                </th>
                <td>
                    <input id="Cars" type="hidden" />
                    <input id="CarsName" type="text" class="txt" style="width: 120px" />
                </td>
                <th>
                    创建日期：
                </th>
                <td>
                    <input id="StartTime" type="text" class="txt Wdate" value="@EOS.Utilities.DateTimeHelper.GetDate(-2)" style="width: 120px" onfocus="WdatePicker({onpicked:function(){EndTime.focus();},maxDate:'#F{$dp.$D(\'EndTime\')}'})" />
                </td>
                <td>
                    -
                </td>
                <td>
                    <input id="EndTime" type="text" class="txt Wdate" value="@EOS.Utilities.DateTimeHelper.GetToday()" style="width: 120px" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'StartTime\')}'})" />
                </td>
                <td>
                    <input id="btnSearch" type="button" class="btnSearch" value="搜 索" onclick="btn_Search()" />
                </td>
            </tr>
        </table>
    </div>
    <div id="grid_List" class="topline">
        <table id="gridTable">
        </table>
        <div id="gridPager">
        </div>
    </div>
</div>
<style>
    .ui-widget-content
    {
        border-left: none;
    }
</style>
