@{
    ViewBag.Title = "采购订单管理";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script type="text/javascript">
    var ModuleId = GetQuery('ModuleId'); //菜单主键
    $(function () {
        BindAutocomplete("SupplyName", "Supply", "Supply", "200", "150", "");
        BindAutocomplete("TRAFFICCOMPANYNAME", "TRAFFICCOMPANY", "TrafficCompany", "", "", "");
        GetGrid();
    })
    //搜索
    function btn_Search() {
        var BillNo = $("#BillNo").val();
        var Supply = $("#Supply").val();
        var ISFP = $("#ISFP").val();
        var TRAFFICCOMPANY = $("#TRAFFICCOMPANY").val();
        var PK_DEPT = $("#PK_DEPT").val();
        var StartTime = $("#StartTime").val();
        var EndTime = $("#EndTime").val();
        $("#gridTable").jqGrid('setGridParam', {
            url: "@Url.Content("~/ExampleModule/POORDER/GetPOOrderList")?StartTime=" + StartTime + '&EndTime=' + EndTime + '&BillNo=' + BillNo + "&Supply=" + Supply + "&ISFP=" + ISFP + "&TRAFFICCOMPANY=" + TRAFFICCOMPANY + "&PK_DEPT=" + PK_DEPT, page: 1
        }).trigger('reloadGrid');
    }

    //加载表格
    function GetGrid() {
        var StartTime = $("#StartTime").val();
        var EndTime = $("#EndTime").val();
        $("#gridTable").jqGrid({
            url: "@Url.Content("~/ExampleModule/POORDER/GetPOOrderList")?StartTime=" + StartTime + '&EndTime=' + EndTime,
            datatype: "json",
            height: $(window).height() - 320,
            autowidth: true,
            colModel: [
             { label: 'PK_ORDER', name: 'PK_ORDER', index: 'PK_ORDER', width: 110, align: 'left', hidden: true },
            { label: '订单编号', name: 'VBILLCODE', index: 'VBILLCODE', width: 100, align: 'center' },
            //{ label: '订单类型', name: 'BILLTYPE', index: 'BILLTYPE', width: 100, align: 'center' },
            {
                label: '订单类型', name: 'BILLTYPE', index: 'BILLTYPE', width: 80, align: 'center',
                formatter: function (cellvalue, options, rowObject) {
                    if (cellvalue == 'YG01')
                        return "标准采购订单";
                    else if (cellvalue == 'YG02')
                        return "固定资产采购订单";
                    else if (cellvalue == 'YG03')
                        return "寄售采购订单";
                    else if (cellvalue == 'YG04')
                        return "委外维修采购订单";
                    else if (cellvalue == 'YG05')
                        return "成本中心采购订单";
                    else if (cellvalue == 'YG06')
                        return "内部订单采购订单";
                    else if (cellvalue == 'YG07')
                        return "价格后置采购订单";
                    else if (cellvalue == 'YG08')
                        return "免费采购订单";
                    else if (cellvalue == 'YG09')
                        return "退货采购订单";
                    else if (cellvalue == 'YG10')
                        return "公司间采购订单";
                    else if (cellvalue == 'YG11')
                        return "基建采购订单";
                    else if (cellvalue == 'YG12')
                        return "试用采购订单";
                    else if (cellvalue == 'YG13')
                        return "项目采购订单";
                    else
                        return "其它";
                }
            },
            { label: 'FORDERSTATUS', name: 'FORDERSTATUS', index: 'FORDERSTATUS', width: 60, align: 'left', hidden: true },
            {
                label: '状态', name: 'FORDERSTATUSNAME', index: 'FORDERSTATUSNAME', width: 60, align: 'center',
                formatter: function (cellvalue, options, rowObject) {
                    if (cellvalue == '0')
                        return "<span style='color: black; font-weight: bold;'>正常</span>";
                    else if (cellvalue == '1')
                        return "<span style='color: black; font-weight: bold;'>停用</span>";
                    else
                        return "<span style='color: #ff0000;'>其它</span>";
                }
            },
            { label: '供应商', name: 'PK_SUPPLIERNAME', index: 'PK_SUPPLIERNAME', width: 210, align: 'left' },
            {
                label: '订单日期', name: 'DBILLDATE', index: 'DBILLDATE', width: 120, align: 'center',
                formatter: function (cellvalue, options, rowObject) {
                    return formatDate(cellvalue, 'yyyy-MM-dd hh:mm:ss');
                }
            },
 //{ label: '生效时间', name: 'ACTUALVALIDATE', index: 'ACTUALVALIDATE', width: 100, align: 'left'  },
 // { label: '终止时间', name: 'ACTUALINVALIDATE', index: 'ACTUALINVALIDATE', width: 100, align: 'left' },
    //{ label: '船名航次', name: 'DEF3', index: 'DEF3', width: 120, align: 'center' },
{ label: '派车车数', name: 'CARSNUM', index: 'CARSNUM', width: 60, align: 'center' },
    { label: '采购公司', name: 'PK_ORGNAME', index: 'PK_ORGNAME', width: 120, align: 'left' },
 //{ label: '采购分组', name: 'PK_GROUPNAME', index: 'PK_GROUPNAME', width: 120, align: 'left' },
 { label: '采购部门', name: 'DEPTNAME', index: 'DEPTNAME', width: 120, align: 'left' },
 { label: '启用/停用人', name: 'DEF6', index: 'DEF6', width: 120, align: 'center' },
  { label: '启用/停用时间', name: 'DEF7', index: 'DEF7', width: 120, align: 'center' },
{ label: 'DATATYPE', name: 'DATATYPE', index: 'DATATYPE', width: 60, align: 'left', hidden: true },
{
    label: '数据来源', name: 'DATATYPENAME', index: 'DATATYPENAME', width: 60, align: 'center',
    formatter: function (cellvalue, options, rowObject) {
        if (cellvalue == '0') return "自建";
        if (cellvalue == '1') return "SAP";
        if (cellvalue == '2') return "BI";
    }
}
            ],
            viewrecords: true,
            rowNum: 30,
            rowList: [30, 50, 100, 500, 1000],
            pager: "#gridPager",
            sortname: 'DBILLDATE',
            sortorder: 'desc',
            shrinkToFit: false,
            gridview: true,
            //             multiselect: true ,
            //                 multiboxonly: true,
            onSelectRow: function (RowIndx) {
                var rowData = $(this).jqGrid('getRowData', RowIndx);
                var PK_ORDER = rowData.PK_ORDER;
                $("#gridETable").jqGrid('setGridParam', {
                    url: "@Url.Content("~/ExampleModule/POORDER/GetOrderEntryListC")?KeyValue=" + PK_ORDER, page: 1
                }).trigger('reloadGrid');

                $("#gridETable1").jqGrid('setGridParam', {
                    url: "@Url.Content("~/ExampleModule/POORDER/GetOrderEntryList")?KeyValue=" + PK_ORDER, page: 1
                }).trigger('reloadGrid');
            }
        });


        $("#gridETable").jqGrid({
            url: "@Url.Content("~/ExampleModule/POORDER/GetOrderEntryListC")?KeyValue=",
            datatype: "json",
            height: 100,
            width: $(window).width() - 5,
            autowidth: true,
            colModel: [
                { label: '主键', name: 'PK_ORDER', hidden: true },
                { label: '订单编号', name: 'VBILLCODE', index: 'VBILLCODE', width: 130, align: 'center' },
                 { label: '承运商', name: 'TRAFFICCOMPANY', hidden: true },
                { label: '承运商', name: 'TRAFFICCOMPANYNAME', index: 'TRAFFICCOMPANYNAME', width: 150, align: 'center' }
            ],
            viewrecords: true,
            rowNum: 50,
            sortname: 'PK_ORDER',
            sortorder: 'desc',
            shrinkToFit: false,

            gridview: true
        });


        $("#gridETable1").jqGrid({
            url: "@Url.Content("~/ExampleModule/POORDER/GetOrderEntryList")?KeyValue=",
            datatype: "json",
            height: 100,
            width: $(window).width() - 5,
            autowidth: true,
            colModel: [
                 { label: 'PK_ORDER', name: 'PK_ORDER', index: 'PK_ORDER', width: 130, align: 'left', hidden: true },
                { label: 'PK_ORDER_B', name: 'PK_ORDER_B', index: 'PK_ORDER_B', width: 130, align: 'left', hidden: true },
                 { label: '物料分类', name: 'PK_MARBASCLASSNAME', index: 'PK_MARBASCLASSNAME', width: 100, align: 'left' },
                    { label: '物料编号', name: 'MATERIALCODE', index: 'MATERIALCODE', width: 100, align: 'left' },
                  { label: '物料', name: 'PK_MATERIALNAME', index: 'PK_MATERIALNAME', width: 100, align: 'left' },
                   { label: '规格', name: 'MATERIALSPEC', index: 'MATERIALSPEC', width: 100, align: 'left' },
                   { label: '主计量', name: 'PURUNITNAME', index: 'PURUNITNAME', width: 50, align: 'left' },
                  { label: '主数量', name: 'NASTNUM', index: 'NASTNUM', width: 50, align: 'left' },
                  { label: '辅计量', name: 'SECPURUNITNAME', index: 'SECPURUNITNAME', width: 50, align: 'left' },
                  { label: '辅数量', name: 'SECQUANTITY', index: 'SECQUANTITY', width: 50, align: 'left' },
                  { label: '预发货量', name: 'DHNUM', index: 'DHNUM', width: 50, align: 'left' },
                { label: '入库量', name: 'CKNUM', index: 'CKNUM', width: 50, align: 'left' },
                { label: '余量', name: 'YLNUM', index: 'YLNUM', width: 50, align: 'left' },
                 { label: '每', name: 'NQTUNITNUM', index: 'NQTUNITNUM', width: 50, align: 'left' },
                  { label: '价格单位', name: 'CQTUNITID', index: 'CQTUNITID', width: 50, align: 'left' },
                { label: '单价', name: 'NPRICE', index: 'NPRICE', width: 50, align: 'left' },
                //{ label: '交货日期', name: 'DEF4', index: 'DEF4', width: 100, align: 'left' },
                { label: '接收公司', name: 'RECCOMPANYNAME', index: 'RECCOMPANYNAME', width: 100, align: 'left' },
                { label: '接收组织', name: 'RECORGNAME', index: 'RECORGNAME', width: 100, align: 'left' },
                {
                    label: '明细关闭', name: 'BARRIVECLOSE', index: 'BARRIVECLOSE', width: 60, align: 'left',
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == '1')
                            return "是";
                        else
                            return "否";
                    }
                },
                    { label: '备注', name: 'DEF5', index: 'DEF5', width: 60, align: 'left' }
            ],
            viewrecords: true,
            rowNum: 50,
            sortname: 'PK_ORDER',
            sortorder: 'desc',
            shrinkToFit: false,
            gridview: true
        });

    }

    //详细
    function btn_detail() {
        var KeyValue = GetJqGridRowValue("#gridTable", "PK_ORDER");
        if (IsChecked(KeyValue)) {
            AddTabMenu("POORDERForm", "@Url.Content("~/ExampleModule/POORDER/POORDERDetail")?KeyValue=" + KeyValue, "采购订单详细", "page_white_edit.png", true, true, true);
        }
    }
    //查询
    function btn_query() {
        QueryDialog("/ExampleModule/POORDER/POORDERQuery1", "POORDERQuery1", "查询过滤", 350, 395, function (iframe) {
            top.frames[iframe].QueryClick(function (qurl) {
                $("#gridTable").jqGrid('setGridParam', {
                    url: "@Url.Content("~/ExampleModule/POORDER/GetPOOrderList")?Action=query&BILLTYPE=" + escape("入库通知标准单据") + qurl + "&ModuleId=" + ModuleId, page: 1
                }).trigger('reloadGrid');
            });
        });
    }




    //编辑
    function btn_edit1() {
        var datas = [];
        var ids = $("#gridTable").getGridParam('selarrrow');
        $.each(ids, function (i, o) {
            var rowData = $("#gridTable").jqGrid("getRowData", ids[i]);
            datas.push(rowData);
        })
        if (datas.length == 0) {
            top.TipMsg("您没有选中任何项，请您选中后再操作！", 4000, "error");
            return false;
        }

        var title = "承运商分配";
        var url = "/ExampleModule/POORDER/POORDERForm2?ModuleId=" + ModuleId;
        FullDialog(url, "POORDERForm1", title);
    }
    //编辑
    function btn_edit() {
        var KeyValue = GetJqGridRowValue("#gridTable", "PK_ORDER");
        if (IsChecked(KeyValue)) {
            var title = "承运商分配";
            var url = "/ExampleModule/POORDER/POORDERForm2?KeyValue=" + KeyValue + "&ModuleId=" + ModuleId;
            FullDialog(url, "POORDERForm2", title);

        }
    }

    Array.prototype.Contains = function (m) {
        var res = 0, j = 0; s = 0;
        $.each(this, function (i, n) {
            if (n.PK_SUPPLIER == m.PK_SUPPLIER) {
                j++;
            }
        });
        if (j == this.length) {
            res = 0;
        }
        else {
            res = 1;
        }
        return res;
    };
    //单行选中
    function SelectDatas() {
        var arr = new Array;
        var id = $("#gridTable").getGridParam('selrow');
        var rowData = $("#gridTable").jqGrid("getRowData", id);
        return rowData;
    }

    function SelectDatas1() {
        var datas = [];
        var arr = new Array;
        var ids = $("#gridTable").getGridParam('selarrrow');
        $.each(ids, function (i, o) {
            var rowData = $("#gridTable").jqGrid("getRowData", ids[i]);
            datas.push(rowData);
        })
        return datas;
    }
    //刷新
    function windowload() {
        $("#gridTable").trigger("reloadGrid"); //重新载入
    }
</script>
<div class="leftline rightline" style="margin-left: 1px; margin-right: 1px;">
    <div class="tools_bar" style="margin-top: 1px; margin-bottom: 0px;">
        <div class="PartialButton">
            @Html.Partial("_PartialButton")
        </div>
    </div>
    <div class="QueryArea">
        <table border="0" class="form-find" style="height: 45px;">
            <tr>
                <th>
                    订单编号：
                </th>
                <td>
                    <input id="BillNo" type="text" class="txt" style="width: 100px" />
                </td>
                <th>
                    供应商：
                </th>
                <td>
                    <input id="Supply" type="hidden" />
                    <input id="SupplyName" type="text" class="txt" style="width: 100px" />
                </td>
                <th>
                    承运商：
                </th>
                <td>
                    <input id="TRAFFICCOMPANY" type="hidden" />
                    <input id="TRAFFICCOMPANYNAME" type="text" class="txt" style="width: 100px" />
                </td>
                <th>
                    是否分配：
                </th>
                <td>
                    <select id="ISFP" name="ISFP" class="select" style="width: 105px;">
                        <option value="">---请选择---</option>
                        <option value="0">未分配</option>
                        <option value="1">已分配</option>
                    </select>
                </td>
                <th>
                    采购部门：
                </th>
                <td>
                    <select id="PK_DEPT" name="PK_DEPT" class="select" style="width: 105px;">
                        <option value="">---请选择---</option>
                        <option value="00000000000000000001">木浆采购组</option>
                        <option value="00000000000000000002">木片采购组</option>
                        <option value="00000000000000000003">煤炭采购组</option>
                        <option value="00000000000000000004">化工原料采购组</option>
                        <option value="00000000000000000005">包材辅助物资采购组</option>
                        <option value="00000000000000000006">综合采购部</option>
                        <option value="00000000000000000008">生产采购组</option>
                        <option value="00000000000000000010">物流采购组</option>
                        <option value="00000000000000000012">废纸采购组</option>
                    </select>
                </td>
                <th>
                    日期：
                </th>
                <td>
                    <input id="StartTime" type="text" class="txt Wdate" value="" style="width: 110px"
                           onfocus="WdatePicker({onpicked:function(){EndTime.focus();},maxDate:'#F{$dp.$D(\'EndTime\')}'})" />
                </td>
                <td>
                    -
                </td>
                <td>
                    <input id="EndTime" type="text" class="txt Wdate" value="" style="width: 110px" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'StartTime\')}'})" />
                </td>
                <td>
                    <input id="btnSearch" type="button" class="btnSearch" value="搜 索" onclick="btn_Search()" />
                </td>
            </tr>
        </table>
    </div>
    <div id="grid_List" class="topline">
        <table id="gridTable"></table>
        <div id="gridPager">
        </div>
    </div>
    <div class="bd" style="border-bottom: none; margin: 2px;">
        <div class="tipstitle_title settingtable bold bd todayInfoPanelTab rightPanelTitle_normal">
            <div class="tab_list_top" style="position: absolute">
                <div id="Taborder" class="tab_list bd actived" onclick="Tabchange('order')">
                    承运商信息
                </div>
                <div id="Taborder1" class="tab_list bd " onclick="Tabchange('order1')">
                    明细信息
                </div>
            </div>
        </div>
    </div>
    <div class="ScrollBar" style="margin: 1px; overflow: hidden;">
        <div id="order" class="tabPanel">
            <table id="gridETable"></table>
        </div>
        <div id="order1" class="tabPanel" style="display: none;">
            <table id="gridETable1"></table>
        </div>
    </div>
    <style>
        .ui-widget-content {
            border-left: none;
        }
    </style>
</div>
