@{
    ViewBag.Title = "原料制样打码";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script src="~/Content/Scripts/Report/CreateControl.js" type="text/javascript"></script>
<script type="text/javascript">
    var ModuleId = GetQuery("ModuleId");
    CreateReport("Report");
    $(function () {
        $("#Report").css("display", "none");
        SUSERAutocomplete(); //送样人
        RUSERAutocomplete(); //接样人
        SUSERAutocomplete1(); //送样人
        RUSERAutocomplete1(); //接样人
        ZYUSERAutocomplete1(); //制样人
        setTimeout(function () {
            Report.LoadFromURL(RootPath() + "/Content/GRF/ReportView/PrintCode1.grf");
        }, 500);
        $("#DEF6").keyup(function (event) {
            if (event.keyCode == 13) {
                InitControl(this.value);
            }
        });
    });

    //得到一个对象实体
    function InitControl(KeyValue) {
        if (IsNull(KeyValue)) {
            AjaxJson("/ZJManager/PCRawCY/GetICCardEntity", { KeyValue: KeyValue }, function (data) {
                if (data.BILLNO == null) {
                    tipDialog('数据已制样或没有相关数据！', 4, 'warning');
                    return false;
                }
                $("#ID").val(data.ID);
                $("#BILLNO").val(data.BILLNO);
                $("#MATERIALNAME").val(data.MATERIALNAME);
                $("#MATERIALSPEC").val(data.MATERIALSPEC);
                $("#CARSNUM").val(data.CARSNUM);
                $("#JYUSER").val(data.CYUSER);
                $("#JYUSER1").val(data.CYUSER1);
                $("#CYTYPE").val(data.CYTYPE);
                $("#MEMO").val(data.MEMO);

            });
        }
    }

    //交样
    function SUSERAutocomplete() {
        var txtname = "JYUSER";
        var $txtname = $("#JYUSER");
        var width = "";
        if (width == "") {
            width = $txtname.width();
        }
        var height = "";
        if (height == "") {
            height = "150";
        }
        $txtname.bind("keyup", function (e) {
            if (e.which != 13 && e.which != 40 && e.which != 38) {
                DataSource();
            }
        }).focus(function () {
            $(this).select();
            DataSource();
        });
        //上，下键盘回调
        autocompletekeydown(txtname, function (data) {
            $txtname.val(data.realname);
        });
        //获取数据源
        function DataSource() {
            AjaxJson("/AutoData/ZJUser", { type: 1, keywords: $txtname.val() }, function (DataJson) {
                var html = "";
                $.each(DataJson, function (i) {
                    html += "<tr>";
                    html += '<td id="account" style="display: none;">' + DataJson[i].account + '</td>';
                    html += '<td id="realname" style="width: 100%;">' + DataJson[i].realname + '</td>';
                    html += '<td id="userid" style="display: none;">' + DataJson[i].userid + '</td>';
                    html += "</tr>";
                });
                //点击事件回调
                autocomplete(txtname, width + "px", height + "px", html, function (data) {
                    $txtname.val(data.realname);
                });
            });
        }
    }

    //交样
    function SUSERAutocomplete1() {
        var txtname = "JYUSER1";
        var $txtname = $("#JYUSER1");
        var width = "";
        if (width == "") {
            width = $txtname.width();
        }
        var height = "";
        if (height == "") {
            height = "150";
        }
        $txtname.bind("keyup", function (e) {
            if (e.which != 13 && e.which != 40 && e.which != 38) {
                DataSource();
            }
        }).focus(function () {
            $(this).select();
            DataSource();
        });
        //上，下键盘回调
        autocompletekeydown(txtname, function (data) {
            $txtname.val(data.realname);
        });
        //获取数据源
        function DataSource() {
            AjaxJson("/AutoData/ZJUser", { type: 1, keywords: $txtname.val() }, function (DataJson) {
                var html = "";
                $.each(DataJson, function (i) {
                    html += "<tr>";
                    html += '<td id="account" style="display: none;">' + DataJson[i].account + '</td>';
                    html += '<td id="realname" style="width: 100%;">' + DataJson[i].realname + '</td>';
                    html += '<td id="userid" style="display: none;">' + DataJson[i].userid + '</td>';
                    html += "</tr>";
                });
                //点击事件回调
                autocomplete(txtname, width + "px", height + "px", html, function (data) {
                    $txtname.val(data.realname);
                });
            });
        }
    }

    //接样
    function RUSERAutocomplete() {
        var txtname = "SYUSER";
        var $txtname = $("#SYUSER");
        var width = "";
        if (width == "") {
            width = $txtname.width();
        }
        var height = "";
        if (height == "") {
            height = "150";
        }
        $txtname.bind("keyup", function (e) {
            if (e.which != 13 && e.which != 40 && e.which != 38) {
                DataSource();
            }
        }).focus(function () {
            $(this).select();
            DataSource();
        });
        //上，下键盘回调
        autocompletekeydown(txtname, function (data) {
            $txtname.val(data.realname);
        });
        //获取数据源
        function DataSource() {
            AjaxJson("/AutoData/ZJUser", { type: 2, keywords: $txtname.val() }, function (DataJson) {
                var html = "";
                $.each(DataJson, function (i) {
                    html += "<tr>";
                    html += '<td id="account" style="display: none;">' + DataJson[i].account + '</td>';
                    html += '<td id="realname" style="width: 100%;">' + DataJson[i].realname + '</td>';
                    html += '<td id="userid" style="display: none;">' + DataJson[i].userid + '</td>';
                    html += "</tr>";
                });
                //点击事件回调
                autocomplete(txtname, width + "px", height + "px", html, function (data) {
                    $txtname.val(data.realname);
                });
            });
        }
    }

    //接样
    function RUSERAutocomplete1() {
        var txtname = "SYUSER1";
        var $txtname = $("#SYUSER1");
        var width = "";
        if (width == "") {
            width = $txtname.width();
        }
        var height = "";
        if (height == "") {
            height = "150";
        }
        $txtname.bind("keyup", function (e) {
            if (e.which != 13 && e.which != 40 && e.which != 38) {
                DataSource();
            }
        }).focus(function () {
            $(this).select();
            DataSource();
        });
        //上，下键盘回调
        autocompletekeydown(txtname, function (data) {
            $txtname.val(data.realname);
        });
        //获取数据源
        function DataSource() {
            AjaxJson("/AutoData/ZJUser", { type: 2, keywords: $txtname.val() }, function (DataJson) {
                var html = "";
                $.each(DataJson, function (i) {
                    html += "<tr>";
                    html += '<td id="account" style="display: none;">' + DataJson[i].account + '</td>';
                    html += '<td id="realname" style="width: 100%;">' + DataJson[i].realname + '</td>';
                    html += '<td id="userid" style="display: none;">' + DataJson[i].userid + '</td>';
                    html += "</tr>";
                });
                //点击事件回调
                autocomplete(txtname, width + "px", height + "px", html, function (data) {
                    $txtname.val(data.realname);
                });
            });
        }
    }

    //制样人
    function ZYUSERAutocomplete1() {
        var txtname = "DEF14";
        var $txtname = $("#DEF14");
        var width = "";
        if (width == "") {
            width = $txtname.width();
        }
        var height = "";
        if (height == "") {
            height = "150";
        }
        $txtname.bind("keyup", function (e) {
            if (e.which != 13 && e.which != 40 && e.which != 38) {
                DataSource();
            }
        }).focus(function () {
            $(this).select();
            DataSource();
        });
        //上，下键盘回调
        autocompletekeydown(txtname, function (data) {
            $txtname.val(data.realname);
        });
        //获取数据源
        function DataSource() {
            AjaxJson("/AutoData/ZJUser", { type: 2, keywords: $txtname.val() }, function (DataJson) {
                var html = "";
                $.each(DataJson, function (i) {
                    html += "<tr>";
                    html += '<td id="account" style="display: none;">' + DataJson[i].account + '</td>';
                    html += '<td id="realname" style="width: 100%;">' + DataJson[i].realname + '</td>';
                    html += '<td id="userid" style="display: none;">' + DataJson[i].userid + '</td>';
                    html += "</tr>";
                });
                //点击事件回调
                autocomplete(txtname, width + "px", height + "px", html, function (data) {
                    $txtname.val(data.realname);
                });
            });
        }
    }
    //打开读卡器
    //res:1-打开读卡器失败,2-打开射频卡片失败,0-成功。
    var CardNumber = "";
    function CardOpen() {
        var res = 100;
        var version = MWRFATL.OpenReader();
        var iRet = MWRFATL.LastRet;
        //蜂鸣30
        MWRFATL.RF_Beep(30);
        if (iRet != 0) {
            res = 1;
            tipDialog("打开读卡器失败！", 3, "");
            MWRFATL.CloseCard();
            iRet = MWRFATL.LastRet;
            MWRFATL.CloseReader();
            iRet = MWRFATL.LastRet;
        }
        else {
            CardNumber = MWRFATL.OpenCard(1);
            iRet = MWRFATL.LastRet;
            if (iRet != 0) {
                res = 1;
                tipDialog("IC卡没有放在读卡器上！", 3, "");
            }
            else {
                res = 0;
            }
            MWRFATL.CloseReader();
            iRet = MWRFATL.LastRet;
        }
        return res;
    }

    function SetCardNo(CardNumber) {
        var arr = CardNumber.split('');
        var num = "";
        var len = arr.length - 1;
        for (i = len; i >= 0; i = i - 2) {
            num += arr[i - 1] + arr[i];
        }
        var cid = parseInt(num, 16);
        return cid;
    }
    function ReadCard() {
        CardOpen();
        var ICCard = "";
        if (IsNullOrEmpty(CardNumber)) {
            ICCard = SetCardNo(CardNumber);
            $("#DEF6").val(ICCard);
            InitControl(ICCard);
        }
        if (ICCard == "") {
            tipDialog("读IC卡失败，IC卡序号为空！", 3, "");
            return false;
        }
    }
    //保存事件
    function SubmitOrderForm() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        var JYUSER = $("#JYUSER").val(); //交样人
        var SYUSER = $("#SYUSER").val(); //接样人

        var JYUSER1 = $("#JYUSER1").val(); //交样人
        var SYUSER1 = $("#SYUSER1").val(); //接样人
        var DEF14 = $("#DEF14").val(); //制样人

        var KeyValue = $("#ID").val();
        var BILLNO = $("#BILLNO").val();
        if (IsNull(KeyValue)) {
            Loading(true, "正在提交数据...");
            window.setTimeout(function () {
                AjaxJson("/ZJManager/PCRawZY/MutilZYSaveFinish1?KeyValue=" + escape(KeyValue) + "&JYUSER=" + escape(JYUSER) + "&SYUSER=" + escape(SYUSER) + "&JYUSER1=" + escape(JYUSER1) + "&SYUSER1=" + escape(SYUSER1) + "&DEF14=" + escape(DEF14) + "&ModuleId=" + ModuleId, "", function (data) {
                    tipDialog(data.Message, 3, data.Code);
                    Print1(BILLNO);
                    Replace();
                });
            }, 200);
        } else {
            tipDialog('获取数据失败！', 4, 'warning');
        }
    }

    //打印条码
    function Print1(KeyValue) {
        if (IsChecked(KeyValue)) {
            Report.LoadDataFromURL("/ZJManager/PCRawZY/ZYPrintCode1?KeyValue=" + KeyValue);
            //Report.Print(true);
            Report.PrintPreview(true);
        }
    }
</script>
<object id="MWRFATL" style="display: none; width: 0px; height: 0px" codebase="~/RFReader/MwRFReader.cab#version=1,0,0,2"
    data="data:application/x-oleobject;base64,VPpLUhUXNkSyudxeJIvBwwADAAAAAAAAAAAAAA=="
    classid="CLSID:524BFA54-1715-4436-B2B9-DC5E248BC1C3">
</object>
<form id="form1" style="margin: 1px">
<div class="tools_bar" style="margin-top: 1px; margin-bottom: 1px;">
    <a id="lr-replace" class="tools_btn" title="刷新当前(Ctrl+Q)" onclick="Replace()"><span>
        <b style='background: url(@Url.Content("~/Content/Images/Icon16/arrow_refresh.png")) no-repeat 50% 4px;'>
            刷新 </b></span></a><a id="btn_ReadCard" title="读卡" onclick="ReadCard()" class="tools_btn">
                <span><b style="background: url(@Url.Content("~/Content/Images/Icon16/disk.png")) 50% 4px no-repeat;">
                    读卡 </b></span></a><a id="btn_Save" title="制样" onclick="SubmitOrderForm()" class="tools_btn">
                        <span><b style="background: url(@Url.Content("~/Content/Images/Icon16/disk.png")) 50% 4px no-repeat;">
                            制样 </b></span></a><a title="关闭当前窗口(Esc)" onclick="ThisCloseTab()" class="tools_btn">
                                <span><b style="background: url(@Url.Content("~/Content/Images/Icon16/back.png")) 50% 4px no-repeat;">
                                    离开 </b></span></a>
</div>
<table id="tb_OrderFrom" class="form">
    <tr>
        <th class="formTitle">
            异型卡号：
        </th>
        <td class="formValue">
            <input id="DEF6" type="text" class="txt" datacol="yes" err="异型卡号" checkexpession="NotNull" />
        </td>
        <th class="formTitle">
            采样单号：
        </th>
        <td class="formValue">
            <input id="BILLNO" type="text" class="txt readonly" readonly="readonly" datacol="yes"
                err="采样单号" checkexpession="NotNull" />
        </td>
        <th class="formTitle">
            采样车数：
        </th>
        <td class="formValue">
            <input id="CARSNUM" type="text" class="txt readonly" readonly="readonly" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            物料：
        </th>
        <td class="formValue">
            <input id="ID" type="hidden" dbfield="true" />
            <input id="MATERIALNAME" type="text" class="txt readonly" readonly="readonly" />
        </td>
        <th class="formTitle">
            规格：
        </th>
        <td class="formValue">
            <input id="MATERIALSPEC" type="text" class="txt readonly" readonly="readonly" />
        </td>
        <th class="formTitle">
            采样类型：
        </th>
        <td class="formValue">
            <select id="CYTYPE" class="txtselect" dbfield="true">
                <option value="">请选择</option>
                <option value="0" selected="selected">正常样</option>
                <option value="1">平均样</option>
            </select>
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            交样人甲：
        </th>
        <td class="formValue">
            <input id="JYUSER" type="text" class="txt" style="width: 200px" />
        </td>
        <th class="formTitle">
            交样人乙：
        </th>
        <td class="formValue">
            <input id="JYUSER1" type="text" class="txt" style="width: 200px" />
        </td>
        <th class="formTitle">
            制样人：
        </th>
        <td class="formValue">
            <input id="DEF14" type="text" class="txt" style="width: 200px"  value="@ViewBag.CreateUserName"/>
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            接样人甲：
        </th>
        <td class="formValue">
            <input id="SYUSER" type="text" class="txt" style="width: 200px"  value="@ViewBag.CreateUserName"/>
        </td>
        <th class="formTitle">
            接样人乙：
        </th>
        <td class="formValue">
            <input id="SYUSER1" type="text" class="txt" style="width: 200px" />
        </td>
        <th class="formTitle">
            描述：
        </th>
        <td class="formValue">
            <input id="MEMO" type="text" class="txt readonly" readonly="readonly" />
        </td>
    </tr>
</table>
</form>
