@{
    ViewBag.Title = "采购磅单";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script src="~/Content/Scripts/Report/CreateControl.js" type="text/javascript"></script>
<script type="text/javascript">
    var ModuleId = GetQuery('ModuleId'); //菜单主键
    CreateReport("Report");
    $(function () {
        $("#Report").css("display", "none");
        BindAutocomplete("CarsName", "Cars", "Cars", "150", "150", "");
        BindAutocomplete("MATERIALNAME", "MATERIAL", "Material", "", "", "");
        GetGrid();
        setTimeout(function () {
            Report.LoadFromURL(RootPath() + "/Content/GRF/PurchaseReport/102.grf");
        }, "500");
    })
    //搜索
    function btn_Search() {
        var StartTime = $("#StartTime").val();
        var EndTime = $("#EndTime").val();
        var cars = $("#Cars").val();
        var BillNo = $("#BillNo").val();
        var VBillCode = $("#VBillCode").val();
        var Finish = $("#FINISH").val();
        var ISJS = $("#ISJS").val();
        var DEF11 = $("#DEF11").val();
        var MATERIAL = $("#MATERIAL").val();
        $("#gridTable").jqGrid('setGridParam', {
            url: "@Url.Content("~/WeightManager/WeightIn/GetOrderList")?StartTime=" + StartTime + '&EndTime=' + EndTime + '&Cars=' + escape(cars) + "&BillNo=" + BillNo + "&VBillCode=" + VBillCode + "&Finish=" + Finish + "&ISJS=" + ISJS + "&MATERIAL=" + MATERIAL + "&DEF11=" + DEF11, page: 1
        }).trigger('reloadGrid');
    }

    //加载表格
    function GetGrid() {
        var StartTime = $("#StartTime").val();
        var EndTime = $("#EndTime").val();
        var Finish = $("#FINISH").val();
        $("#gridTable").jqGrid({
            url: "@Url.Content("~/WeightManager/WeightIn/GetOrderList")?StartTime=" + StartTime + '&EndTime=' + EndTime + "&Finish=" + Finish,
            datatype: "json",
            height: $(window).height() - 180,
            autowidth: true,
            colModel: [
                { label: '过磅单号', name: 'BILLNO', width: 100, align: 'left' },
               { label: 'FINISH', name: 'FINISH', hidden: true },
               {
                   label: '计量状态', name: 'FINISHNAME', index: 'FINISHNAME', width: 60, align: 'center',
                   formatter: function (cellvalue, options, rowObject) {
                       if (cellvalue == "0")
                           return "一次计量";
                       else
                           return "二次计量";
                   }
               },
               { label: '供应商编号', name: 'PK_SENDORG', index: 'PK_SENDORG', width: 120, align: 'left' },
               { label: '供应商', name: 'SENDORG', index: 'SENDORG', width: 150, align: 'left' },
               { label: '物料编号', name: 'PK_MATERIAL', index: 'PK_MATERIAL', width: 130, align: 'left' },
               { label: '物料', name: 'MATERIAL', index: 'MATERIAL', width: 120, align: 'left' },
               { label: '规格', name: 'MATERIALKIND', index: 'MATERIALKIND', width: 100, align: 'left' },
                { label: '车号', name: 'CARS', index: 'CARS', width: 80, align: 'center' },
                { label: '司机', name: 'DRIVERS', index: 'DRIVERS', width: 80, align: 'center' },
                { label: '毛重', name: 'GROSS', index: 'GROSS', width: 60, align: 'center' },
                { label: '皮重', name: 'TARE', index: 'TARE', width: 60, align: 'center' },
                { label: '净重', name: 'SUTTLE', index: 'SUTTLE', width: 60, align: 'center' },
                { label: '单价', name: 'PRICE', index: 'PRICE', width: 60, align: 'center' },
                { label: '金额', name: 'CHARGE', index: 'CHARGE', width: 60, align: 'center' },
                { label: '卸货地点', name: 'RECEIVESTORE', index: 'RECEIVESTORE', width: 120, align: 'left' },
                {
                    label: '重车时间', name: 'WEIGHTDATE', index: 'WEIGHTDATE', width: 120, align: 'left',
                    formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM-dd hh:mm:ss');
                    }
                },
                {
                    label: '轻车时间', name: 'LIGHTDATE', index: 'LIGHTDATE', width: 120, align: 'left',
                    formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM-dd hh:mm:ss');
                    }
                },
                { label: '到货单号', name: 'PK_ORDER', width: 120, align: 'center' },
                  { label: '到货明细单号', name: 'PK_ORDER_B', width: 120, align: 'center' },
                { label: '承运商', name: 'TRAFFICCOMPANY', index: 'TRAFFICCOMPANY', width: 120, align: 'left' },

                 { label: 'COMPUTERTYPE', name: 'COMPUTERTYPE', hidden: true },
                 {
                     label: '操作状态', name: 'COMPUTERTYPENAME', index: 'COMPUTERTYPENAME', width: 60, align: 'center',
                     formatter: function (cellvalue, options, rowObject) {
                         if (cellvalue == "99")
                             return "作废";
                         else if (cellvalue == "12")
                             return "补增";
                         else if (cellvalue == "112")
                             return "退货";
                         else
                             return "正常";
                     }
                 },

               { label: '过磅员', name: 'OUTGBUSER', index: 'OUTGBUSER', width: 80, align: 'center' },
               { label: '打印次数', name: 'PRINTCOUNT', index: 'PRINTCOUNT', width: 80, align: 'center' },
               { label: '工厂', name: 'RECEIVEORG', index: 'RECEIVEORG', width: 120, align: 'left' },
               { label: '备注', name: 'MEMO', index: 'MEMO', width: 120, align: 'left' },
               { label: '创建人', name: 'INGBUSER', width: 60, align: 'center' },
               { label: '创建时间', name: 'CREATEDATE', width: 120, align: 'center' },
               { label: '修改人', name: 'OUTGBUSER', width: 60, align: 'center' },
               { label: '修改时间', name: 'LASTDATE', width: 120, align: 'center' },
                {
                    label: '修改状态', name: 'ISEDIT', index: 'ISEDIT', width: 60, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == "0")
                            return "正常";
                        else
                            return "参照";
                    }
                }
            ],
            viewrecords: true,
            rowNum: 30,
            rowList: [30, 50, 100, 500, 1000],
            pager: "#gridPager",
            sortname: 'BILLNO',
            sortorder: 'desc',
            shrinkToFit: false,
            rownumbers: true,
            gridview: true,
            subGrid: false,
            multiselect: true,
            multiboxonly: true
        });

    }

    //新增
    function btn_add() {
        AddTabMenu("WeightInForm", "@Url.Content("~/WeightManager/WeightIn/WeightInForm")?op=add&ModuleId=" + ModuleId, "新增采购计量单", "page_white_add.png", true, true, true);
    }

    //编辑
    function btn_edit(account) {
        var KeyValue = GetJqGridRowValue("#gridTable", "BILLNO");
        if (IsChecked(KeyValue)) {
            var url = "/WeightManager/WeightIn/WeightInForm1?op=edit&KeyValue=" + KeyValue + "&ModuleId=" + ModuleId;
            AddTabMenu("WeightInForm", url, "编辑采购计量单", "page_white_edit.png", true, true, true);
        }
    }


    function btn_import() {
        AddTabMenu("WeightInImport", "@Url.Content("~/WeightManager/WeightIn/WeightInImport")?op=import&ModuleId=" + ModuleId, "导入流量计", "page_white_add.png", true, true, true);
    }


    //作废
    function btn_Invalid1() {
        var FINISH = GetJqGridRowValue("#gridTable", "FINISH");
        if (FINISH == "0") {
            tipDialog("此单据未完成计量,无法继续作废！", 3, "");
            return false;
        }
        confirmDialog('提示', '注：您确认要作废此操作吗？', function (r) {
            if (r) {
                var KeyValue = GetJqGridRowValue("#gridTable", "BILLNO");
                if (IsChecked(KeyValue)) {
                    var parm = 'KeyValue=' + KeyValue;
                    AjaxJson('/WeightManager/WeightIn/InvalidOrder', parm, function (data) {
                        tipDialog(data.Message, 3, data.Code);
                        if (data.Code > 0) {
                            windowload();
                        }
                    });
                }
            }
        });
    }

    function btn_Invalid2() {
        confirmDialog('提示', '注：您确认要作废此操作吗？', function (r) {
            if (r) {
                var KeyValue = GetJqGridRowValue("#gridTable", "BILLNO");
                if (IsChecked(KeyValue)) {
                    var url = "/WeightManager/WeightIn/InvalidForm?ModuleId=" + ModuleId + '&KeyValue=' + KeyValue;
                    openDialog(url, "WeightInInvalidForm", "计量单作废", 650, 380, function (iframe) {
                        top.frames[iframe].AcceptClick()
                    });
                }
            }
        });
    }

    function btn_Invalid() {
        confirmDialog('提示', '注：您确认要作废此操作吗？', function (r) {
            if (r) {
                var KeyValue = "";
                KeyValue = GetJqGridRowValue("#gridTable", "BILLNO");
                var FINISH = GetJqGridRowValue("#gridTable", "FINISH");
                if (IsChecked(KeyValue)) {
                    var url = "/WeightManager/WeightIn/InvalidForm?ModuleId=" + ModuleId + '&KeyValue=' + KeyValue;
                    openDialog(url, "WeightInInvalidForm", "计量单作废", 650, 380, function (iframe) {
                        top.frames[iframe].AcceptClick()
                    });
                }
            }
        });
    }


    function IsChecked1(id) {
        var isOK = true;
        if (id == undefined || id == "" || id == 'null' || id == 'undefined') {
            isOK = false;
            tipDialog('您没有选中任何明细项,请您选中明细后再操作。', 4, 'warning');
        } else if (id.split(",").length > 1) {
            isOK = false;
            tipDialog('很抱歉,一次只能选择一条记录。', 4, 'warning');
        }
        return isOK;
    }


    //打印条码
    function BDPrint() {
        KeyValue = GetJqGridRowValue("#gridTable", "BILLNO");
        if (IsCheckeds(KeyValue)) {
            Report.LoadDataFromURL("/WeightManager/WeightIn/BDPrintWeight?KeyValue=" + KeyValue);
            Report.PrintPreview(true);
        }
    }

    function CheckPrint() {
        var KeyValue = GetJqGridRowValue("#gridTable", "BILLNO");
        if (IsCheckeds(KeyValue)) {
            var title = "管理员验证";
            var url = "/WeightManager/WeightIn/SELECTCHECKUSER1?op=1";
            //        var bol=false ;
            //         var PRINTCOUNT = GetJqGridRowValue("#gridTable", "PRINTCOUNT");
            //            if( PRINTCOUNT>0){
            //                bol=true;
            //            }else{
            //                BDPrint();
            //            }
            //            if(bol==true)
            //             {
            OpenWindows(url, title);
            //}
        }
    }

    //详细
    function btn_detail() {
        var KeyValue = GetJqGridRowValue("#gridTable", "BILLNO");
        if (IsChecked(KeyValue)) {
            AddTabMenu("WeightInDetail", "@Url.Content("~/WeightManager/WeightIn/WeightInDetail")?KeyValue=" + KeyValue, "采购计量单详细", "page_white_edit.png", true, true, true);
        }
    }

    function btn_query() {
        QueryDialog("/WeightManager/WeightIn/WeightInQuery", "WeightInQuery", "查询过滤", 600, 395, function (iframe) {
            top.frames[iframe].QueryClick(function (qurl) {
                $("#gridTable").jqGrid('setGridParam', {
                    url: "@Url.Content("~/WeightManager/WeightIn/GetOrderList")?action=query" + qurl + "&ModuleId=" + ModuleId, page: 1
                }).trigger('reloadGrid');
            });
        });
    }

    //刷新
    function windowload() {
        $("#gridTable").trigger("reloadGrid"); //重新载入
        $("#gridETable").trigger("reloadGrid");
    }

</script>
<div class="leftline rightline" style="margin-left: 1px; margin-right: 1px;">
    @*<div class="tools_bar" style="margin-top: 1px; margin-bottom: 0px;">
            <div class="PartialButton">
                @Html.Partial("_PartialButton")
            </div>
        </div>*@
    <div style="margin-top: 1px; margin-bottom: 0px" class="tools_bar">
        <div class="PartialButton">
            <a id="lr-query" class="tools_btn" title="查找" onclick="btn_query()">
                <span>
                    <b style="background: url(../../Content/Images/Icon16/page_white_magnify.png) no-repeat 50% 4px">
                        查找
                    </b>
                </span>
            </a> <a id="ai-replace" class="tools_btn" title="刷新当前" onclick="Replace()">
                <span>
                    <b style="background: url(../../Content/Images/Icon16/arrow_refresh.png) no-repeat 50% 4px">
                        刷新
                    </b>
                </span>
            </a>
            <div class="tools_separator">
            </div>
            <a id="lr-add" class="tools_btn" title="补增" onclick="btn_add()">
                <span>
                    <b style="background: url(../../Content/Images/Icon16/add.png) no-repeat 50% 4px">
                        补增
                    </b>
                </span>
            </a> <a id="lr-edit" class="tools_btn" title="参照" onclick="btn_edit()">
                <span>
                    <b style="background: url(../../Content/Images/Icon16/edit.gif) no-repeat 50% 4px">
                        参照
                    </b>
                </span>
            </a><a id="ai-delete" class="tools_btn" title="作废" onclick="btn_Invalid()">
                <span>
                    <b style="background: url(../../Content/Images/Icon16/DeleteRed.png) no-repeat 50% 4px">作废</b>
                </span>
            </a>
            <a title="打印" class="tools_btn" id="ai-print" onclick="BDPrint()"
               ids="f8747178-2754-45fb-a61a-39116787dc92">
                <span>
                    <b style='background: url("../../Content/Images/Icon16/printer.png") no-repeat 50% 4px;'>
                        打印
                    </b>
                </span>
            </a> <a id="lr-detail" class="tools_btn" title="详细信息" onclick="btn_detail()">
                <span>
                    <b style="background: url(../../Content/Images/Icon16/application_view_detail.png) no-repeat 50% 4px">
                        详细
                    </b>
                </span>
            </a> <a id="lr-leave" class="tools_btn" title="关闭当前窗口(Esc)" onclick="btn_back()">
                <span>
                    <b style="background: url(../../Content/Images/Icon16/back.png) no-repeat 50% 4px">
                        离开
                    </b>
                </span>
            </a>
        </div>
    </div>
    <div class="QueryArea">
        <table border="0" class="form-find" style="height: 45px;">
            <tr>
                <th>
                    创建日期：
                </th>
                <td>
                    <input id="StartTime" type="text" class="txt Wdate" value="@EOS.Utilities.DateTimeHelper.GetToday()" style="width: 110px" onfocus="WdatePicker({onpicked:function(){EndTime.focus();},maxDate:'#F{$dp.$D(\'EndTime\')}'})" />
                </td>
                <td>
                    -
                </td>
                <td>
                    <input id="EndTime" type="text" class="txt Wdate" value="@EOS.Utilities.DateTimeHelper.GetToday()" style="width: 110px" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'StartTime\')}'})" />
                </td>
                <th>
                    过磅单号：
                </th>
                <td>
                    <input id="BillNo" type="text" class="txt" style="width: 100px" />
                </td>
                <th>
                    订单编号：
                </th>
                <td>
                    <input id="VBillCode" type="text" class="txt" style="width: 100px" />
                </td>

                <th>
                    入厂厂区：
                </th>
                <td>
                    <select id="DEF11" class="txt select" style="width: 100px">
                        <option value="">---请选择---</option>
                        <option value="1000">阳光纸业</option>
                        <option value="6000">盛世热电</option>
                        <option value="7000">新迈纸业</option>
                        <option value="8000">阳光王子</option>
                        <option value="9000">华迈纸业</option>
                        <option value="9010">科迈制浆</option>
                    </select>
                </td>

            </tr>
            <tr>
                <th>
                    车号：
                </th>
                <td>
                    <input id="Cars" type="hidden" />
                    <input id="CarsName" type="text" class="txt" style="width: 100px" />
                </td>
                <th>
                    计量状态：
                </th>
                <td>
                    <select id="FINISH" name="FINISH" class="select" style="width: 100px;">
                        <option value="">---请选择---</option>
                        <option value="0">一次计量</option>
                        <option value="1" selected="selected">二次计量</option>
                    </select>
                </td>
                <th>
                    结算状态：
                </th>
                <td>
                    <select id="ISJS" name="ISJS" class="select" style="width: 100px;">
                        <option value="">---请选择---</option>
                        <option value="0">未结算</option>
                        <option value="1">已结算</option>
                    </select>
                </td>
                <th>
                    物料：
                </th>
                <td>
                    <input id="MATERIAL" type="hidden" />
                    <input id="MATERIALNAME" type="text" class="txt" style="width: 100px" />
                </td>
                <th></th>
                <td>
                    <input id="btnSearch" type="button" class="btnSearch" value="搜 索" onclick="btn_Search()" />
                </td>
            </tr>
        </table>
    </div>
    <div id="grid_List" class="topline">
        <table id="gridTable"></table>
        <div id="gridPager">
        </div>
        <table id="gridETable"></table>
    </div>
</div>
<style>
    .ui-widget-content {
        border-left: none;
    }
</style>
