@{
    ViewBag.Title = "转序组大批新增";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script type="text/javascript">
    var ModuleId = GetQuery("ModuleId");
    var KeyValue = GetQuery("KeyValue");
    $(function () {
        if (IsNull(KeyValue)) {
            $("#PCRAWID").val(KeyValue);
        }
        InitControl();
    })

    //得到一个对象实体
    function InitControl() {
        if (!IsNull($("#TYPENAME").val())) {
            $("#TYPE").val("1");
            $("#TYPENAME").val("创建批号");
        }
        if (IsNull(KeyValue)) {
            AjaxJson("/ZJZXManager/ZJZXCYAllBatch/SetForm", { KeyValue: KeyValue }, function (data) {
                SetWebControls(data);
            });
        }
    }
    function SetWebControls(data) {
        try {
            if (data != null) {
                for (var key in data.M[0]) {
                    var id = $('#' + key);
                    if (id.attr('id')) {
                        var value = $.trim(data.M[0][key]).replace("&nbsp;", "").replace(/</g, "<").replace(/>/, ">");
                        var type = id.attr('type');
                        switch (type) {
                            case "checkbox":
                                if (value == 1) {
                                    id.attr("checked", 'checked');
                                } else {
                                    id.removeAttr("checked");
                                }
                                break;
                            default:
                                id.val(value);
                                break;
                        }
                    }
                }
                switch ($("#TYPE").val()) {
                    case "1":
                        $("#TYPENAME").val("创建批号");
                        break;
                    case "2":
                        $("#TYPENAME").val("组批中");
                        break;
                    case "3":
                        $("#TYPENAME").val("组批完成");
                        break;
                }

                $.each(data.D, function (i, o) {
                    var maxcode = parseInt($("#MaxID").val()) + 1;
                    var tr = '<tr index=' + maxcode + '><td class="td-div" style="width: 30px; text-align: center; border-left: none;" ondblclick="Del(this)" index=' + maxcode + ' >' + maxcode + '</td>';
                    tr += '<td class="formValue" style="width: 100px; text-align: center;"><input id="YBILLNO➩' + maxcode + '" readonly="readonly" type="text" class="txt required readonly" datacol="yes" err="批次号" checkexpession="NotNull" /></td>';
                    tr += '<td class="formValue" style="width: 100px; text-align: center;"><input id="PRINTCODE➩' + maxcode + '" readonly="readonly" type="text" class="txt required readonly" datacol="yes" err="条码号" checkexpession="NotNull" /></td>';
                    tr += '<td class="formValue" style="width: 100px; text-align: center;display:none"><input id="PCID➩' + maxcode + '" readonly="readonly" type="text" class="txt required readonly" /><input id="PCITEMID➩' + maxcode + '" type="hidden" class="txt" /></td>';
                    tr += '<td class="formValue" style="width: 100px; text-align: center;"><input id="MATERIALNAME➩' + maxcode + '" readonly="readonly" type="text" class="txt required readonly"  /><input id="MATERIAL➩' + maxcode + '" type="hidden" class="txt"/></td>';
                    tr += '<td class="formValue" style="width: 100px; text-align: center;"><input id="CYDATE➩' + maxcode + '" readonly="readonly" type="text" class="txt required readonly" /></td>';
                    tr += '<td class="formValue" style="width: 200px; text-align: center;"><input id="MEMO➩' + maxcode + '"  readonly="readonly" type="text" class="txt required readonly" /></td>';
                    tr += '</tr>';
                    $("#add_TableInfo").append(tr);
                    $("#MaxID").val(maxcode);
                    DetailsBind(maxcode);
                    for (var key in o) {
                        var id = $('#' + key + "➩" + (i + 1));
                        if (id.attr('id')) {
                            var value = $.trim(o[key]).replace("&nbsp;", "").replace(/</g, "<").replace(/>/, ">");
                            var type = id.attr('type');
                            switch (type) {
                                case "checkbox":
                                    if (value == 1) {
                                        id.attr("checked", 'checked');
                                    } else {
                                        id.removeAttr("checked");
                                    }
                                    break;
                                default:
                                    //id.val(value);
                                    id.attr("value", value);
                                    break;
                            }
                        }
                    }
                })
            }

        } catch (e) {
            alert(e)
        }
    }

    function SetEntityData(data) {
        $.each(data.rows, function (i, o) {
            if ($("#add_TableInfo").find("input[value='" + o.id + "']").length <= 0) {
                var maxcode = parseInt($("#MaxID").val()) + 1;
                var tr = '<tr index=' + maxcode + '><td class="td-div" style="width: 30px; text-align: center; border-left: none;" ondblclick="Del(this)" index=' + maxcode + ' >' + maxcode + '</td>';
                tr += '<td class="formValue" style="width: 100px; text-align: center;"><input id="YBILLNO➩' + maxcode + '" readonly="readonly" type="text" class="txt required readonly" datacol="yes" err="批次号" checkexpession="NotNull" value="' + o.billno + '" /></td>';
                tr += '<td class="formValue" style="width: 100px; text-align: center;"><input id="PRINTCODE➩' + maxcode + '" readonly="readonly" type="text" class="txt required readonly" datacol="yes" err="条码号" checkexpession="NotNull" value="' + o.printcode + '" /></td>';
                tr += '<td class="formValue" style="width: 100px; text-align: center;display:none"><input id="PCID➩' + maxcode + '" readonly="readonly" type="text" class="txt required readonly" value="' + o.id + '" /><input id="PCITEMID➩' + maxcode + '" type="hidden" class="txt" value="' + o.id + '"/></td>';
                tr += '<td class="formValue" style="width: 100px; text-align: center;"><input id="MATERIALNAME➩' + maxcode + '" readonly="readonly" type="text" class="txt required readonly" value="' + o.materialname + '" /><input id="MATERIAL➩' + maxcode + '" type="hidden" class="txt" value="' + o.material + '"/></td>';
                tr += '<td class="formValue" style="width: 100px; text-align: center;"><input id="CYDATE➩' + maxcode + '" readonly="readonly" type="text" class="txt required readonly" value="' + o.cydate + '" /></td>';
                tr += '<td class="formValue" style="width: 200px; text-align: center;"><input id="MEMO➩' + maxcode + '" readonly="readonly" type="text" class="txt required readonly" value="' + (IsNull(o.memo) ? o.memo : "") + '" /></td>';
                tr += '</tr>';
                $("#add_TableInfo").append(tr);
                $("#MaxID").val(maxcode);

                DetailsBind(maxcode);

            }
        })

        SetType();
    }
    function SetType() {
        if ($("#add_TableInfo tr").length > 0) {
            $("#TYPE").val("2");
            $("#TYPENAME").val("组批中");
            $("#MATERIAL").val($("#MATERIAL➩1").val());
            $("#MATERIALNAME").val($("#MATERIALNAME➩1").val()); 
        } else {
            $("#TYPE").val("1");
            $("#TYPENAME").val("创建批号");
            $("#MATERIAL").val("");
            $("#MATERIALNAME").val(""); 
            $("#msg").val("");
        }
        $("#CARSNUM").val($("#MaxID").val());
    }
    function DetailsBind(maxcode) {
        $("#KZ➩" + maxcode).bind("blur", function () {
            $(this).val(parseFloat($(this).val()).toFixed(3));
        })
        BindDropItemForID("#KS➩" + maxcode, "KSType", "==请选择="); //扣水类型
    }
    function ZPFinish() {
        if ($("#add_TableInfo tr").length > 0) {
            if (!CheckDataValid('#form1')) {
                return false;
            }
            Loading(true, "正在提交数据...");
            window.setTimeout(function () {
                AjaxJson("/ZJZXManager/ZJZXCYAllBatch/ZJZXCYAllBatchFinish?KeyValue=" + $("#PCRAWID").val(), "", function (data) {
                    if (data.Code == "1") {
                        $("#TYPE").val("3");
                        $("#TYPENAME").val("组批完成");
                        tipDialog(data.Message, 3, data.Code);
                        top.frames["tabs_iframe_" + ModuleId].windowload();
                        ThisCloseTab();
                    } else {
                        tipDialog(data.Message, 3, data.Code);
                    }
                });
            }, 200);
        } else {
            tipDialog("没有采样明细记录无法对该批号完成", 3, 0);
        }
    }

    function Del(obj) {
        var No = $(obj).attr("index");
        confirmDialog('', '注：您确定要删除当前第【' + No + '】行数据吗？', function (r) {
            if (r) {
                $("#add_TableInfo").find("tr[index='" + No + "']").remove();
                for (var i = No; i <= $("#MaxID").val(); i++) {
                    if (IsNull($("#ID➩" + (parseInt(i) + 1)).val())) {
                        $("#add_TableInfo").find("td[index='" + (parseInt(i) + 1) + "']").text(i);
                        $("#add_TableInfo").find("td[index='" + (parseInt(i) + 1) + "']").attr("index", i);
                        $("#add_TableInfo").find("tr[index='" + (parseInt(i) + 1) + "']").attr("index", i);

                        $("#YBILLNO➩" + (parseInt(i) + 1)).attr("id", "YBILLNO➩" + i);
                        $("#PRINTCODE➩" + (parseInt(i) + 1)).attr("id", "PRINTCODE➩" + i);
                        $("#PCID➩" + (parseInt(i) + 1)).attr("id", "PCID➩" + i);
                        $("#PCITEMID➩" + (parseInt(i) + 1)).attr("id", "PCITEMID➩" + i); 
                        $("#CARSNAME➩" + (parseInt(i) + 1)).attr("id", "CARSNAME➩" + i);
                        $("#CARS➩" + (parseInt(i) + 1)).attr("id", "CARS➩" + i);
                        $("#MATERIALNAME➩" + (parseInt(i) + 1)).attr("id", "MATERIALNAME➩" + i);
                        $("#MATERIAL➩" + (parseInt(i) + 1)).attr("id", "MATERIAL➩" + i);
                        $("#ORGNAME➩" + (parseInt(i) + 1)).attr("id", "ORGNAME➩" + i);
                        $("#ORG➩" + (parseInt(i) + 1)).attr("id", "ORG➩" + i);
                        $("#DEPTNAME➩" + (parseInt(i) + 1)).attr("id", "DEPTNAME➩" + i);
                        $("#DEPT➩" + (parseInt(i) + 1)).attr("id", "DEPT➩" + i);
                        $("#MEMO➩" + (parseInt(i) + 1)).attr("id", "MEMO➩" + i);
                    }
                }
                $("#MaxID").val(parseInt($("#MaxID").val()) - 1);
                SetType();
            }
        });
    }
    //多选采样批次
    function SelectBatch() {
        var MATERIAL = $("#MATERIAL").val();
        var MATERIALNAME = $("#MATERIALNAME").val();
        var SUPPLY = $("#SUPPLY").val();
        var SUPPLYNAME = $("#SUPPLYNAME").val();
        var url = "/ZJZXManager/ZJZXCYAllBatch/ZJZXCYAllBatchSelect?Type=0&FormID=@ViewBag.FormID&MATERIAL=" + escape(MATERIAL) + "&MATERIALNAME=" + escape(MATERIALNAME);
        Dialog(url, "ZJZXCYAllBatchSelect", "选取采样批次", 900, 400);
    }
    //多选采样批次回调
    function CallBackEvent(KeyValue) {
        //过滤当前已经选中的采样批次
        var KeyValue2 = "";
        $.each(KeyValue.split(','), function (i, o) {
            if ($("#add_TableInfo").find("input[value='" + o + "']").length <= 0) {
                KeyValue2 += o + ",";
            }
        })
        if (IsNull(KeyValue2)) {
            AjaxJson("/ZJZXManager/ZJZXCYAllBatch/ZJZXCYGetBatchData?KeyValue=" + escape(KeyValue2), "", function (data) {
                if (IsNull(data) && IsNull(data.rows) && data.rows.length > 0) {
                    SetEntityData(data);
                } else {
                    tipDialog("未查询到数据", 2, 0);
                }
            });
        }
    }
    //保存事件
    function SubmitOrderForm() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        Loading(true, "正在提交数据...");
        window.setTimeout(function () {
            var postData = GetWebControlsForTrue("#RuleHead");
            postData["ZJZXCYDetailJson"] = GetTableDataJson("#Temp_List");
            AjaxJson("/ZJZXManager/ZJZXCYAllBatch/ZJZXCYAllBatchSave?KeyValue=" + GetQuery('KeyValue'), postData, function (data) {
                tipDialog(data.Message, 3, data.Code);
                if (data.Code == "1") {
                    top.frames["tabs_iframe_" + ModuleId].windowload();
                    ThisCloseTab();
                }
            });
        }, 200);
    }
</script>
<form id="form1" style="margin: 1px">
<input id="MaxID" type="hidden" value="0" />
<input id="PCRAWID" type="hidden" />
<div class="tools_bar" style="margin-top: 1px; margin-bottom: 1px;">
    <a id="lr-replace" class="tools_btn" title="刷新当前(Ctrl+Q)" onclick="Replace()"><span>
        <b style='background: url(@Url.Content("~/Content/Images/Icon16/arrow_refresh.png")) no-repeat 50% 4px;'>
            刷新</b></span></a> <a id="button_Commit_Save" title="保存单据" onclick="SubmitOrderForm()"
                class="tools_btn"><span><b style="background: url(@Url.Content("~/Content/Images/Icon16/disk.png")) 50% 4px no-repeat;">
                    保存</b></span></a><a id="button_Commit_SelectBatch" title="选择批次" onclick="SelectBatch()"
                        class="tools_btn"><span><b style="background: url(@Url.Content("~/Content/Images/Icon16/advanced_data_grid.png")) 50% 4px no-repeat;">
                            选择批次</b></span></a> <a id="button_ZPFinish" title="完成" onclick="ZPFinish()" class="tools_btn">
                                <span><b style="background: url(@Url.Content("~/Content/Images/Icon16/relationships.png")) 50% 4px no-repeat;">
                                    完成</b></span></a> <a title="关闭当前窗口(Esc)" onclick="ThisCloseTab()" class="tools_btn">
                                        <span><b style="background: url(@Url.Content("~/Content/Images/Icon16/back.png")) 50% 4px no-repeat;">
                                            离开</b></span></a>
</div>
<div id="PCRAWCYADD">
    <div id="RuleHead">
        <table class="form">
            <tr>
                <th class="formTitle">
                    大批号：
                </th>
                <td class="formValue">
                    <input id="PCRAWTYPE" type="hidden" datacol="yes" value="4" dbfield="true" />
                    <input id="BILLNO" maxlength="50" type="text" class="txt required" datacol="yes"
                        dbfield="true" err="批号" checkexpession="NotNull" />
                </td>
                <th class="formTitle">
                    日期：
                </th>
                <td class="formValue">
                    <input id="CYDATE" maxlength="50" type="text" class="txt Wdate" datacol="yes" value="@EOS.Utilities.DateTimeHelper.GetToday()" dbfield="true"
                    onfocus="var CYDATE=$dp.$('CYDATE');WdatePicker({onpicked:function(){CYDATE.focus();},maxDate:'#F{$dp.$D(\'CYDATE\')}'})"
                        err="日期" checkexpession="NotNull" />
                </td>
                <th class="formTitle">
                    状态：
                </th>
                <td class="formValue">
                    <input id="TYPE" type="hidden" dbfield="true" />
                    <input id="TYPENAME" type="text" class="txt required readonly" readonly="readonly"
                        style="font-weigth: bold; font-size: 18px; color: Red" dbfield="true" err="状态"
                        checkexpession="NotNull" />
                </td>
                <th class="formTitle">
                    读卡信息：
                </th>
                <td class="formValue">
                    <input id="msg" type="text" class="txt readonly" style="font-weigth: bold; font-size: 18px;
                        color: Red" readonly="readonly" err="读卡信息" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">
                    物料：
                </th>
                <td class="formValue">
                    <input id="MATERIAL" type="hidden" dbfield="true" />
                    <input id="MATERIALNAME" type="text" class="txt readonly" readonly="readonly" err="物料" />
                </td>
                <th class="formTitle">
                    制单日期：
                </th>
                <td class="formValue">
                    <input id="CRETIME" type="text" class="txt required readonly" readonly="readonly"
                        err="制单日期" checkexpession="NotNull" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")" />
                </td>
                <th class="formTitle">
                    制单人：
                </th>
                <td class="formValue">
                    <input id="CREUSER" type="text" class="txt required readonly" readonly="readonly"
                        err="制单人" checkexpession="NotNull" value="@EOS.Utilities.ManageProvider.Provider.Current().UserName" />
                </td>
                <th class="formTitle">
                    组批数量：
                </th>
                <td class="formValue">
                    <input id="CARSNUM" type="text" class="txt required readonly" readonly="readonly"
                        dbfield="true" err="组批车数" checkexpession="NotNull" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">
                    描述：
                </th>
                <td class="formValue" colspan="5">
                    <input id="MEMO" type="text" class="txt" err="描述" dbfield="true" />
                </td>
            </tr>
        </table>
    </div>
    <div class="bd" style="border-bottom: none; margin-top: 1px; margin-bottom: 1px;">
        <div class="tipstitle_title settingtable bold bd todayInfoPanelTab rightPanelTitle_normal">
            <div class="tab_list_top" style="position: absolute">
                <div class="tab_list bd actived">
                    组批明细</div>
            </div>
        </div>
    </div>
    <table id="Temp_List" class="grid leftline form" style="width: 100%">
        <thead>
            <tr>
                <td style="width: 30px; text-align: center; border-left: none;">
                    <div class="table-header">
                        行号</div>
                </td>
                <td style="width: 100px; text-align: center;">
                    <div class="table-header">
                        批号</div>
                </td>
                <td style="width: 100px; text-align: center;">
                    <div class="table-header">
                        条码</div>
                </td>
                <td style="width: 100px; text-align: center; display: none">
                    <div class="table-header">
                        批次主键</div>
                </td>
                <td style="width: 100px; text-align: center;">
                    <div class="table-header">
                        物料</div>
                </td>
                <td style="width: 100px; text-align: center;">
                    <div class="table-header">
                        采样日期</div>
                </td>
                <td style="width: 200px; text-align: center;">
                    <div class="table-header">
                        备注</div>
                </td>
            </tr>
        </thead>
        <tbody id="add_TableInfo">
        </tbody>
    </table>
    <div class="line">
    </div>
</div>
</form>
