@{
    ViewBag.Title = "转序采样组大批管理";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script src="~/Content/Scripts/Report/CreateControl.js" type="text/javascript"></script>
<script type="text/javascript">
    var ModuleId = GetQuery('ModuleId'); //菜单主键
    var TypeStatus; 
    CreateReport("Report");
    $(function () {   
        $("#Report").css("display","none");  
        GetGrid(); 
        GetGrid2("");    
        setTimeout(function(){ 
            Report.LoadFromURL("../../../../ReportView/grf/PrintCode.grf"); 
        },"500"); 
    })
     
    //搜索
    function btn_Search() {
        var StartTime = $("#StartTime").val();
        var EndTime = $("#EndTime").val();
        var BillNo = $("#NAME").val(); 
        $("#gridTable").jqGrid('setGridParam', {
            url: "@Url.Content("~/ZJZXManager/ZJZXCYAllBatch/GetZJZXCYBatchList")?StartTime=" + StartTime + '&EndTime=' + EndTime + '&BillNo=' + escape(BillNo), page: 1
        }).trigger('reloadGrid');
    }
    //加载表格
    function GetGrid() {
        var StartTime = $("#StartTime").val();
        var EndTime = $("#EndTime").val(); 
        $("#gridTable").jqGrid({
            url: "@Url.Content("~/ZJZXManager/ZJZXCYAllBatch/GetZJZXCYBatchList")?StartTime=" + StartTime + '&EndTime=' + EndTime,
            datatype: "json",
            height: $(window).height() - 150,
            autowidth:false,
            width: $(window).width()*0.88,
            colModel:  [
                { label: 'ID', name: 'ID', index: 'ID', width: 180, align: 'left',align:'center',hidden:true }, 
                { label: '批号', name: 'BILLNO', index: 'BILLNO', width: 180, align: 'left',align:'center' },
                {
                    label: '类型', name: 'PCRAWTYPE', index: 'PCRAWTYPE', width: 100, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        return "组大批";  
                    }
                }, 
                {
                    label: '状态', name: 'TYPE', index: 'TYPE', width: 100, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == '1') return "<span style='color:red;font-size:15px'>创建批号</span>";
                        if (cellvalue == '2') return "<span style='color:blue;font-size:15px'>组批中</span>";
                        if (cellvalue == '3') return "<span style='color:green;font-size:15px'>组批完成</span>";
                    }
                },
                {
                    label: '送检状态', name: 'ISSEND', index: 'ISSEND', width: 100, align: 'center',
                    formatter: function (cellvalue, options, rowObject) { 
                        if (cellvalue == '0') return "<span style='color:red;font-size:15px'>未送检</span>";
                        if (cellvalue == '1') return "<span style='color:green;font-size:15px'>已送检</span>";
                    }
                },
                { label: '物料', name: 'MATERIALNAME', index: 'MATERIALNAME', width: 120, align: 'center'  }, 
                { label: '组批数量', name: 'CARSNUM', index: 'CARSNUM', width: 100, align: 'center'  },   
                { label: '采样日期', name: 'CYDATE', index: 'CYDATE', width: 110, align: 'center' },
                { label: '创建人', name: 'CREUSER', index: 'CREUSER', width: 100, align: 'center' },
                {
                    label: '创建日期', name: 'CRETIME', index: 'CRETIME', width: 110, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM-dd hh:mm');
                    }
                },
                { label: '备注', name: 'MEMO', index: 'MEMO', width: 200, align: 'left' }
            ],
            viewrecords: true,
            rowNum: 30,
            rownumbers:true,
            rowList: [30, 50, 100, 500, 1000],
            pager: "#gridPager",
            sortname: 'CRETIME',
            sortorder: 'desc',
            shrinkToFit: false,
            gridview: true,
            subGrid: false,
            //单击事件
            onSelectRow: function (RowIndx) {  
                var MAINID = GetJqGridRowValue("#gridTable", "ID"); 
                $("#gridTable2").jqGrid('setGridParam', {
                    url: "@Url.Content("~/ZJZXManager/ZJZXCYAllBatch/GetZJZXCYBatchListItem")?MAINID=" + escape(MAINID), page: 1
                }).trigger('reloadGrid'); 
            }  
        });
        
    }

    function GetGrid2(MAINID) {  
        $("#gridTable2").jqGrid({ 
            url: "@Url.Content("~/ZJZXManager/ZJZXCYAllBatch/GetZJZXCYBatchListItem")?MAINID=" + escape(MAINID),
            datatype: "json",
            height: $(window).height() - 125,
            autowidth:false,
            width: $(window).width()*0.10,
            colModel: [ 
                { label: '批次列表', name: 'YBILLNO', index: 'YBILLNO', width: 120, align: 'center' }
            ],
            viewrecords: true,
            rowNum: 30,
            rownumbers:false, 
            pager: false,
            sortname: 'ID',
            sortorder: 'desc',
            shrinkToFit: false,
            gridview: true,
            subGrid: false

        });
        columnModelData("#gridTable2");
    } 

    //新增
    function btn_add() { 
        AddTabMenu("PCRawAllBatchAdd", "@Url.Content("~/ZJZXManager/ZJZXCYAllBatch/ZJZXCYAllBatchAdd")?ModuleId="+ModuleId, "新增原料组大批", "page_white_add.png", true, true, true);
    }
     
    //编辑
    function btn_edit() { 
        var KeyValue = GetJqGridRowValue("#gridTable", "ID");
        if (IsChecked(KeyValue)) {
            GetStatus(KeyValue);
            if(TypeStatus.TYPE!="3"){  
                AddTabMenu("ZJZXCYAllBatchAdd", "@Url.Content("~/ZJZXManager/ZJZXCYAllBatch/ZJZXCYAllBatchAdd")?ModuleId="+ModuleId+"&KeyValue="+escape(KeyValue), "编辑原料组大批", "page_white_add.png", true, true, true);
            } else{
                tipDialog("组批完成无法编辑", 3, 0);
            }  
        }
    }
    //删除
    function btn_delete() {
        var KeyValue = GetJqGridRowValue("#gridTable", "ID");
        if (IsDelData(KeyValue)) { 
            var delparm = 'KeyValue=' + KeyValue;
            delConfig('/ZJZXManager/ZJZXCYAllBatch/DeleteItem', delparm, KeyValue.split(",").length);
        }
    }
    //获取单据状态
    function GetStatus(KeyValue){ 
        AjaxJson("/ZJZXManager/ZJZXCY/GetZXStatus?KeyValue=" +escape(KeyValue), "", function (data) {
            if (data.Success) {
                TypeStatus = jQuery.parseJSON(data.Message);
            }else{
                tipDialog(data.Message, 3, data.Code);
                return;
            } 
        });
    }
 
     
    //补打条码
    function Print(){   
        var KeyValue = GetJqGridRowValue("#gridTable", "ID");
        var BILLNO = GetJqGridRowValue("#gridTable", "BILLNO");
        var material = GetJqGridRowValue("#gridTable", "MATERIALNAME");
        if (IsChecked(KeyValue)) {
            GetStatus(KeyValue);
            if(TypeStatus.TYPE!="3"){ 
                tipDialog("组批未完成无法进行条码打印", 3, 0);
            } else{
                if(IsNull(TypeStatus.PRINTCODE)){
                    Report.ParameterByName("billno").AsString = TypeStatus.PRINTCODE;
                    Report.ParameterByName("material").AsString = material;
                    Report.Print(true); 
                }else{
                    tipDialog("获取条码失败", 3, 0);
                } 
            }  
        }
    }


    //完成
    function BatchFinish() {
        var KeyValue = GetJqGridRowValue("#gridTable", "ID");
        if (IsChecked(KeyValue)) {
            AjaxJson("/ZJZXManager/ZJZXCYAllBatch/ZJZXCYAllBatchFinish?KeyValue=" + escape(KeyValue), "", function (data) {
                if (data.Code == "1") {
                    $("#TYPE").val("3");
                    $("#TYPENAME").val("组批完成");
                    windowload();
                }
                tipDialog(data.Message, 3, data.Code); 
            });  
        }
    }
    //取消完成
    function UNFinish(){
        var KeyValue = GetJqGridRowValue("#gridTable", "ID");
        if (IsChecked(KeyValue)) {
            AjaxJson("/ZJZXManager/ZJZXCY/PCZXCYUNFinish?KeyValue=" + escape(KeyValue), "", function (data) {
                if (data.Code == "1") {
                    windowload();
                }
                tipDialog(data.Message, 3, data.Code); 
            });  
        }
    }
    //刷新
    function windowload() {
        $("#gridTable").trigger("reloadGrid"); //重新载入
    }
</script>
<div class="leftline rightline" style="margin-left: 1px; margin-right: 1px;">
    <div class="tools_bar" style="margin-top: 1px; margin-bottom: 0px;">
        <div class="PartialButton">
            @Html.Partial("_PartialButton")
        </div>
    </div>
    <div class="QueryArea">
        <table border="0" class="form-find" style="height: 45px;">
            <tr>
                <th>
                    批号：
                </th>
                <td>
                    <input id="NAME" type="text" class="txt" style="width: 120px" />
                </td>
                <th>
                    制单日期：
                </th>
                <td>
                    <input id="StartTime" type="text" class="txt Wdate" value="@EOS.Utilities.DateTimeHelper.GetDate(-7)" style="width: 120px" onfocus="var endDate=$dp.$('EndTime');WdatePicker({onpicked:function(){EndTime.focus();},maxDate:'#F{$dp.$D(\'EndTime\')}'})" />
                </td>
                <td>
                    -
                </td>
                <td>
                    <input id="EndTime" type="text" class="txt Wdate" value="@EOS.Utilities.DateTimeHelper.GetToday()" style="width: 120px" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'StartTime\')}'})" />
                </td>
                <td>
                    <input id="btnSearch" type="button" class="btnSearch" value="搜 索" onclick="btn_Search()" />
                </td>
            </tr>
        </table>
    </div>
    <div id="grid_List" class="topline">
        <div style="float: left; border-right: 1px solid #ccc">
            <table id="gridTable">
            </table>
            <div id="gridPager">
            </div>
        </div>
        <div style="float: left; border-left: 1px solid #ccc">
            <table id="gridTable2">
            </table>
        </div>
    </div>
</div>
<style>
    .ui-widget-content
    {
        border-left: none;
    }
</style>
