@{
    ViewBag.Title = "选择采购订单";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script>

    $(function () {
       BindAutocomplete("MaterialName", "Material", "Material", "200", "150", "");

          var MATERIAL=  GetQuery('MATERIAL');
       if(MATERIAL!=""){
       $("#Material").val(MATERIAL);
       }
       
          var MATERIALNAME=  GetQuery('MATERIALNAME');
       if(MATERIALNAME!=""){
       $("#MaterialName").val(MATERIALNAME);
       }
        var BEGINDATE=  GetQuery('BEGINDATE');
       if(BEGINDATE!=""){
       $("#StartTime").val(BEGINDATE);
       }
        var ENDDATE=  GetQuery('ENDDATE');
       if(ENDDATE!=""){
       $("#EndTime").val(ENDDATE);
       }
        $("#keywords").focus();
             setTimeout(function () {
                GetGrid();
            }, 100);
        //绑定键盘按下事件  
        $(document).keypress(function (e) {
            // 回车键事件  
            if (e.which == 13) {
                $("#keywords").focus();
                $("#keywords").select();
                $("#btnSearch").click();
            }
        });
    });
    //搜索
    function btn_Search() {
       
        var Material = $("#Material").val();
           var StartTime = $("#StartTime").val();
        var EndTime = $("#EndTime").val();
        $("#gridTable").jqGrid('setGridParam', {
            url: "@Url.Content("~/WeightManager/WeightPDC/GetPDCOrderList")?StartTime=" + StartTime + '&EndTime=' + EndTime + '&Material=' +   Material
        }).trigger('reloadGrid');
    }
    //显示 
    function GetGrid() {
      var index = GetQuery('index');
        var Supply=  GetQuery('Supply');
        var StartTime = $("#StartTime").val();
        var EndTime = $("#EndTime").val();
        $("#gridTable").jqGrid({
            url: "@Url.Content("~/WeightManager/WeightPDCBZ/GetPDCOrderList")?StartTime=" + StartTime + '&EndTime=' + EndTime ,
            datatype: "json",
            height:245,
            width:890,
            colModel: [
             { label: '计量单号', name: 'BILLNO', index: 'BILLNO', width: 130, align: 'center' },
             { label: '炉批号', name: 'STOVENUM', index: 'STOVENUM', width: 100, align: 'left' },
               { label: '发货单位PK', name: 'PK_SENDUNIT', hidden: true },
             { label: '发货单位', name: 'SENDUNITNAME', index: 'SENDUNITNAME', width: 120, align: 'left' },
               { label: '收货单位PK', name: 'PK_ACCEPTUNIT', hidden: true },
             { label: '收货单位', name: 'ACCEPTUNITNAME', index: 'ACCEPTUNITNAME', width: 120, align: 'left' },
              { label: '物料PK', name: 'MTID', hidden: true },
             { label: '物料', name: 'MTNAME', index: 'MTNAME', width: 130, align: 'left' },
               { label: '长度PK', name: 'MSIT', hidden: true },
             { label: '长度', name: 'MSNAME', index: 'MSNAME', width:100, align: 'left' },
             { label: '重量', name: "FACTAMOUNT", width: 80, sortable: false },
             {  label: '过磅时间', name: 'CREATEDATE', index: 'CREATEDATE', width: 130, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM-dd hh:mm');
                    }
                }
            ],
            pager: "#gridPager",
            sortname: 'CREATEDATE',
            sortorder: 'desc',
           multiselect: true, //可多选，出现多选框 
            rownumbers: true,
            shrinkToFit: false,
            gridview: true 
 
        });
    
        //表格自适应（高度、宽度）
        $(window).resize(function () {
            $("#gridTable").jqGrid('setGridWidth', $(window).width()).jqGrid('setGridHeight', $(window).height() - 77);
        });

              //点击取值
        function SelRow() {
            var JsonData = [];
            var ids = $("#gridTable").getGridParam('selarrrow');
            $.each(ids, function (i, o) {
                var rowData = $("#gridTable").jqGrid("getRowData", ids[i]);
                JsonData.push(rowData);
            })
           var $parentobj = top.frames[tabiframeId()];
            $parentobj.AppendRowsNew(JsonData);
               closeDialog();
        }
    }


      //点击取值
        function SelRow() {
            var JsonData = [];
            var ids = $("#gridTable").getGridParam('selarrrow');
            $.each(ids, function (i, o) {
                var rowData = $("#gridTable").jqGrid("getRowData", ids[i]);
                JsonData.push(rowData);
            })
           var $parentobj = top.frames[tabiframeId()];
            $parentobj.AppendRowsNew(JsonData);
               closeDialog();
        }
</script>
<div class="border" style="margin: 1px; border-bottom: none; margin-bottom: 0px;">
    <div class="tools_bar" style="margin-top: 1px; margin-bottom: 1px;">
        <a id="lr-replace" class="tools_btn" title="刷新当前(Ctrl+Q)" onclick="Replace()"><span>
            <b style='background: url(@Url.Content("~/Content/Images/Icon16/arrow_refresh.png")) no-repeat 50% 4px;'>
                刷新</b></span></a> <a title="确定" onclick="SelRow()" class="tools_btn"><span><b style="background: url(@Url.Content("~/Content/Images/Icon16/ok.png")) 50% 4px no-repeat;">
                    确定</b></span></a> <a title="关闭当前窗口(Esc)" onclick=" closeDialog();" class="tools_btn">
                        <span><b style="background: url(@Url.Content("~/Content/Images/Icon16/back.png")) 50% 4px no-repeat;">
                            离开</b></span></a>
    </div>
    <div class="QueryArea">
        <table border="0" class="form-find" style="height: 45px;">
            <tr>
                <th>
                    物料：
                </th>
                <td>
                    <input id="Material" type="hidden" />
                    <input id="MaterialName" type="text" class="txt" readonly="readonly" style="width: 120px" />
                </td>
                <th>
                    开始日期：
                </th>
                <td>
                    <input id="StartTime" type="text" class="txt" style="width: 130px" value="@EOS.Utilities.DateTimeHelper.GetDate(-40, "yyyy-MM-dd 00:00:00")"
                      readonly="readonly" />
                </td>
                <th>
                    截止日期：
                </th>
                <td>
                    <input id="EndTime" type="text" class="txt" value="@EOS.Utilities.DateTimeHelper.GetToday("yyyy-MM-dd 23:59:59")" style="width: 130px"
                  readonly="readonly"  />
                </td>
            </tr>
        </table>
    </div>
    <div class="line">
    </div>
    <table id="gridTable">
    </table>
    <div id="gridPager">
    </div>
    <style>
        .ui-widget-content
        {
            border-left: none;
        }
        
        .ui-th-column, .ui-jqgrid .ui-jqgrid-htable th.ui-th-column
        {
            background: none;
        }
    </style>
</div>
