@{
    ViewBag.Title = "转序审核管理";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script type="text/javascript">
    var ModuleId = GetQuery('ModuleId'); //菜单主键  
    $(function () {  
        GetGrid(); 
        GetGrid2("");    
    })
     
    //搜索
    function btn_Search() {
        var StartTime = $("#StartTime").val();
        var EndTime = $("#EndTime").val();
        var BillNo = $("#NAME").val(); 
        var AUDITSTATUS = $("#AUDITSTATUS").val(); 
        var AUDITRELEASE = $("#AUDITRELEASE").val(); 
        $("#gridTable").jqGrid('setGridParam', {
            url: "@Url.Content("~/ZJZXManager/ZJZXCYAudit/GetZXAuditList")?StartTime=" + StartTime + '&EndTime=' + EndTime + '&PRINTCODE=' + escape(BillNo)+ '&AUDITSTATUS=' + AUDITSTATUS+ '&AUDITRELEASE=' + AUDITRELEASE, page: 1
        }).trigger('reloadGrid');
    }
    //加载表格
    function GetGrid() {
        var StartTime = $("#StartTime").val();
        var EndTime = $("#EndTime").val(); 
        var AUDITSTATUS = $("#AUDITSTATUS").val(); 
        var AUDITRELEASE = $("#AUDITRELEASE").val(); 
        $("#gridTable").jqGrid({
            url: "@Url.Content("~/ZJZXManager/ZJZXCYAudit/GetZXAuditList")?StartTime=" + StartTime + '&EndTime=' + EndTime+ '&AUDITSTATUS=' + AUDITSTATUS+ '&AUDITRELEASE=' + AUDITRELEASE,
            datatype: "json",
            height: $(window).height() - 150,
            autowidth:false,
            width: $(window).width()*0.8,
            colModel: [
                { label: 'ID', name: 'ID', index: 'ID', width: 180, align: 'left',align:'center',hidden:true }, 
                { label: 'CYID', name: 'CYID', index: 'CYID', width: 180, align: 'left',align:'center',hidden:true }, 
                { label: '批号', name: 'BILLNO', index: 'BILLNO', width: 180, align: 'left',hidden:true }, 
                { label: '条码', name: 'PRINTCODE', index: 'PRINTCODE', width: 130, align: 'left',align:'center' }, 
                {
                    label: '物理检测状态', name: 'PHYSTATUS', index: 'PHYSTATUS', width: 100, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == '0') return "<span style='color:red;font-size:15px'>未完成</span>";
                        if (cellvalue == '1') return "<span style='color:blue;font-size:15px'>检测中</span>"; 
                        if (cellvalue == '2') return "<span style='color:green;font-size:15px'>已完成</span>";
                        if (!IsNull(cellvalue)) return ""; 
                    }
                }, 
                {
                    label: '化学检测状态', name: 'CHESTATUS', index: 'CHESTATUS', width: 100, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == '0') return "<span style='color:red;font-size:15px'>未完成</span>";
                        if (cellvalue == '1') return "<span style='color:blue;font-size:15px'>检测中</span>"; 
                        if (cellvalue == '2') return "<span style='color:green;font-size:15px'>已完成</span>"; 
                    }
                }, 
                {
                    label: '审核状态', name: 'AUDITSTATUS', index: 'AUDITSTATUS', width: 100, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == '0') return "<span style='color:red;font-size:15px'>未审核</span>"; 
                        if (cellvalue == '1') return "<span style='color:red;font-size:15px'>未审核</span>";
                        if (cellvalue == '2') return "<span style='color:green;font-size:15px'>已审核</span>";
                        if (!IsNull(cellvalue)) return "<span style='color:red;font-size:15px'>未审核</span>";
                    }
                },
                {
                    label: '发布状态', name: 'AUDITRELEASE', index: 'AUDITRELEASE', width: 100, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == '0') return "<span style='color:red;font-size:15px'>未发布</span>"; 
                        if (cellvalue == '1') return "<span style='color:green;font-size:15px'>已发布</span>";
                        if (!IsNull(cellvalue)) return "<span style='color:red;font-size:15px'>未发布</span>";
                    }
                },
                //{ label: '物料', name: 'MATERIALNAME', index: 'MATERIALNAME', width: 120, align: 'center'  },  
                { label: '方案', name: 'FANAME', index: 'FANAME', width: 120, align: 'center'  },
                { label: '采样日期', name: 'CYDATE', index: 'CYDATE', width: 110, align: 'center' }, 
                { label: '备注', name: 'CHEMEMO', index: 'CHEMEMO', width: 200, align: 'left' }
            ],
            viewrecords: true,
            rowNum: 30,
            rownumbers:true,
            rowList: [30, 50, 100, 500, 1000],
            pager: "#gridPager",
            sortname: 'CRETIME',
            sortorder: 'desc',
            shrinkToFit: false,
            gridview: true,
            subGrid: false,
            //单击事件
            onSelectRow: function (RowIndx) {  
                var MAINID = GetJqGridRowValue("#gridTable", "ID"); 
                $("#gridTable2").jqGrid('setGridParam', {
                    url: "@Url.Content("~/ZJZXManager/ZJZXCYAudit/GetZXAuditItemList")?MAINID=" + escape(MAINID), page: 1
                }).trigger('reloadGrid'); 
            } 
        });
        
    }

    function GetGrid2(MAINID) {  
        $("#gridTable2").jqGrid({
            url: "@Url.Content("~/ZJZXManager/ZJZXCYAudit/GetZXAuditItemList")?MAINID=" + escape(MAINID),
            datatype: "json",
            height: $(window).height() - 125,
            autowidth:false,
            width: $(window).width()*0.18,
            colModel: [
                { label: '主键', name: 'ID', index: 'ID', width: 80, align: 'left', hidden: true },
                { label: '质检项', name: 'ITEMNAME', index: 'ITEMNAME', width: 80, align: 'center' },
                { label: '质检值', name: 'ZJVALUE', index: 'ZJVALUE', width: 80, align: 'center' },
                { 
                    label: '结果', name: 'ZJBZRESULT', index: 'ZJBZRESULT', width: 60, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == '-1') return "<span style='color:red;font-size:15px'>不合格</span>";
                        if (cellvalue == '1') return "<span style='color:blue;font-size:15px'>合格</span>"; 
                        if (!IsNull(cellvalue)) return "";   
                    }
                 },
                { label: '描述', name: 'ZJBZRESULTNAME', index: 'ZJBZRESULTNAME', width: 100, align: 'center' } 
            ],
            viewrecords: true,
            rowNum: 30,
            rownumbers:false, 
            pager: false,
            sortname: 'SORT',
            sortorder: 'ASC',
            shrinkToFit: false,
            gridview: true,
            subGrid: false

        });
        columnModelData("#gridTable2");
    } 

    //审核
    function btn_audit(){
        var KeyValue = GetJqGridRowValue("#gridTable", "ID"); 
        if (IsChecked(KeyValue)) {
             confirmDialog("提示", "确定要审核？", function (r) {
                if (r) {
                    Loading(true, "正在提交数据...");
                    window.setTimeout(function () {
                        AjaxJson("/ZJZXManager/ZJZXCYAudit/ZXZJAudit?KeyValue=" + escape(KeyValue), "", function (data) {
                            tipDialog(data.Message, 3, data.Code);
                            if (data.Code > 0) {
                                windowload();
                            }
                        });
                    }, 200);
                }
            }); 
        }
    }
    //批量审核
    function btn_allaudit(){
        var url = '@Url.Content("~/ZJZXManager/ZJZXCYAudit/ZJZXCYAuditMulti")?ModuleId=' + ModuleId;
        openDialog(url, "ZJZXCYAuditMulti", "转序采样批量审核", 750,380, function (iframe) {
            top.frames[iframe].AcceptClick(); 
        }); 
    }
    //发布
    function btn_release(){
        var KeyValue = GetJqGridRowValue("#gridTable", "ID"); 
        if (IsChecked(KeyValue)) {
             confirmDialog("提示", "确定要发布？", function (r) {
                if (r) {
                    Loading(true, "正在提交数据...");
                    window.setTimeout(function () {
                        AjaxJson("/ZJZXManager/ZJZXCYAudit/ZXZJRelease?KeyValue=" + escape(KeyValue), "", function (data) {
                            tipDialog(data.Message, 3, data.Code);
                            if (data.Code > 0) {
                                windowload();
                            }
                        });
                    }, 200);
                }
            }); 
        }
    }

    //退回 反审 反发布
    function btn_return(){
        var KeyValue = GetJqGridRowValue("#gridTable", "ID"); 
        if (IsChecked(KeyValue)) {
             confirmDialog("提示", "确定要退回？", function (r) {
                if (r) {
                    Loading(true, "正在提交数据...");
                    window.setTimeout(function () {
                        AjaxJson("/ZJZXManager/ZJZXCYAudit/ZXAuditBack?KeyValue=" + escape(KeyValue), "", function (data) {
                            tipDialog(data.Message, 3, data.Code);
                            if (data.Code > 0) {
                                windowload();
                            }
                        });
                    }, 200);
                }
            }); 
        }
    }

    //刷新
    function windowload() {
        $("#gridTable").trigger("reloadGrid"); //重新载入
    }
</script>
<div class="leftline rightline" style="margin-left: 1px; margin-right: 1px;">
    <div class="tools_bar" style="margin-top: 1px; margin-bottom: 0px;">
        <div class="PartialButton">
            @Html.Partial("_PartialButton")
        </div>
    </div>
    <div class="QueryArea">
        <table border="0" class="form-find" style="height: 45px;">
            <tr>
                <th>
                    条码：
                </th>
                <td>
                    <input id="NAME" type="text" class="txt" style="width: 120px" />
                </td>
                <th>
                    制单日期：
                </th>
                <td>
                    <input id="StartTime" type="text" class="txt Wdate" value="@EOS.Utilities.DateTimeHelper.GetDate(-7)" style="width: 120px" onfocus="var endDate=$dp.$('EndTime');WdatePicker({onpicked:function(){EndTime.focus();},maxDate:'#F{$dp.$D(\'EndTime\')}'})" />
                </td>
                <td>
                    -
                </td>
                <td>
                    <input id="EndTime" type="text" class="txt Wdate" value="@EOS.Utilities.DateTimeHelper.GetToday()" style="width: 120px" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'StartTime\')}'})" />
                </td>
                <th>
                    审核状态：
                </th>
                <td>
                    <select id="AUDITSTATUS" class="txtselect" style="width: 125px">
                        <option value="" selected="true">全部</option>
                        <option value="1">未审核</option>
                        <option value="2">已审核</option>
                    </select>
                </td>
                <th>
                    发布状态：
                </th>
                <td>
                    <select id="AUDITRELEASE" class="txtselect" style="width: 125px">
                        <option value="">全部</option>
                        <option value="0" selected="true">未发布</option>
                        <option value="1">已发布</option>
                    </select>
                </td>
                <td>
                    <input id="btnSearch" type="button" class="btnSearch" value="搜 索" onclick="btn_Search()" />
                </td>
            </tr>
        </table>
    </div>
    <div id="grid_List" class="topline">
        <div style="float: left; border-right: 1px solid #ccc">
            <table id="gridTable">
            </table>
            <div id="gridPager">
            </div>
        </div>
        <div style="float: left; border-left: 1px solid #ccc">
            <table id="gridTable2">
            </table>
        </div>
    </div>
</div>
<style>
    .ui-widget-content
    {
        border-left: none;
    }
</style>
