@{
    ViewBag.Title = "汽运发货通";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script type="text/javascript">
    var KeyValue = GetQuery('KeyValue'); //主键
    var ModuleId = GetQuery('ModuleId'); //菜单主键
    $(function () {

        BindAutocomplete("TRAFFICCOMPANYNAME", "TRAFFICCOMPANY", "TrafficCompany", "220", "120", "");

        CarsAutocomplete();
        DriversAutocomplete();
        InitControl();
    })
    function CarsAutocomplete() {
        var txtname = "CARSNAME";
        var $txtid = $("#CARS");
        var $txtname = $("#CARSNAME");
        var $txtcard = $("#CARDNO");
        var width = "";
        if (width == "") {
            width = $txtname.width();
        }
        var height = "";
        if (height == "") {
            height = "150";
        }
        $txtname.bind("keyup", function (e) {
            if (e.which != 13 && e.which != 40 && e.which != 38) {
                DataSource();
            }
        }).focus(function () {
            $(this).select();
            DataSource();
        });
        //上，下键盘回调
        autocompletekeydown(txtname, function (data) {
            $txtid.val(data.id);
            $txtname.val(data.name);
            $txtcard.val(data.epccode);
        });
        //获取数据源
        function DataSource() {
            AjaxJson("/AutoData/Cars", { keywords: $txtname.val() }, function (DataJson) {
                var html = "";
                $.each(DataJson, function (i) {
                    html += "<tr>";
                    html += '<td id="id" style="display: none;">' + DataJson[i].id + '</td>';
                    html += '<td id="name" style="width: 100%;">' + DataJson[i].name + '</td>';
                    html += '<td id="epccode" style="display: none;">' + DataJson[i].epccode + '</td>';
                    html += "</tr>";
                });
                //点击事件回调
                autocomplete(txtname, width + "px", height + "px", html, function (data) {
                    $txtid.val(data.id);
                    $txtname.val(data.name);
                    $txtcard.val(data.epccode);
                    SetRFCard(data.epccode);
                });
            });
        }
    }
    function SetRFCard(val) {
        if (IsNullOrEmpty(val)) {
            $("#CARDNO").val(val);
            $("#span_drivers").text("司机：");
            $("#span_drivers").removeClass("ck_span");
            $("#span_cardnumber").text("身份证号：");
            $("#span_cardnumber").removeClass("ck_span");
            $("#span_rfid").text("RFID[*]：");
            $("#span_rfid").addClass("ck_span");
            $("#DRIVERS").attr("datacol", "No");
            $("#DRIVERSNAME").attr("datacol", "No");
            $("#PSDNO").attr("datacol", "No");
        }
        else {
            $("#CARDNO").val(val);
            $("#span_drivers").text("司机[*]：");
            $("#span_drivers").addClass("ck_span");
            $("#span_cardnumber").text("身份证号[*]：");
            $("#span_cardnumber").addClass("ck_span");

            $("#span_rfid").text("RFID：");
            $("#span_rfid").removeClass("ck_span");
            $("#DRIVERS").attr("datacol", "yes");
            $("#DRIVERSNAME").attr("datacol", "yes");
            $("#PSDNO").attr("datacol", "yes");
        }
    }
    function DriversAutocomplete() {
        var txtname = "DRIVERSNAME";
        var $txtid = $("#DRIVERS");
        var $txtname = $("#DRIVERSNAME");
        var $txtpsd = $("#PSDNO");
        var width = "";
        if (width == "") {
            width = $txtname.width();
        }
        var height = "";
        if (height == "") {
            height = "150";
        }
        $txtname.bind("keyup", function (e) {
            if (e.which != 13 && e.which != 40 && e.which != 38) {
                DataSource();
            }
        }).focus(function () {
            $(this).select();
            DataSource();
        });
        //上，下键盘回调
        autocompletekeydown(txtname, function (data) {
            $txtid.val(data.id);
            $txtname.val(data.name);
            $txtpsd.val(data.idnum);
        });
        //获取数据源
        function DataSource() {
            AjaxJson("/AutoData/Drivers", { keywords: $txtname.val() }, function (DataJson) {
                var html = "";
                $.each(DataJson, function (i) {
                    html += "<tr>";
                    html += '<td id="id" style="display: none;">' + DataJson[i].id + '</td>';
                    html += '<td id="name" style="width: 100%;">' + DataJson[i].name + '</td>';
                    html += '<td id="idnum" style="display: none;">' + DataJson[i].idnum + '</td>';
                    html += "</tr>";
                });
                //点击事件回调
                autocomplete(txtname, width + "px", height + "px", html, function (data) {
                    $txtid.val(data.id);
                    $txtname.val(data.name);
                    $txtpsd.val(data.idnum);
                });
            });
        }
    }
    //得到一个对象实体
    function InitControl() {
        if (!!KeyValue) {
            AjaxJson("/ExampleModule/BillSOF/SetFormControl", { KeyValue: KeyValue, ModuleId: ModuleId }, function (data) {
                SetWebControls(data);
            });
        }
    }



    //保存事件
    function SubmitOrderForm() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        confirmDialog('提示', '注：您确认要保存此操作吗？', function (r) {
            if (r) {
                Loading(true, "正在提交数据...");
                window.setTimeout(function () {
                    var postData = GetWebControls("#form1");
                    AjaxJson("/ExampleModule/BillSOF/SubmitOrderForm?KeyValue=" + KeyValue + "&ModuleId=" + ModuleId, postData, function (data) {
                        tipDialog(data.Message, 3, data.Code);
                        var tabframeid = "tabs_iframe_" + ModuleId;
                        top.frames[tabframeid].windowload();
                        ThisCloseTab();
                    });
                }, 200);
            }
        });
    }
    function SelectOrder() {
        var url = "/ExampleModule/BillSOF/SELECTSALEORDERS";
        Dialog(url, "SELECTSALEORDERS", "选取销售订单信息（双击表格添加）", 900, 400);
    }
</script>
<form id="form1" style="margin: 1px">
<div class="tools_bar" style="margin-top: 1px; margin-bottom: 1px;">
    <a id="lr-replace" class="tools_btn" title="刷新当前(Ctrl+Q)" onclick="Replace()"><span>
        <b style='background: url(@Url.Content("~/Content/Images/Icon16/arrow_refresh.png")) no-repeat 50% 4px;'>
            刷新</b></span></a> <a id="button_Commit_Save" title="保存单据" onclick="SubmitOrderForm()"
                class="tools_btn"><span><b style="background: url(@Url.Content("~/Content/Images/Icon16/disk.png")) 50% 4px no-repeat;">
                    保存</b></span></a> <a title="关闭当前窗口(Esc)" onclick="ThisCloseTab()" class="tools_btn">
                        <span><b style="background: url(@Url.Content("~/Content/Images/Icon16/back.png")) 50% 4px no-repeat;">
                            离开</b></span></a>
</div>
<table class="form">
    <tr>
        <th class="formTitle">
            <span class="ck_span">订单编号[*]：</span>
        </th>
        <td class="formValue">
            <input name="PK_SALEORDER" id="PK_SALEORDER" type="hidden" dbfield="true" />
            <input name="CSALEORDERBID" id="CSALEORDERBID" type="hidden" dbfield="true" />
            <input id="VBILLCODE" maxlength="50" type="text" class="txt iconsearch" datacol="yes"
                err="订单编号" checkexpession="NotNull" onclick="SelectOrder();" />
        </td>
        <th class="formTitle">
            发货单号：
        </th>
        <td class="formValue">
            <input id="ID" maxlength="50" type="text" readonly="readonly" class="txt readonly required" datacol="yes"
                    err="发货单号" checkexpession="NotNull"  value="@ViewBag.BillNo" />
        </td>
        <th class="formTitle">
            订单日期：
        </th>
        <td class="formValue">
            <input id="DBILLDATE" type="text" class="txt readonly required" readonly="readonly"
                datacol="yes" err="订单日期" checkexpession="NotNull" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            客户：
        </th>
        <td class="formValue">
            <input name="CCUSTOMERID" id="CCUSTOMERID" type="hidden" dbfield="true" />
            <input id="CUSTNAME" maxlength="50" type="text" class="txt readonly required" readonly="readonly"
                datacol="yes" err="客户" checkexpession="NotNull" />
        </td>
        <th class="formTitle">
            销售组织：
        </th>
        <td class="formValue">
            <input name="PK_ORG" id="PK_ORG" type="hidden" dbfield="true" />
            <input id="ORGNAME" maxlength="50" type="text" class="txt readonly required" readonly="readonly"
                datacol="no" err="销售组织" checkexpession="NotNull" />
        </td>
        <th class="formTitle">
            物料：
        </th>
        <td class="formValue">
            <input name="CMATERIALID" id="CMATERIALID" type="hidden" dbfield="true" />
            <input name="CMATERIALVID" id="CMATERIALVID" type="hidden" dbfield="true" />
            <input id="MATERIALNAME" maxlength="50" type="text" class="txt readonly required"
                readonly="readonly" datacol="yes" err="物料" checkexpession="NotNull" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            订单数量：
        </th>
        <td class="formValue">
            <input id="NASTNUM" maxlength="50" type="text" class="txt readonly required" readonly="readonly"
                datacol="yes" err="订单数量" checkexpession="NotNull" />
        </td>
        <th class="formTitle">
            余量：
        </th>
        <td class="formValue">
            <input id="YLNUM" maxlength="50" type="text" class="txt readonly required" readonly="readonly"
                datacol="No" err="余量" checkexpession="NotNull" />
        </td>
        <th class="formTitle">
            部门：
        </th>
        <td class="formValue">
            <input name="PK_DEPT" id="pk_dept" type="hidden" dbfield="true" />
            <input id="DEPTNAME" maxlength="50" type="text" class="txt readonly required" readonly="readonly"
                datacol="yes" err="部门" checkexpession="NotNull" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            合同编号：
        </th>
        <td class="formValue">
            <input id="CONTRACTBILLNO" type="text" class="txt readonly required" readonly="readonly"
                datacol="no" err="合同编号" checkexpession="NotNull" />
        </td>
        <th class="formTitle">
            结算方式：
        </th>
        <td class="formValue">
            <input name="BALANCEMETHOD" id="BALANCEMETHOD" type="hidden" dbfield="true" />
            <input id="BALANCEMETHODNAME" type="text" class="txt readonly required" readonly="readonly"
                datacol="no" err="结算方式" checkexpession="NotNull" />
        </td>
        <th class="formTitle">
            承运商：
        </th>
        <td class="formValue">
            <input id="TRAFFICCOMPANY" type="hidden" />
            <input id="TRAFFICCOMPANYNAME" type="text" class="txt iconsearch" datacol="no" err="承运商"
                checkexpession="NotNull" />
        </td>
    </tr>
</table>
<div class="bd" style="border-bottom: none; margin: 2px;">
    <div class="tipstitle_title settingtable bold bd todayInfoPanelTab rightPanelTitle_normal">
        <div class="tab_list_top" style="position: absolute">
            <div id="Tabbasic" class="tab_list bd actived" onclick="Tabchange('basic')">
                录入信息</div>
            <div id="Taborder" class="tab_list bd" onclick="Tabchange('order')">
                拼单信息</div>
        </div>
    </div>
</div>
<div class="ScrollBar" style="margin: 1px; overflow: hidden;">
    <!--录入信息-->
    <div id="basic" class="tabPanel">
        <table class="form">
            <tr>
                <th class="formTitle">
                    <span class="ck_span">车号[*]：</span>
                </th>
                <td class="formValue">
                    <input id="CARS" type="hidden" datacol="yes" err="车号" checkexpession="NotNull" />
                    <input id="CARSNAME" type="text" class="txt iconsearch" datacol="yes" err="车号" checkexpession="NotNull" />
                </td>
                <th class="formTitle">
                    <span id="span_drivers">司机：</span>
                </th>
                <td class="formValue">
                    <input id="DRIVERS" type="hidden" datacol="yes" err="司机" checkexpession="NotNull" />
                    <input id="DRIVERSNAME" type="text" class="txt iconsearch" datacol="yes" err="司机"
                        checkexpession="NotNull" />
                </td>
                <th class="formTitle">
                    <span id="span_cardnumber">身份证号：</span>
                </th>
                <td class="formValue">
                    <input id="PSDNO" type="text" class="txt readonly" readonly="readonly" datacol="No"
                        err="身份证号" checkexpession="NotNull" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">
                    <span class="ck_span" id="span_rfid">RFID[*]：</span>
                </th>
                <td class="formValue">
                    <input id="CARDNO" type="text" class="txt readonly" readonly="readonly" datacol="No"
                        err="RFID" checkexpession="NotNull" />
                </td>
                <th class="formTitle">
                    发货量(吨/米)：
                </th>
                <td class="formValue">
                    <input id="AMOUNT" type="text" class="txt required" datacol="yes" err="发货量" checkexpession="Double"
                        onfocus="IsMoney(this.id);" maxlength="5" />
                </td>
                <th class="formTitle">
                    操作人：
                </th>
                <td class="formValue">
                    <input id="CREATEUSER" type="text" class="txt readonly required" readonly="readonly"
                        datacol="yes" err="操作人" checkexpession="NotNull"  value="@ViewBag.CreateUserName" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">
                    操作日期：
                </th>
                <td class="formValue">
                    <input id="CREATEDATE" type="text" class="txt readonly required" readonly="readonly" datacol="yes" err="操作日期" checkexpession="NotNull" readonly=readonly value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")"  />
                </td>
                <th class="formTitle">
                    备注：
                </th>
                <td class="formValue" colspan="3">
                    <input id="MEMO" type="text" class="txt" />
                </td>
                @*       <th class="formTitle">
                </th>
                <td class="formValue">
                </td>*@
            </tr>
            <tr>
                <th class="formTitle">
                    <span class="ck_span">提醒：</span>
                </th>
                <td class="formValue" colspan="5">
                    <span class="ck_span">
                        <label id="lbl_msg">
                            无
                        </label>
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <div id="order" class="tabPanel">
    </div>
</div>
</form>
