@{
    ViewBag.Title = "采购磅单>>补增";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script type="text/javascript">
    var KeyValue = GetQuery('KeyValue'); //主键
    var ModuleId = GetQuery('ModuleId'); //菜单主键
    var op = GetQuery('op'); //操作类型
    $(function () {

        BindAutocomplete("TRAFFICCOMPANY", "PK_TRAFFICCOMPANY", "TrafficCompany", "", "", "");
        BindAutocomplete("STORE", "PK_STORE", "Store", "", "", "");
        BindAutocomplete("RECEIVEORG", "PK_RECEIVEORG", "Customer", "", "", "");
        BindAutocomplete("DRIVERS", "PK_DRIVERS", "Drivers", "", "", "");
        BindAutocomplete("CARS", "PK_CARSID", "Cars", "", "", "");
        MaterialAutocomplete();
        if (!!KeyValue) {
            //信息
            InitControl();
            //            if (op = "edit") {
            //                $("#GROSS").attr("readonly", true);
            //                $("#GROSS").attr("class", "txt readonly")
            //                $("#TARE").attr("readonly", true);
            //                $("#TARE").attr("class", "txt readonly")
            //            }
        }
        $("#GROSS").bind('keyup', function () {
            GetSuttle(this.id);
        });
        $("#TARE").bind('keyup', function () {
            GetSuttle(this.id);
        });

    })
    //计算
    function GetSuttle(id) {
        var Gross = $("#GROSS").val();
        var Tare = $("#TARE").val();
        //        if (Tare * 1 > Gross * 1) {
        //            top.TipMsg("皮重不能大于毛重！", 4000, "error");
        //            $("#" + id).val('');
        //            return false;
        //        }
        if (Gross != 0 && Gross != undefined && Tare != 0 && Tare != undefined) {
            var Suttle = FloatSub(Gross, Tare);
            $("#SUTTLE").val(FormatCurrency(Suttle));
        } else {
            $("#Suttle").val('0.000');
        }

        //提货量不能大于订单余量
        //        if (parseFloat($("#SUTTLE").val()) > parseFloat($("#YLNUM").val())) {
        //            top.TipMsg("净重不能大于订单余量 " + $("#YLNUM").val(), 4000, "error");
        //            $("#Suttle").val("0");
        //            return false;
        //        }
    }

    function MaterialAutocomplete() {
        var txtname = "MATERIAL";
        var $txtid = $("#PK_MATERIAL");
        var $txtname = $("#MATERIAL");
        var $txtspec = $("#MATERIALKIND");
        var width = "";
        if (width == "") {
            width = $txtname.width();
        }
        var height = "";
        if (height == "") {
            height = "150";
        }
        $txtname.bind("keyup", function (e) {
            if (e.which != 13 && e.which != 40 && e.which != 38) {
                var keyvalue = $(this).val();
                if (keyvalue.length >= 3) {
                    DataSource();
                }
                $txtid.val("");
                $txtspec.val("");
            }
        }).focus(function () {
            $(this).select();
            DataSource();
        });
        //上，下键盘回调
        autocompletekeydown(txtname, function (data) {
            $txtid.val(data.id);
            $txtname.val(data.name);
            $txtspec.val(data.spec);
        });
        //获取数据源
        function DataSource() {
            AjaxJson("/AutoData/Material", { istype: "", keywords: $txtname.val() }, function (DataJson) {
                var html = "";
                $.each(DataJson, function (i) {
                    html += "<tr>";
                    html += '<td id="id" style="display: none;">' + DataJson[i].id + '</td>';
                    html += '<td id="name" style="width: 70%;">' + DataJson[i].name + '</td>';
                    html += '<td id="code" style="display: none;">' + DataJson[i].code + '</td>';
                    html += '<td id="spec" style="width: 30%;">' + DataJson[i].materialspec + '</td>';
                    html += "</tr>";
                });
                //点击事件回调
                autocomplete(txtname, width + "px", height + "px", html, function (data) {
                    $txtid.val(data.id);
                    $txtname.val(data.name);
                    $txtspec.val(data.spec);
                });
            });
        }
    }

    function SelectOrder() {
        var url = "/WeightManager/WeightOut/SELECTSALEORDERS";
        Dialog(url, "SELECTSALEORDERS", "选取销售订单信息（双击表格添加）", 900, 400);
    }

    //得到一个对象实体
    function InitControl() {
        if (!!KeyValue) {
            AjaxJson("/WeightManager/WeightOut/SetFormControl", { KeyValue: KeyValue, ModuleId: ModuleId }, function (data) {
                SetWebControls(data);
                if (data.FINISH == "0") {
                    $("#GROSS").attr("datacol", "No");
                    $("#TARE").attr("datacol", "yes");
                    $("#SUTTLE").attr("datacol", "No");
                } else {
                    $("#GROSS").attr("datacol", "yes");
                    $("#TARE").attr("datacol", "yes");
                    $("#SUTTLE").attr("datacol", "yes");
                }
            });
        }
    }

    function SelectPCOrder() {
        var title = "选取销售汽运发货单信息（双击表格添加）";
        var url = "/WeightManager/WeightOut/SELECTBillSOF?VBillCode=";
        Dialog(url, "SELECTPCBillSOF", title, 900, 400);
    }
    //保存事件
    function SubmitOrderForm() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        confirmDialog('提示', '注：您确认要保存此操作吗？', function (r) {
            if (r) {
                Loading(true, "正在提交数据...");
                window.setTimeout(function () {
                    var postData = GetWebControls("#tb_OrderFrom");
                    AjaxJson("/WeightManager/WeightOut/SubmitOrderForm?KeyValue=" + KeyValue + "&ModuleId=" + ModuleId, postData, function (data) {
                        tipDialog(data.Message, 3, data.Code);
                        var tabframeid = "tabs_iframe_" + ModuleId;
                        top.frames[tabframeid].windowload();
                        ThisCloseTab();
                    });
                }, 200);
            }
        });
    }
     
</script>
<form id="form1" style="margin: 1px">
<div class="tools_bar" style="margin-top: 1px; margin-bottom: 1px;">
    <a id="lr-replace" class="tools_btn" title="刷新当前(Ctrl+Q)" onclick="Replace()"><span>
        <b style='background: url(@Url.Content("~/Content/Images/Icon16/arrow_refresh.png")) no-repeat 50% 4px;'>
            刷新</b></span></a> <a id="button_Commit_Save" title="保存单据" onclick="SubmitOrderForm()"
                class="tools_btn"><span><b style="background: url(@Url.Content("~/Content/Images/Icon16/disk.png")) 50% 4px no-repeat;">
                    保存</b></span></a> <a title="关闭当前窗口(Esc)" onclick="ThisCloseTab()" class="tools_btn">
                        <span><b style="background: url(@Url.Content("~/Content/Images/Icon16/back.png")) 50% 4px no-repeat;">
                            离开</b></span></a>
</div>
<table id="tb_OrderFrom" class="form">
    <tr>
        <th class="formTitle">
            计量单号：
        </th>
        <td class="formValue">
            <input id="BILLNO" maxlength="50" type="text" class="txt readonly required" datacol="yes" readonly=readonly
                    err="计量单号" checkexpession="NotNull"  value="@ViewBag.BillNo"/>
        </td>
        <th class="formTitle">
            发货单号：
        </th>
        <td class="formValue">
            <input id="PK_TASK" type="hidden" />
            <input id="PK_ORDER_B" type="hidden" datacol="yes" err="发货单号" checkexpession="NotNull" />
            <input id="PK_ORDER" type="text" class="txt iconsearch" datacol="yes" err="发货单号"
                checkexpession="NotNull" onclick="SelectPCOrder();" />
        </td>
        <th class="formTitle">
            <span class="ck_span">订单编号[*]：</span>
        </th>
        <td class="formValue">
            <input id="PK_BILL" type="hidden" />
            <input id="PK_BILL_B" type="hidden" />
            <input id="PK_CONTRACT_B" maxlength="50" type="text" class="txt iconsearch" datacol="yes"
                err="订单编号" checkexpession="NotNull" onclick="SelectOrder();" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            客户：
        </th>
        <td class="formValue">
            <input name="PK_RECEIVEORG" id="PK_RECEIVEORG" type="hidden" />
            <input id="RECEIVEORG" maxlength="50" type="text" class="txt required"  
                datacol="no" err="客户" checkexpession="NotNull" />
        </td>
        <th class="formTitle">
            物料：
        </th>
        <td class="formValue">
            <input id="PK_MATERIAL" type="hidden" />
            <input id="MATERIAL" maxlength="50" type="text" class="txt required" 
                datacol="yes" err="物料" checkexpession="NotNull" />
        </td>
        <th class="formTitle">
            规格：
        </th>
        <td class="formValue">
            <input id="PK_MATERIALKIND" type="hidden" />
            <input id="MATERIALKIND" maxlength="50" type="text" class="txt readonly" readonly="readonly" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            订单数量：
        </th>
        <td class="formValue">
            <input id="NASTNUM" maxlength="50" type="text" class="txt readonly required" readonly="readonly"
                datacol="yes" err="订单数量" checkexpession="NotNull" />
        </td>
        <th class="formTitle">
            余量：
        </th>
        <td class="formValue">
            <input id="YLNUM" maxlength="50" type="text" class="txt readonly required" readonly="readonly"
                value="0" />
        </td>
        <th class="formTitle">
            预提量：
        </th>
        <td class="formValue">
            <input id="YFSUTTLE" type="text" class="txt" datacol="yes" err="预提量" checkexpession="NotNull"
                onfocus="IsMoney(this.id);" maxlength="5" value="0" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            承运商：
        </th>
        <td class="formValue">
            <input id="PK_TRAFFICCOMPANY" type="hidden" />
            <input id="TRAFFICCOMPANY" type="text" class="txt" />
        </td>
        <th class="formTitle">
            车号：
        </th>
        <td class="formValue">
            <input id="PK_CARSID" type="hidden" datacol="yes" err="车号" checkexpession="NotNull" />
            <input id="CARS" type="text" class="txt required" datacol="yes" err="车号" checkexpession="NotNull" />
        </td>
        <th class="formTitle">
            司机：
        </th>
        <td class="formValue">
            <input id="PK_DRIVERS" type="hidden" datacol="yes" err="司机" checkexpession="NotNull" />
            <input id="DRIVERS" type="text" class="txt required" datacol="yes" err="司机" checkexpession="NotNull" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            毛重：
        </th>
        <td class="formValue">
            <input id="GROSS" type="text" class="txt" datacol="yes" err="毛重" checkexpession="DoubleOrZero"
                onfocus="IsMoney(this.id);" maxlength="5" />
        </td>
        <th class="formTitle">
            皮重：
        </th>
        <td class="formValue">
            <input id="TARE" type="text" class="txt" datacol="yes" err="皮重" checkexpession="DoubleOrZero"
                onfocus="IsMoney(this.id);" maxlength="5" />
        </td>
        <th class="formTitle">
            净重：
        </th>
        <td class="formValue">
            <input id="SUTTLE" type="text" class="txt readonly" datacol="yes" err="净重" readonly="readonly"
                checkexpession="DoubleOrZero" maxlength="5" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            装货地址：
        </th>
        <td class="formValue">
            <input id="PK_STORE" type="hidden" datacol="yes" err="装货地址" checkexpession="NotNull" />
            <input id="STORE" type="text" class="txt required" datacol="yes" err="装货地址" checkexpession="NotNull" />
        </td>
        <th class="formTitle">
            轻车时间：
        </th>
        <td class="formValue">
            <input id="LIGHTDATE" type="text" class="txt Wdate" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")"
                          onfocus="WdatePicker({startDate:'%y-%M-%d %H:%m:%s',dateFmt: &#39;yyyy-MM-dd HH:mm:ss&#39;})" />
        </td>
        <th class="formTitle">
            重车时间：
        </th>
        <td class="formValue">
            <input id="WEIGHTDATE" type="text" class="txt Wdate" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")"
        onfocus="WdatePicker({startDate:'%y-%M-%d %H:%m:%s',dateFmt: &#39;yyyy-MM-dd HH:mm:ss&#39;})" />
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            出厂过磅员：
        </th>
        <td class="formValue">
            <input name="INGBUSER" id="INGBUSER" type="hidden" dbfield="true" value="@ViewBag.CreateUserName"/>
            <input id="OUTGBUSER" type="text" class="txt readonly" readonly="readonly"  dbfield="true" value="@ViewBag.CreateUserName" />
        </td>
        <th class="formTitle">
            创建时间：
        </th>
        <td class="formValue">
            <input id="CREATEDATE" type="text" class="txt readonly" readonly="readonly"
                        datacol="yes" err="制单时间" checkexpession="NotNull"  value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")" />
        </td>
        <th class="formTitle">
            计量状态：
        </th>
        <td class="formValue">
            <select id="FINISH" name="FINISH" class="txtselect">
                @* <option value="">---请选择---</option>*@
                <option value="0">一次计量</option>
                <option value="1">二次计量</option>
            </select>
        </td>
    </tr>
    <tr>
        <th class="formTitle">
            发货厂区：
        </th>
        <td class="formValue">
            <select id="DEF11" class="txtselect" dbfield="true">
                <option value="">---请选择---</option>
                <option value="1000">阳光纸业</option>
                <option value="6000">盛世热电</option>
                <option value="7000">新迈纸业</option>
                <option value="8000">阳光王子</option>
                <option value="9000">华迈纸业</option>
                <option value="9010">科迈制浆</option>
            </select>
        </td>
        <th class="formTitle">
            备注：
        </th>
        <td class="formValue" colspan="3">
            <input id="MEMO" type="text" class="txt" dbfield="true" />
        </td>
    </tr>
</table>
</form>
