@{
    ViewBag.Title = "原材制样管理";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script src="~/Content/Scripts/Report/CreateControl.js" type="text/javascript"></script>
<script type="text/javascript">
    var ModuleId = GetQuery('ModuleId'); //菜单主键
    CreateReport("Report");
    $(function () {
        $("#Report").css("display", "none");
        GetGrid();
        setTimeout(function () {
            Report.LoadFromURL(RootPath() + "/ReportView/grf/PrintCode1.grf");
        }, "500");
    });

    //搜索
    function btn_Search() {
        var StartTime = $("#StartTime").val();
        var EndTime = $("#EndTime").val();
        var BILLNO = $("#BILLNO").val();
         var PRINTCODE = $("#PRINTCODE").val();
        var ISSEND = $("#ISSEND").val();
        var TYPE= $("#TYPE").val();
          var ICCARD = $("#ICCARD").val();
        $("#gridTable").jqGrid('setGridParam', {
            url: "@Url.Content("~/ZJGCManager/ZJGCZY/GetOrderList")?StartTime=" + StartTime + '&EndTime=' + EndTime + '&BILLNO=' + escape(BILLNO) + '&PRINTCODE=' + escape(PRINTCODE)   + "&ISSEND=" + ISSEND   +'&ICCARD='+ICCARD, page: 1
        }).trigger('reloadGrid');
    }
    //加载表格
    function GetGrid() {
        var StartTime = $("#StartTime").val();
        var EndTime = $("#EndTime").val();
        var ISSEND = $("#ISSEND").val();
        $("#gridTable").jqGrid({
            url: "@Url.Content("~/ZJGCManager/ZJGCZY/GetOrderList")?StartTime=" + StartTime + '&EndTime=' + EndTime + "&ISSEND=" + ISSEND,
            datatype: "json",
            height: $(window).height() - 180,
            autowidth: true,
            colModel: [
                { label: '采样单号', name: 'BILLNO', index: 'BILLNO', width: 110, align: 'left', align: 'center' },
                  { label: '手工样号', name: 'HANDBILLNO', index: 'HANDBILLNO', width: 110, align: 'left', align: 'center'  },
                     { label: '制样单号', name: 'PRINTCODE', index: 'PRINTCODE', width: 110, align: 'left', align: 'center' },
                 { label: 'MATERIAL', name: 'MATERIAL', index: 'MATERIAL',   hidden: true },
                { label: '物料', name: 'MATERIALSHORTNAME', index: 'MATERIALSHORTNAME', width: 130, align: 'center' },
               
              { label: 'UPLOAD', name: 'UPLOAD', index: 'UPLOAD',   hidden: true },
                {
                          label: '状态', name: 'UPLOADNAME', index: 'UPLOADNAME', width: 60, align: 'center',
                          formatter: function (cellvalue, options, rowObject) {
                              if (cellvalue == "0")
                                  return "未推单";
                              else
                                  return "已推单";
                          }
                      },
 
                 {
                    label: '状态', name: 'TYPENAME', index: 'TYPENAME', width: 80, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == '1') return "<span style='color:red;font-size:18px'>采样</span>";
                        if (cellvalue == '2') return "<span style='color:blue;font-size:18px'>交接样</span>";
                        if (cellvalue == '3') return "<span style='color:blue;font-size:18px'>接样</span>";
                        if (cellvalue == '4') return "<span style='color:green;font-size:18px'>制样</span>";
                    }
                },
                {
                    label: '送检状态', name: 'ISSEND', index: 'ISSEND', width: 80, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == '0') return "<span style='color:red;font-size:15px'>未送检</span>";
                        if (cellvalue == '1') return "<span style='color:green;font-size:15px'>已送检</span>";
                    }
                }, 
                {
                    label: '制样日期', name: 'ZYDATE', index: 'ZYDATE', width: 110, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM-dd hh:mm');
                    }
                },
                 {
                         label: '交接日期', name: 'JYDATE', index: 'JYDATE', width: 110, align: 'center',
                         formatter: function (cellvalue, options, rowObject) {
                             return formatDate(cellvalue, 'yyyy-MM-dd hh:mm');
                         }
                     },
                 { label: '交样人甲', name: 'JYUSER', index: 'JYUSER', width: 80, align: 'center' },
                 { label: '交样人乙', name: 'JYUSER1', index: 'JYUSER1', width: 80, align: 'center' },
                 { label: '接样人甲', name: 'SYUSER', index: 'SYUSER', width: 80, align: 'center' },
                { label: '接样人乙', name: 'SYUSER1', index: 'SYUSER1', width: 80, align: 'center' },
                { label: '采样日期', name: 'CYDATE', index: 'CYDATE', width: 100, align: 'center' },
                { label: '制样人', name: 'ZYUSER', index: 'ZYUSER', width: 100, align: 'center' },
                { label: '送检人', name: 'SENDUSER', index: 'SENDUSER', width: 100, align: 'center' },
                {
                    label: '送检日期', name: 'SENDTIME', index: 'SENDTIME', width: 110, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM-dd hh:mm');
                    }
                },
                { label: '创建人', name: 'CREUSER', index: 'CREUSER', width: 100, align: 'center' },
                 { label: '创建日期', name: 'CRETIME', index: 'CRETIME', width: 110, align: 'center' },
                { label: '异型卡序号', name: 'ICCARD', index: 'ICCARD', width: 110, align: 'center' },
                  { label: '异型卡编号', name: 'ICNO', index: 'ICNO', width: 110, align: 'center' },
                   { label: '打印次数', name: 'PRINTCOUNT', index: 'PRINTCOUNT', width: 80, align: 'center' },
                { label: '备注', name: 'MEMO', index: 'MEMO', width: 200, align: 'left' }
            ],
            multiselect: true,
            viewrecords: true,
            rowNum: 30,
           multiselect: true,//复选框
            multiboxonly: true,
            rowList: [30, 50, 100, 500, 1000],
            pager: "#gridPager",
            sortname: 'ZYDATE',
            sortorder: 'desc',
            shrinkToFit: false,
            gridview: true,
            subGrid: false

        });
        columnModelData("#gridTable");
    }

      function btn_HandOrder(){
      var KeyValue = GetJqGridRowValue("#gridTable", "BILLNO");
                if (IsNull(KeyValue)) {
            confirmDialog('提示', '注：您确认要重传操作吗？', function (r) {
            if (r) {
              
                        var  parm = 'KeyValue=' + KeyValue;
                        AjaxJson('/ZJGCManager/ZJGCZY/HandOrderAll', parm, function (data) {
                            tipDialog(data.Message, 3, data.Code);
                            if (data.Code > 0) {
                                windowload();
                            }
                        });
          
           }
          });
                    }else {
                tipDialog('请至少选择一个采样单号', 4, 'warning');
            }
    }
    
        function btn_HandOrder1(){
      var KeyValue = GetJqGridRowValue("#gridTable", "BILLNO");
                if (IsNull(KeyValue)) {
            confirmDialog('提示', '注：您确认要重传操作吗？', function (r) {
            if (r) {
              
                        var  parm = 'KeyValue=' + KeyValue;
                        AjaxJson('/ZJGCManager/ZJGCZY/HandOrderAll1', parm, function (data) {
                            tipDialog(data.Message, 3, data.Code);
                            if (data.Code > 0) {
                                windowload();
                            }
                        });
          
           }
          });
                    }else {
                tipDialog('请至少选择一个采样单号', 4, 'warning');
            }
    }  
 
    //交接制样
    function Finish() {
        var url = "/ZJGCManager/ZJGCZY/SelectJYCYData?ModuleId=" + ModuleId;
        Dialog(url, "SelectJYCYData", "交接制样单", 900, 400);
    }
    //交接制样
    function Finish1() {
        var url = "/ZJGCManager/ZJGCZY/SelectJYCYSGData?ModuleId=" + ModuleId;
        Dialog(url, "SelectJYCYSGData", "交接制样单", 900, 400);
    }
    
    //送检
    function SendCheck() {
        var KeyValue = GetJqGridRowValue("#gridTable", "BILLNO");
        if (IsNull(KeyValue)) {
            var postData = jQuery.parseJSON('{\"DATA\":\"' + KeyValue + '\"}');
            AjaxJson("/ZJGCManager/ZJGCZY/CheckCYData1", postData, function (data) {
                if (IsNull(data) && IsNull(data.Code)) {
                        tipDialog(data.Message, 3, data.Code);
                        windowload();
                       
                }
            });
        } else {
            tipDialog('请至少选择一个批次', 4, 'warning');
        }
    }

    //取消送检
    function UNSendCheck() {
        var KeyValue = GetJqGridRowValue("#gridTable", "BILLNO");
        if (IsNull(KeyValue) && KeyValue.indexOf(',') < 0) {
            var postData = jQuery.parseJSON('{\"DATA\":\"' + KeyValue + '\"}');
            AjaxJson("/ZJGCManager/ZJGCZY/UNSendCheck", postData, function (data) {
                if (IsNull(data) && IsNull(data.Code)) {
                    tipDialog(data.Message, 3, data.Code);
                    windowload();
                }
            });
        } else {
            tipDialog('请选择一个批次', 4, 'warning');
        }
    }

  
        //编辑
    function btn_edit() {
        var KeyValue = GetJqGridRowValue("#gridTable", "BILLNO");
        if (IsChecked(KeyValue)) {
        AddTabMenu("PCRawZYForm", "@Url.Content("~/ZJGCManager/ZJGCZY/ZJGCZYForm")?ModuleId=" + ModuleId + "&KeyValue=" + escape(KeyValue)  , "编辑制样备注", "page_white_add.png", true, true, true);
        }
    }
  
      //取消制样
    function UNCheck() {
        var KeyValue = GetJqGridRowValue("#gridTable", "BILLNO");
  
        if (IsNull(KeyValue) && KeyValue.indexOf(',')<0) {
            var postData = jQuery.parseJSON('{\"DATA\":\"' + KeyValue + '\"}');
            AjaxJson("/ZJGCManager/ZJGCZY/UNCheck", postData, function (data) {
                if (IsNull(data) && IsNull(data.Code)) {
                    tipDialog(data.Message, 3, data.Code);
                    windowload();
                }
            });
        } else {
            tipDialog('请选择一个批次', 4, 'warning');
        }
    }

    //制样新增回调
    function CallBackEvent() {
        windowload();
    }

    //打印条码
    function Print() {
        var KeyValue = GetJqGridRowValue("#gridTable", "BILLNO");
        if (IsChecked(KeyValue)) {
            Report.LoadDataFromURL("/ZJGCManager/ZJGCZY/ZYPrintCode?KeyValue=" +KeyValue);
                    //Report.Print(true);
            Report.PrintPreview(true);
        }
    }
     //补打条码
      function BDPrint() {
        var KeyValue = GetJqGridRowValue("#gridTable", "BILLNO");
         if (IsChecked(KeyValue)) {
         AddTabMenu("BDGCPrintCodeReportIndex", "@Url.Content("~/ReportManager/PrintViewReport/BDGCPrintCodeReportIndex")?KeyValue="+KeyValue, "补打条码", "page_white_edit.png", true, true, true);
        }
    }
 

    //打印条码
    function Print1() {
        var KeyValue = GetJqGridRowValue("#gridTable", "BILLNO");
        if (IsChecked(KeyValue)) {
            Report.LoadDataFromURL("/ZJGCManager/ZJGCZY/ZYPrintCode1?KeyValue=" +KeyValue);
                    //Report.Print(true);
            Report.PrintPreview(true);
        }
    }

    
         //补打条码
      function BDPrint1() {
        var KeyValue = GetJqGridRowValue("#gridTable", "BILLNO");
         if (IsChecked(KeyValue)) {
         AddTabMenu("BDGCPrintCodeReportIndex1", "@Url.Content("~/ReportManager/PrintViewReport/BDGCPrintCodeReportIndex1")?KeyValue="+KeyValue, "补打条码", "page_white_edit.png", true, true, true);
        }
    }

     
 
    //批次新增回调
    function CallBackEventCY() {
        windowload();
    }

    //刷新
    function windowload() {
        $("#gridTable").trigger("reloadGrid"); //重新载入
    }
    //打开读卡器
    //res:1-打开读卡器失败,2-打开射频卡片失败,0-成功。
    var CardNumber = "";
    function CardOpen() {
        var res = 100;
        var version = MWRFATL.OpenReader();
        var iRet = MWRFATL.LastRet;
        //蜂鸣30
        MWRFATL.RF_Beep(30);
        if (iRet != 0) {
            res = 1;
            $('#msg').text('打开读卡器失败！');
            MWRFATL.CloseCard();
            iRet = MWRFATL.LastRet;
            MWRFATL.CloseReader();
            iRet = MWRFATL.LastRet;
        }
        else {
            $('#msg').text(version);
            CardNumber = MWRFATL.OpenCard(1);
            iRet = MWRFATL.LastRet;
            if (iRet != 0) {
                res = 1;
                $('#msg').text('IC卡没有放在读卡器上！');
            }
            else {
                res = 0;
                $('#msg').text(CardNumber);
            }
            MWRFATL.CloseReader();
            iRet = MWRFATL.LastRet;
        }
        return res;
    }

    function SetCardNo(CardNumber) {
        var arr = CardNumber.split('');
        var num = "";
        var len = arr.length - 1;
        for (i = 0; i <= len; i = i + 2) {
            num += arr[i] + arr[i + 1];
        }
        var cid = parseInt(num, 16);
        return cid;
    }

     function ReadCard() {
        CardOpen();
        var ICCard = "";
        if (IsNullOrEmpty(CardNumber)) {
            ICCard = SetCardNo(CardNumber);
            $("#ICCARD").val(ICCard);
            btn_Search();
        }
        if (ICCard == "") {
            tipDialog("读IC卡失败，IC卡序号为空！", 3, "");
            return false;
        }
    }
</script>
<object id="MWRFATL" style="display: none; width: 0px; height: 0px" codebase="~/RFReader/MwRFReader.cab#version=1,0,0,2"
    data="data:application/x-oleobject;base64,VPpLUhUXNkSyudxeJIvBwwADAAAAAAAAAAAAAA=="
    classid="CLSID:524BFA54-1715-4436-B2B9-DC5E248BC1C3">
</object>
<div class="leftline rightline" style="margin-left: 1px; margin-right: 1px;">
    <div class="tools_bar" style="margin-top: 1px; margin-bottom: 0px;">
        <div class="PartialButton">
            @Html.Partial("_PartialButton")
        </div>
    </div>
    <div class="QueryArea">
        <table border="0" class="form-find" style="height: 45px;">
            <tr>
                <th>
                    采样单号：
                </th>
                <td>
                    <input id="BILLNO" type="text" class="txt" style="width: 120px" />
                </td>
                <th>
                    制样单号：
                </th>
                <td>
                    <input id="PRINTCODE" type="text" class="txt" style="width: 120px" />
                </td>
                <th>
                    异型卡序号：
                </th>
                <td>
                    <input id="ICCARD" type="text" class="txt" style="width: 120px" />
                </td>
                <td>
                    <input id="btnRead" type="button" class="btnSearch" value="读 卡" onclick="ReadCard()" />
                </td>
            </tr>
            <tr>
                <th>
                    送检状态：
                </th>
                <td>
                    <select id="ISSEND" class=" select" style="width: 125px">
                        <option value="">全部</option>
                        <option value="0" selected="true">未送检</option>
                        <option value="1">已送检</option>
                    </select>
                </td>
                <th>
                    制单日期：
                </th>
                <td>
                    <input id="StartTime" type="text" class="txt Wdate" value="@EOS.Utilities.DateTimeHelper.GetDate(-1)" style="width: 120px" onfocus="var endDate=$dp.$('EndTime');WdatePicker({onpicked:function(){EndTime.focus();},maxDate:'#F{$dp.$D(\'EndTime\')}'})" />
                </td>
                <td>
                    -
                </td>
                <td>
                    <input id="EndTime" type="text" class="txt Wdate" value="@EOS.Utilities.DateTimeHelper.GetToday()" style="width: 120px" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'StartTime\')}'})" />
                </td>
                <td>
                    <input id="btnSearch" type="button" class="btnSearch" value="搜 索" onclick="btn_Search()" />
                </td>
            </tr>
        </table>
    </div>
    <div id="grid_List" class="topline">
        <table id="gridTable">
        </table>
        <div id="gridPager">
        </div>
    </div>
</div>
<style>
    .ui-widget-content
    {
        border-left: none;
    }
</style>
