@{
    ViewBag.Title = "转序采样管理";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script src="~/Content/Scripts/Report/CreateControl.js" type="text/javascript"></script>
<script type="text/javascript">
    var ModuleId = GetQuery('ModuleId'); //菜单主键
    var TypeStatus;
    var ICNO;
    CreateReport("Report");
    $(function () {   
        $("#Report").css("display","none");  
        GetGrid(); 
        GetGrid2("");    
        setTimeout(function(){ 
            Report.LoadFromURL("../../../../ReportView/grf/PrintCode.grf"); 
        },"500"); 
    })
     
    //搜索
    function btn_Search() {
        var StartTime = $("#StartTime").val();
        var EndTime = $("#EndTime").val();
        var BillNo = $("#NAME").val(); 
        var MATERIALNAME = $("#MATERIALNAME").val();  
        var LEADERDEPAS = $("#LEADERDEPAS").val(); 
        var CARNAME = $("#CARNAME").val(); 
        var CheckedTYPE = $("#TYPE")[0].checked.toString();
        var CheckedISSEND = $("#ISSEND")[0].checked.toString();
        $("#gridTable").jqGrid('setGridParam', {
            url: "@Url.Content("~/ZJZXManager/ZJZXCY/GetList")?StartTime=" + StartTime + '&EndTime=' + EndTime  + '&BillNo=' + escape(BillNo)+ '&MATERIALNAME=' + escape(MATERIALNAME) +'&LEADERDEPAS='+escape(LEADERDEPAS)  + '&CARNAME=' + escape(CARNAME) + '&CHECKTYPE=' + escape(CheckedTYPE) + '&CHECKISSEND=' + escape(CheckedISSEND), page: 1
        }).trigger('reloadGrid');
    }
    //加载表格
    function GetGrid() {
        var StartTime = $("#StartTime").val();
        var EndTime = $("#EndTime").val(); 
        $("#gridTable").jqGrid({
            url: "@Url.Content("~/ZJZXManager/ZJZXCY/GetList")?StartTime=" + StartTime + '&EndTime=' + EndTime,
            datatype: "json",
            height: $(window).height() - 150,
            autowidth:false,
            width: $(window).width()*0.70,
            colModel: [
                { label: 'ID', name: 'ID', index: 'ID', width: 180, align: 'left',align:'center',hidden:true }, 
                { label: '批号', name: 'BILLNO', index: 'BILLNO', width: 80, align: 'left',align:'center' },
                {
                    label: '类型', name: 'PCRAWTYPE', index: 'PCRAWTYPE', width: 60, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == '0') return "汽运";
                        if (cellvalue == '1') return "皮带秤"; 
                        if (cellvalue == '2') return "铁水";  
                    }
                }, 
                {
                    label: '状态', name: 'TYPE', index: 'TYPE', width: 100, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == '1') return "<span style='color:red;font-size:18px'>创建批号</span>";
                        if (cellvalue == '2') return "<span style='color:blue;font-size:18px'>组批中</span>";
                        if (cellvalue == '3') return "<span style='color:green;font-size:18px'>组批完成</span>";
                    }
                },
                {
                    label: '送检状态', name: 'ISSEND', index: 'ISSEND', width: 80, align: 'center',
                    formatter: function (cellvalue, options, rowObject) { 
                        if (cellvalue == '0') return "<span style='color:red;font-size:18px'>未送检</span>";
                        if (cellvalue == '1') return "<span style='color:green;font-size:18px'>已送检</span>";
                        if (!IsNull(cellvalue)) return "<span style='color:red;font-size:18px'>未送检</span>";
                    }
                },
                { label: '物料', name: 'MATERIALNAME', index: 'MATERIALNAME', width: 120, align: 'center'  }, 
                { label: '发货单位', name: 'LEADERDEPAS', index: 'LEADERDEPAS', width: 120, align: 'center'  },   
                { label: '采样车数', name: 'CARSNUM', index: 'CARSNUM', width: 80, align: 'center'  },  
                { label: '采样开始日期', name: 'DEF1', index: 'DEF1', width: 100, align: 'center' },
                { label: '采样结束日期', name: 'DEF2', index: 'DEF2', width: 100, align: 'center' },
                { label: '采样日期', name: 'CYDATE', index: 'CYDATE', width: 100, align: 'center' },
                { label: '创建人', name: 'CREUSER', index: 'CREUSER', width: 80, align: 'center' },
                {
                    label: '创建日期', name: 'CRETIME', index: 'CRETIME', width: 110, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM-dd hh:mm');
                    }
                },
                { label: '备注', name: 'MEMO', index: 'MEMO', width: 200, align: 'left' }
            ],
            viewrecords: true,
            rowNum: 30,
            rownumbers:true,
            rowList: [30, 50, 100, 500, 1000],
            pager: "#gridPager",
            sortname: 'CRETIME',
            sortorder: 'desc',
            shrinkToFit: false,
            gridview: true,
            subGrid: false,
            //单击事件
            onSelectRow: function (RowIndx) {  
                var MAINID = GetJqGridRowValue("#gridTable", "ID"); 
                $("#gridTable2").jqGrid('setGridParam', {
                    url: "@Url.Content("~/ZJZXManager/ZJZXCY/GetListItem")?MAINID=" + escape(MAINID), page: 1
                }).trigger('reloadGrid'); 
            } 
        });
        
    }

    function GetGrid2(MAINID) {  
        $("#gridTable2").jqGrid({ 
            url: "@Url.Content("~/ZJZXManager/ZJZXCY/GetListItem")?MAINID=" + escape(MAINID),
            datatype: "json",
            height: $(window).height() - 125,
            autowidth:false,
            width: $(window).width()*0.28,
            colModel: [ 
                { label: '车号', name: 'CARSNAME', index: 'CARSNAME', width: 60, align: 'center' },
                { label: '采样时间', name: 'CRETIME', index: 'CRETIME', width: 120, align: 'center' }, 
                { label: '重车时间', name: 'DEF14', index: 'DEF14', width: 120, align: 'center' }, 
                { label: '毛重', name: 'DEF4', index: 'DEF4', width: 60, align: 'center' },
                { label: '皮重', name: 'DEF5', index: 'DEF5', width: 60, align: 'center' },
                { label: '净重', name: 'DEF6', index: 'DEF6', width: 60, align: 'center' }
            ],
            viewrecords: true,
            rowNum: 100,
            rownumbers:true, 
            pager: false,
            sortname: 'CRETIME',
            sortorder: 'asc',
            shrinkToFit: false,
            gridview: true,
            subGrid: false

        });
        columnModelData("#gridTable2");
    } 
     
    //新增
    function btn_add() { 
        AddTabMenu("ZJZXCYAdd", "@Url.Content("~/ZJZXManager/ZJZXCY/ZJZXCYAdd")?ModuleId="+ModuleId, "新增采样", "page_white_add.png", true, true, true);
    }
     
    //编辑
    function btn_edit() { 
        var KeyValue = GetJqGridRowValue("#gridTable", "ID");
        if (IsChecked(KeyValue)) {
            GetStatus(KeyValue); 
            if(TypeStatus.TYPE!="3"){  
                var PCRAWTYPE = GetJqGridRowValue("#gridTable", "PCRAWTYPE");
                AddTabMenu("PCRawCYForm", "@Url.Content("~/ZJZXManager/ZJZXCY/ZJZXCYAdd")?ModuleId="+ModuleId+"&KeyValue="+escape(KeyValue), "编辑采样", "page_white_add.png", true, true, true);
            }else{
                tipDialog("组批完成无法编辑", 3, 0);
            }  
        }
    }
    //删除
    function btn_delete() {
        var KeyValue = GetJqGridRowValue("#gridTable", "ID");
        var BILLNO = GetJqGridRowValue("#gridTable", "BILLNO");
        if (IsDelData(KeyValue)) { 
            var delparm = 'KeyValue=' + KeyValue;
            delConfig('/ZJZXManager/ZJZXCY/DeleteItem', delparm, KeyValue.split(",").length,BILLNO);
        }
    }
    function delConfig(url, parm, count,BILLNO) {
        if (count == undefined) {
            count = 1;
        }
        confirmDialog("提示", "注：您确定要删除【"+BILLNO+"】当前组批记录吗？将会导致批次信息数据丢失,请谨慎操作", function (r) {
            if (r) {
                Loading(true, "正在删除数据...");
                window.setTimeout(function () {
                    AjaxJson(url, parm, function (data) {
                        tipDialog(data.Message, 3, data.Code);
                        if (data.Code > 0) {
                            windowload();
                        }
                    });
                }, 200);
            }
        });
    }
    //获取单据状态
    function GetStatus(KeyValue){ 
        AjaxJson("/ZJZXManager/ZJZXCY/GetZXStatus?KeyValue=" +escape(KeyValue), "", function (data) {
            if (data.Success) {
                TypeStatus = jQuery.parseJSON(data.Message);
            }else{
                tipDialog(data.Message, 3, data.Code);
                return;
            } 
        });
    }
     
    //补打条码
    function Print(){    
        var KeyValue = GetJqGridRowValue("#gridTable", "ID");
        var BILLNO = GetJqGridRowValue("#gridTable", "BILLNO");
        //var material = GetJqGridRowValue("#gridTable", "MATERIALNAME");
        if (IsChecked(KeyValue)) {
            GetStatus(KeyValue);
            if(TypeStatus.TYPE!="3"){ 
                tipDialog("组批未完成无法进行条码打印", 3, 0);
            } else{
                if(IsNull(TypeStatus.PRINTCODE)){
                    Report.ParameterByName("billno").AsString = TypeStatus.PRINTCODE;
                    Report.ParameterByName("material").AsString =TypeStatus.MATERIALNAME;
                    Report.Print(true); 
                }else{
                    tipDialog("获取条码失败", 3, 0);
                } 
            }  
        }
    }
     
    //完成
    function Finish(){
        var KeyValue = GetJqGridRowValue("#gridTable", "ID");
        if (IsChecked(KeyValue)) {
            AjaxJson("/ZJZXManager/ZJZXCY/PCZXCYFinishNew?KeyValue=" + escape(KeyValue), "", function (data) {
                if (data.Code == "1") {
                    windowload();
                }
                tipDialog(data.Message, 3, data.Code); 
            });  
        }
    }
    
    //取消完成
    function UNFinish(){
        var KeyValue = GetJqGridRowValue("#gridTable", "ID");
        if (IsChecked(KeyValue)) {
            AjaxJson("/ZJZXManager/ZJZXCY/PCZXCYUNFinish?KeyValue=" + escape(KeyValue), "", function (data) {
                if (data.Code == "1") {
                    windowload();
                }
                tipDialog(data.Message, 3, data.Code); 
            });  
        }
    }

    //移除组批明细
    function DeleteCar(){
        var KeyValue = GetJqGridRowValue("#gridTable", "ID");
        var BILLNO = GetJqGridRowValue("#gridTable", "BILLNO");
        
        if (IsChecked(KeyValue)) { 
            var stime = "", etime = "";
            if (IsNull(KeyValue)) {
                //不为空 编辑
                GetStatus(KeyValue);
                stime = TypeStatus.DEF1;
                etime = TypeStatus.DEF2;
            }  
            var url = "/ZJZXManager/ZJZXCY/ZJZXCYDeleteCar?Type=0&FormID=@ViewBag.FormID&KeyValue=" + escape(KeyValue)+"&BILLNO="+escape(BILLNO);
            Dialog(url, "ZJZXCYDeleteCar", "移除组批明细", 900, 400);
        }
    }

    //移入组批明细
    function AddDetailsCar(){
        var KeyValue = GetJqGridRowValue("#gridTable", "ID");
        var BILLNO = GetJqGridRowValue("#gridTable", "BILLNO");
        if (IsChecked(KeyValue)) {  
            var url = "/ZJZXManager/ZJZXCY/ZJZXCYAddCar?Type=0&FormID=@ViewBag.FormID&KeyValue=" + escape(KeyValue)+"&BILLNO="+escape(BILLNO);
            Dialog(url, "ZJZXCYAddCar", "移入组批明细", 1000, 400);
        }
    }
    //批量采样
    function btn_allcy() {
        var KeyValue = GetJqGridRowValue("#gridTable", "ID");
        if (IsChecked(KeyValue)) {
            GetStatus(KeyValue); 
            if(TypeStatus.TYPE!="3"){ 
                AjaxJson("/ZJZXManager/ZJZXCY/PCZXALLCY?KeyValue=" + escape(KeyValue)+"&type=1", "", function (data) {
                    if (data.Code == "1") {
                        windowload();
                        tipDialog(data.Message, 3, data.Code); 
                    } else if(data.Code=="-2"){
                        //多选发货单位 
                        var url = "/ZJZXManager/ZJZXCY/ZJZXCYSelectFHUnit?Type=0&FormID=@ViewBag.FormID&KeyValue=" + escape(KeyValue);
                        Dialog(url, "ZJZXCYSelectFHUnit", "选择发货单位", 800, 400);
                    } else{
                        tipDialog(data.Message, 3, data.Code); 
                    } 
                });
            } else{
                tipDialog("组批完成无法批量采样", 3, 0);
            }  
        }
    }
    //批量采样(有权限)  忽略完成状态
    function btn_allcy2() {
        var KeyValue = GetJqGridRowValue("#gridTable", "ID");
        if (IsChecked(KeyValue)) {
            GetStatus(KeyValue); 
            if(TypeStatus.TYPE!="3"){ 
                AjaxJson("/ZJZXManager/ZJZXCY/PCZXALLCY?KeyValue=" + escape(KeyValue)+"&type=2", "", function (data) {
                    if (data.Code == "1") {
                        windowload();
                        tipDialog(data.Message, 3, data.Code); 
                    } else if(data.Code=="-2"){
                        //多选发货单位 
                        var url = "/ZJZXManager/ZJZXCY/ZJZXCYSelectFHUnit?Type=0&FormID=@ViewBag.FormID&KeyValue=" + escape(KeyValue);
                        Dialog(url, "ZJZXCYSelectFHUnit", "选择发货单位", 800, 400);
                    } else{
                        tipDialog(data.Message, 3, data.Code); 
                    } 
                });
            } else{
                tipDialog("组批完成无法批量采样", 3, 0);
            }  
        }
    }
    //采样抽检
    function btn_cycj(){
        var KeyValue = GetJqGridRowValue("#gridTable", "ID");
        var MATERIALNAME =  GetJqGridRowValue("#gridTable", "MATERIALNAME");
        if (IsChecked(KeyValue)) {
            AddTabMenu("ZJZXCYCJForm", "@Url.Content("~/ZJZXManager/ZJZXCY/ZJZXCYCJForm")?ModuleId="+ModuleId+"&MATERIALNAME="+escape(MATERIALNAME), "编辑采样抽检", "page_white_add.png", true, true, true);
//            GetStatus(KeyValue); 
//            if(TypeStatus.TYPE!="3"){  
//                AddTabMenu("ZJZXCYCJForm", "@Url.Content("~/ZJZXManager/ZJZXCY/ZJZXCYCJForm")?ModuleId="+ModuleId+"&KeyValue="+escape(KeyValue), "编辑采样抽检", "page_white_add.png", true, true, true);
//            } else{
//                tipDialog("组批完成无法采样抽检", 3, 0);
//            }  
        }
    }

    //选择发货单位回调
    function CallBackEventFHUnit(KeyValue,PK_LEADERDEPAS,LEADERDEPAS){
        AjaxJson("/ZJZXManager/ZJZXCY/PCZXALLCYForLEADERDEPAS?KeyValue=" + escape(KeyValue)+"&PK_LEADERDEPAS="+escape(PK_LEADERDEPAS)+"&LEADERDEPAS="+escape(LEADERDEPAS), "", function (data) {
            if (data.Code == "1") {
                windowload();
            }  
            tipDialog(data.Message, 3, data.Code); 
        });
    }
    //刷新
    function windowload() {
        $("#gridTable").trigger("reloadGrid"); //重新载入
    }
</script>
<div class="leftline rightline" style="margin-left: 1px; margin-right: 1px;">
    <div class="tools_bar" style="margin-top: 1px; margin-bottom: 0px;">
        <div class="PartialButton">
            @Html.Partial("_PartialButton")
        </div>
    </div>
    <div class="QueryArea">
        <table border="0" class="form-find" style="height: 45px;">
            <tr>
                <th>
                    批号：
                </th>
                <td>
                    <input id="NAME" type="text" class="txt" style="width: 100px" />
                </td>
                <th>
                    车号：
                </th>
                <td>
                    <input id="CARNAME" type="text" class="txt" style="width: 100px" />
                </td>
                <th>
                    物料：
                </th>
                <td>
                    <input id="MATERIALNAME" type="text" class="txt" style="width: 100px" />
                </td>
                <th>
                    发货单位：
                </th>
                <td>
                    <input id="LEADERDEPAS" type="text" class="txt" style="width: 100px" />
                </td>
                <th>
                    制单日期：
                </th>
                <td>
                    <input id="StartTime" type="text" class="txt Wdate" value="@EOS.Utilities.DateTimeHelper.GetDate(-7)" style="width: 120px" onfocus="var endDate=$dp.$('EndTime');WdatePicker({onpicked:function(){EndTime.focus();},maxDate:'#F{$dp.$D(\'EndTime\')}'})" />
                </td>
                <td>
                    -
                </td>
                <td>
                    <input id="EndTime" type="text" class="txt Wdate" value="@EOS.Utilities.DateTimeHelper.GetToday()" style="width: 120px" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'StartTime\')}'})" />
                </td>
                <td>
                    <input id="btnSearch" type="button" class="btnSearch" value="搜 索" onclick="btn_Search()" />
                </td>
                <td>
                    <span class="item">
                        <input type="checkbox" name="checkbox" id="TYPE" />
                        <label for="TYPE">
                            组批完成</label>
                    </span>
                </td>
                <td>
                    <span class="item">
                        <input type="checkbox" name="checkbox" id="ISSEND" />
                        <label for="ISSEND">
                            已送检</label>
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <div id="grid_List" class="topline">
        <div style="float: left; border-right: 1px solid #ccc">
            <table id="gridTable">
            </table>
            <div id="gridPager">
            </div>
        </div>
        <div style="float: left; border-left: 1px solid #ccc">
            <table id="gridTable2">
            </table>
        </div>
    </div>
</div>
<style>
    .ui-widget-content
    {
        border-left: none;
    }
</style>
